// SPDX-FileCopyrightText: 2023 Carl Schwan <carl@carlschwan.eu>
// SPDX-License-Identifier: LGPL-2.0-or-later

@import './base';

.container-feature {
  h2 {
    margin-top: 0;
  }
}

.small-fdroid img {
  height: 80px;
}

.itinerary {
  h2 {
    margin-top: 0;
  }
  img {
    height: 80px;
  }
}

#main {
  .apps {
    background: linear-gradient(128deg, #01d486 0%, #3daee8 100%);
    a:not(.btn) {
      color: white !important;
    }
  }
  .okular {
    background: linear-gradient(128deg, #B25012 0%, #741859 100%);
  }
  .labplotg {
    background: linear-gradient(40deg ,#0068c6, #09264b 50%, #33304b);
    color: #fff;
    li {
      text-align: left;
    }
  }
}

.large-container {
  max-width: 1700px;
}

.student-section {
  min-height: 600px;
}

#features-hero {
  background: url('/for/students/background.png');
  background-size: cover;
  background-position: bottom;

  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2, p {
    color: white !important;
    text-align: center;
  }
  h2 {
    max-width: 1000px;

    @media (max-width: 1000px) {
      padding-top: 2rem;
    }
  }
  p {
    max-width: 800px;
    @media (max-width: 1000px) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
}

.footer-background {
  height: 12rem;
  font-size: 1.0em;
  clip-path: url("#slim-footer-clip");
  background: linear-gradient(to top, #001725 0%, #01194d 100%);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.plasma-logo {
  width: 128px;
  height: auto;
}

.plasma-box {
  max-width: 500px;
  text-align: center;
  border-top-width: 0.5rem;
  border-top-style: solid;
  flex-grow: 2;
  padding: 2rem;
  &-container {
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
  }
  &-header {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3 {
    margin-top: 0;
    vertical-align: middle;
    display: inline;
  }
  &-blue {
    background-color: #003D63;
    border-top-color: #009FFF;
  }
  &-orange {
    background-color: #291F1A;
    border-top-color: #FF5C00;
  }
  &-purple {
    background-color: #1D1B3E;
    border-top-color: #603B9C;
  }
}

#main {
  .mentor {
    color: black;
    background-color: #f4f8ea;
    h2, h3 {
      color: #46417a !important;
    }
    a:not(.btn) {
      color: #024673 !important;
    }
  }
}
