<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadi-21.04.2.tar.xz">akonadi-21.04.2</a></td>
   <td align="right">1572kB</td>
   <td><tt>ed0e551f5728a785b03ba285ecaa4a5cb969e733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadi-calendar-21.04.2.tar.xz">akonadi-calendar-21.04.2</a></td>
   <td align="right">345kB</td>
   <td><tt>3ae552eb3e797b3f9d71697b521df0b61d245144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadi-calendar-tools-21.04.2.tar.xz">akonadi-calendar-tools-21.04.2</a></td>
   <td align="right">231kB</td>
   <td><tt>894080e976262ad222fb83da3cf5f5ed24e21a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadiconsole-21.04.2.tar.xz">akonadiconsole-21.04.2</a></td>
   <td align="right">197kB</td>
   <td><tt>fceab12648c6baeff395a01e5084acda118df2ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadi-contacts-21.04.2.tar.xz">akonadi-contacts-21.04.2</a></td>
   <td align="right">414kB</td>
   <td><tt>7f86602fae7195524009e56179176fb9f3dab2ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadi-import-wizard-21.04.2.tar.xz">akonadi-import-wizard-21.04.2</a></td>
   <td align="right">500kB</td>
   <td><tt>f7d636064259f22c1b9304378a5959a0c150f04b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadi-mime-21.04.2.tar.xz">akonadi-mime-21.04.2</a></td>
   <td align="right">138kB</td>
   <td><tt>23d4e8e5fde6dad14d177d639b43d6f3db06013f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadi-notes-21.04.2.tar.xz">akonadi-notes-21.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>88251c6cd805c8ec76bc5ce2eb124d8af39cf1f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akonadi-search-21.04.2.tar.xz">akonadi-search-21.04.2</a></td>
   <td align="right">95kB</td>
   <td><tt>e5dcd758f0fcb2d4a01585c480335670584be68a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/akregator-21.04.2.tar.xz">akregator-21.04.2</a></td>
   <td align="right">2197kB</td>
   <td><tt>defd4c5a4f4296164ffe97156491d992befad913</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/analitza-21.04.2.tar.xz">analitza-21.04.2</a></td>
   <td align="right">337kB</td>
   <td><tt>9a20a7988904f6ad50b2df1d459148a55fb2f184</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ark-21.04.2.tar.xz">ark-21.04.2</a></td>
   <td align="right">2692kB</td>
   <td><tt>14540d80db71984c2125964020fd80bf29ea9dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/artikulate-21.04.2.tar.xz">artikulate-21.04.2</a></td>
   <td align="right">1064kB</td>
   <td><tt>a00c69f32094dcb6b5d842d3ffb28b6523c27763</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/audiocd-kio-21.04.2.tar.xz">audiocd-kio-21.04.2</a></td>
   <td align="right">505kB</td>
   <td><tt>d337230a6950e0270a70baa8fa5d538f8787b5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/baloo-widgets-21.04.2.tar.xz">baloo-widgets-21.04.2</a></td>
   <td align="right">256kB</td>
   <td><tt>d4d14cfa2dba1785bcf09e6ca5f9a0cee6f3147b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/blinken-21.04.2.tar.xz">blinken-21.04.2</a></td>
   <td align="right">2649kB</td>
   <td><tt>9d466e1862490838b9e2c5dcb218776b0c00f9e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/bomber-21.04.2.tar.xz">bomber-21.04.2</a></td>
   <td align="right">809kB</td>
   <td><tt>afa66ebdee43be2702e0c926ee24987a3101d782</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/bovo-21.04.2.tar.xz">bovo-21.04.2</a></td>
   <td align="right">202kB</td>
   <td><tt>33c13c361c5d7ce85072b76b906d74cd6709f2f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/calendarsupport-21.04.2.tar.xz">calendarsupport-21.04.2</a></td>
   <td align="right">737kB</td>
   <td><tt>4d1ae5c5cff78fb4422bdd69ae632e076c87d3ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/cantor-21.04.2.tar.xz">cantor-21.04.2</a></td>
   <td align="right">8931kB</td>
   <td><tt>7d3e820ab88bece58c9409556e62d53246c6d5a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/cervisia-21.04.2.tar.xz">cervisia-21.04.2</a></td>
   <td align="right">1866kB</td>
   <td><tt>0cfb26e85a5ba48a5bd59d606902838dc265e58f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/dolphin-21.04.2.tar.xz">dolphin-21.04.2</a></td>
   <td align="right">5106kB</td>
   <td><tt>068e60d9a8deae86363675cb3498a21a2ba0912a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/dolphin-plugins-21.04.2.tar.xz">dolphin-plugins-21.04.2</a></td>
   <td align="right">247kB</td>
   <td><tt>e771609c241e605d3cb021fa152001fc7ca145ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/dragon-21.04.2.tar.xz">dragon-21.04.2</a></td>
   <td align="right">1626kB</td>
   <td><tt>afe1ccf78324ff2dd46cf32053b7505e3184832d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/elisa-21.04.2.tar.xz">elisa-21.04.2</a></td>
   <td align="right">1684kB</td>
   <td><tt>fbd4811784fa32c2e1a607fdbb4f28cee4abbc21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/eventviews-21.04.2.tar.xz">eventviews-21.04.2</a></td>
   <td align="right">436kB</td>
   <td><tt>dab6fdbd5b77647febf496d52815ee692496123c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ffmpegthumbs-21.04.2.tar.xz">ffmpegthumbs-21.04.2</a></td>
   <td align="right">32kB</td>
   <td><tt>06f0a4198c4a1312ce8452bcd7fb7dba3cc7dd54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/filelight-21.04.2.tar.xz">filelight-21.04.2</a></td>
   <td align="right">664kB</td>
   <td><tt>b8dc88d2c4e811b1757f40380c9caa1e07edb0d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/granatier-21.04.2.tar.xz">granatier-21.04.2</a></td>
   <td align="right">1907kB</td>
   <td><tt>33c798462ac4710670ef483ef1eac443e65390d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/grantlee-editor-21.04.2.tar.xz">grantlee-editor-21.04.2</a></td>
   <td align="right">109kB</td>
   <td><tt>999f1dc6ff8e3232df2d81093de5524c234070c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/grantleetheme-21.04.2.tar.xz">grantleetheme-21.04.2</a></td>
   <td align="right">59kB</td>
   <td><tt>c8cc4c0f2b97d32d860f4860d670726f9322e2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/gwenview-21.04.2.tar.xz">gwenview-21.04.2</a></td>
   <td align="right">6613kB</td>
   <td><tt>443f1668b1887709b73a3560c2ca5d94bcb09b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/incidenceeditor-21.04.2.tar.xz">incidenceeditor-21.04.2</a></td>
   <td align="right">527kB</td>
   <td><tt>6951a6e597853b0c2d7c1083328bbd8ac7a58f2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/itinerary-21.04.2.tar.xz">itinerary-21.04.2</a></td>
   <td align="right">373kB</td>
   <td><tt>ec67a4368ee38d8301c16544d31313da26dffed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/juk-21.04.2.tar.xz">juk-21.04.2</a></td>
   <td align="right">1963kB</td>
   <td><tt>98827f710249336d480fc245b4a22e8e6fc2275f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/k3b-21.04.2.tar.xz">k3b-21.04.2</a></td>
   <td align="right">10491kB</td>
   <td><tt>2815f5a758e721cec57ad8f0d3aa8b3afe5759e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kaccounts-integration-21.04.2.tar.xz">kaccounts-integration-21.04.2</a></td>
   <td align="right">83kB</td>
   <td><tt>57f2576d23cfeb6c78b66272ba53b79c312af907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kaccounts-providers-21.04.2.tar.xz">kaccounts-providers-21.04.2</a></td>
   <td align="right">61kB</td>
   <td><tt>b13ebdc66ecc76af50ad99b474ddd711ec60e50a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kaddressbook-21.04.2.tar.xz">kaddressbook-21.04.2</a></td>
   <td align="right">3251kB</td>
   <td><tt>83d703dfa5a6773673b4df964a0a2f5773f8bf58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kajongg-21.04.2.tar.xz">kajongg-21.04.2</a></td>
   <td align="right">4368kB</td>
   <td><tt>7c466a92565ed1189803a23d618690af8867fef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kalarm-21.04.2.tar.xz">kalarm-21.04.2</a></td>
   <td align="right">2087kB</td>
   <td><tt>99790fe082238a7eb397531c2def9e4b069d7543</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kalarmcal-21.04.2.tar.xz">kalarmcal-21.04.2</a></td>
   <td align="right">614kB</td>
   <td><tt>a79291c581d9cd2a3de05dfeeb2429664a2d7dc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kalgebra-21.04.2.tar.xz">kalgebra-21.04.2</a></td>
   <td align="right">1001kB</td>
   <td><tt>0afc92c4ccd23c0fce523cc69f6f5ac7208ad32a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kalzium-21.04.2.tar.xz">kalzium-21.04.2</a></td>
   <td align="right">24013kB</td>
   <td><tt>3d7c755b2d7159700df10d086789ea87f1c7224e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kamera-21.04.2.tar.xz">kamera-21.04.2</a></td>
   <td align="right">112kB</td>
   <td><tt>f765bf2cbcb2ed8fd3b0a572474663fec566e6f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kamoso-21.04.2.tar.xz">kamoso-21.04.2</a></td>
   <td align="right">207kB</td>
   <td><tt>3604b790619c54e098f34dfbe7cda12166765574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kanagram-21.04.2.tar.xz">kanagram-21.04.2</a></td>
   <td align="right">7851kB</td>
   <td><tt>8c55ea3b094d085b8d424acd78ff50dead9d7024</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kapman-21.04.2.tar.xz">kapman-21.04.2</a></td>
   <td align="right">2472kB</td>
   <td><tt>1afec3993ed9c76805a1f59d6c706fa6f81f753b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kapptemplate-21.04.2.tar.xz">kapptemplate-21.04.2</a></td>
   <td align="right">326kB</td>
   <td><tt>152c1520a94b152d3788da755e1e1af6c32e6f25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kate-21.04.2.tar.xz">kate-21.04.2</a></td>
   <td align="right">7105kB</td>
   <td><tt>360d1f645776c105a6a22c80724c21c5cbcd40ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/katomic-21.04.2.tar.xz">katomic-21.04.2</a></td>
   <td align="right">1400kB</td>
   <td><tt>d6966360195b5db6058a21472464009778b01fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kbackup-21.04.2.tar.xz">kbackup-21.04.2</a></td>
   <td align="right">374kB</td>
   <td><tt>6c635ed90abb79d5d2764d8d9061aee4e272b6a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kblackbox-21.04.2.tar.xz">kblackbox-21.04.2</a></td>
   <td align="right">444kB</td>
   <td><tt>3c14862b4fc1bc6a121e0771e643c4cda8456ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kblocks-21.04.2.tar.xz">kblocks-21.04.2</a></td>
   <td align="right">1866kB</td>
   <td><tt>c9d2696b0415260ed562ba681fa7445b8b021c17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kbounce-21.04.2.tar.xz">kbounce-21.04.2</a></td>
   <td align="right">3366kB</td>
   <td><tt>a62d5941111c30e48a1b26250ebea5136188f13f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kbreakout-21.04.2.tar.xz">kbreakout-21.04.2</a></td>
   <td align="right">2230kB</td>
   <td><tt>c1251bc4c27124a5d780a6e86b9a630449bf14e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kbruch-21.04.2.tar.xz">kbruch-21.04.2</a></td>
   <td align="right">5495kB</td>
   <td><tt>72c8f3aa36acfc98793aa47d073888c9907bcc3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kcachegrind-21.04.2.tar.xz">kcachegrind-21.04.2</a></td>
   <td align="right">833kB</td>
   <td><tt>47062e44895bbb390b91253cdf6fffb64c69a7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kcalc-21.04.2.tar.xz">kcalc-21.04.2</a></td>
   <td align="right">363kB</td>
   <td><tt>0f5bd4fb61bf1dd64041d69be2d973657dd226b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kcalutils-21.04.2.tar.xz">kcalutils-21.04.2</a></td>
   <td align="right">326kB</td>
   <td><tt>f47d37f76d0b098a41761d34a2c4cdcbf0028546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kcharselect-21.04.2.tar.xz">kcharselect-21.04.2</a></td>
   <td align="right">359kB</td>
   <td><tt>a02e3b31b165482fdc5cdd8b860b17d8c3a6c01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kcolorchooser-21.04.2.tar.xz">kcolorchooser-21.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>6b22e6f4a980da1a94ca43a7671b7e6fe3594ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kcron-21.04.2.tar.xz">kcron-21.04.2</a></td>
   <td align="right">890kB</td>
   <td><tt>b843a0e006e8a252b8a766363c8b757bdae2a147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdebugsettings-21.04.2.tar.xz">kdebugsettings-21.04.2</a></td>
   <td align="right">85kB</td>
   <td><tt>29bde9e22bb5311b52802358b06ece6dac9c104b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdeconnect-kde-21.04.2.tar.xz">kdeconnect-kde-21.04.2</a></td>
   <td align="right">553kB</td>
   <td><tt>cb4882319fcafb72db5cbfb45fec4e6eda854d24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kde-dev-scripts-21.04.2.tar.xz">kde-dev-scripts-21.04.2</a></td>
   <td align="right">357kB</td>
   <td><tt>a8c4eb8cb2f77163e4954f05d36627c32eab5422</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kde-dev-utils-21.04.2.tar.xz">kde-dev-utils-21.04.2</a></td>
   <td align="right">66kB</td>
   <td><tt>fb02c3754d86ef384f6018be50865e37ea674ca5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdeedu-data-21.04.2.tar.xz">kdeedu-data-21.04.2</a></td>
   <td align="right">327kB</td>
   <td><tt>80e563adcd51b175142d61c51bddb63effa3e672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdegraphics-mobipocket-21.04.2.tar.xz">kdegraphics-mobipocket-21.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>56b7f7ce3084b6c5bb1747bf8e7a54043fc0f32b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdegraphics-thumbnailers-21.04.2.tar.xz">kdegraphics-thumbnailers-21.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>a8470b3fc28578dbc1ab4bbe7e4224825da6d8a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdenetwork-filesharing-21.04.2.tar.xz">kdenetwork-filesharing-21.04.2</a></td>
   <td align="right">367kB</td>
   <td><tt>aa02d77d02bb6045d083a9a0ced0caaf025776fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdenlive-21.04.2.tar.xz">kdenlive-21.04.2</a></td>
   <td align="right">11496kB</td>
   <td><tt>dd106308c4d4bd9e4e5e6f5466254cf6cf915030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdepim-addons-21.04.2.tar.xz">kdepim-addons-21.04.2</a></td>
   <td align="right">2217kB</td>
   <td><tt>38c6e9cea24ab1be884eeb5a759635ded8e6f914</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdepim-runtime-21.04.2.tar.xz">kdepim-runtime-21.04.2</a></td>
   <td align="right">1778kB</td>
   <td><tt>0c4678b51e7c6d496cc7b9f170bc481f483fd0d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdesdk-kioslaves-21.04.2.tar.xz">kdesdk-kioslaves-21.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>ee6fc3053433c5959792e13aac635d77e50981b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdesdk-thumbnailers-21.04.2.tar.xz">kdesdk-thumbnailers-21.04.2</a></td>
   <td align="right">17kB</td>
   <td><tt>1ebaf18652fc3c4e777b918b20285bf623e01fd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdf-21.04.2.tar.xz">kdf-21.04.2</a></td>
   <td align="right">461kB</td>
   <td><tt>33fff8321a20d0f3a1b58919098687926e77eb4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdialog-21.04.2.tar.xz">kdialog-21.04.2</a></td>
   <td align="right">111kB</td>
   <td><tt>4ba1e7d5ec0b59cb4f1c34b89b861a16f6447daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kdiamond-21.04.2.tar.xz">kdiamond-21.04.2</a></td>
   <td align="right">4587kB</td>
   <td><tt>cc3d6475aaa4b0c8377ada6ebaf6e1af8384dcd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/keditbookmarks-21.04.2.tar.xz">keditbookmarks-21.04.2</a></td>
   <td align="right">195kB</td>
   <td><tt>50acdaae4caffa78fd5f6d69f268962c8273523f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kfind-21.04.2.tar.xz">kfind-21.04.2</a></td>
   <td align="right">277kB</td>
   <td><tt>2a2a20eb82722a74a98c76782eca94e7219fe9ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kfloppy-21.04.2.tar.xz">kfloppy-21.04.2</a></td>
   <td align="right">205kB</td>
   <td><tt>1105ca5b11b4d9dcdb3eba4fcf0e42420c9493ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kfourinline-21.04.2.tar.xz">kfourinline-21.04.2</a></td>
   <td align="right">635kB</td>
   <td><tt>3213b53185f85c3d6acea8900a2abefe1496130d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kgeography-21.04.2.tar.xz">kgeography-21.04.2</a></td>
   <td align="right">10737kB</td>
   <td><tt>cbc85f67fb9bccd846a2a9199ed945ffa524a264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kget-21.04.2.tar.xz">kget-21.04.2</a></td>
   <td align="right">5503kB</td>
   <td><tt>7859dc36514dec1df7cc434cb290f169afc1fb02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kgoldrunner-21.04.2.tar.xz">kgoldrunner-21.04.2</a></td>
   <td align="right">4383kB</td>
   <td><tt>949e4063b3eefe66a5f2635527c2fd7da0fc9027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kgpg-21.04.2.tar.xz">kgpg-21.04.2</a></td>
   <td align="right">2868kB</td>
   <td><tt>0ddac9ab00b4adb7747672fd7e41f6e6dae4b313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/khangman-21.04.2.tar.xz">khangman-21.04.2</a></td>
   <td align="right">7248kB</td>
   <td><tt>d2c89f2f653c099fb9a276f981f0cf2d8188687a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/khelpcenter-21.04.2.tar.xz">khelpcenter-21.04.2</a></td>
   <td align="right">4178kB</td>
   <td><tt>d023f369a4afb96d561bd3196a556570c09490c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kidentitymanagement-21.04.2.tar.xz">kidentitymanagement-21.04.2</a></td>
   <td align="right">152kB</td>
   <td><tt>aedb41f3a640a831612982a0c87a1b11075078f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kig-21.04.2.tar.xz">kig-21.04.2</a></td>
   <td align="right">3092kB</td>
   <td><tt>a08f5181c4b4ce9572386f390bba88adb942ea63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kigo-21.04.2.tar.xz">kigo-21.04.2</a></td>
   <td align="right">5122kB</td>
   <td><tt>64bedd073ce75278e93422814939da5e6dae378f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/killbots-21.04.2.tar.xz">killbots-21.04.2</a></td>
   <td align="right">1158kB</td>
   <td><tt>94c0dbe665b2478d1ef53abe6a7de867298ec359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kimagemapeditor-21.04.2.tar.xz">kimagemapeditor-21.04.2</a></td>
   <td align="right">1063kB</td>
   <td><tt>caec4a1222e95c443774b9967a74eac477288533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kimap-21.04.2.tar.xz">kimap-21.04.2</a></td>
   <td align="right">125kB</td>
   <td><tt>4227c867fa46e5a467b54daa1128d9e6b24a8552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kio-extras-21.04.2.tar.xz">kio-extras-21.04.2</a></td>
   <td align="right">647kB</td>
   <td><tt>ffe1c5c4771afee1e7e7be3ab2d1c95fb36806fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kio-gdrive-21.04.2.tar.xz">kio-gdrive-21.04.2</a></td>
   <td align="right">66kB</td>
   <td><tt>80a31af854a4e9c71fb7e8fee1fe4b25f44c737f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kipi-plugins-21.04.2.tar.xz">kipi-plugins-21.04.2</a></td>
   <td align="right">1615kB</td>
   <td><tt>24f549701637de5cdd98512d88fbb1be77dbb902</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kirigami-gallery-21.04.2.tar.xz">kirigami-gallery-21.04.2</a></td>
   <td align="right">321kB</td>
   <td><tt>4196b342b21e0cbf29ade7b24b5d93e19a3f131c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kiriki-21.04.2.tar.xz">kiriki-21.04.2</a></td>
   <td align="right">370kB</td>
   <td><tt>da62c41418cbc4af58f70ac6195766760cc52cdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kiten-21.04.2.tar.xz">kiten-21.04.2</a></td>
   <td align="right">11047kB</td>
   <td><tt>eeb33d14fa744f86911b6573c478484956c60391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kitinerary-21.04.2.tar.xz">kitinerary-21.04.2</a></td>
   <td align="right">1780kB</td>
   <td><tt>e03d494026f46291127fb0943ecb64e344b32be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kjumpingcube-21.04.2.tar.xz">kjumpingcube-21.04.2</a></td>
   <td align="right">288kB</td>
   <td><tt>ae302e3ea405e00ae2db50e416b51c29a79f52a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kldap-21.04.2.tar.xz">kldap-21.04.2</a></td>
   <td align="right">168kB</td>
   <td><tt>4246e8877a680be413a7f858482c3e07e86c16df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kleopatra-21.04.2.tar.xz">kleopatra-21.04.2</a></td>
   <td align="right">2065kB</td>
   <td><tt>3c3620eda6620dbbc0c15386aeaf80339e5e73d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/klettres-21.04.2.tar.xz">klettres-21.04.2</a></td>
   <td align="right">46031kB</td>
   <td><tt>a8cb6828b65e5ce67dbda7585291f47cde68b87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/klickety-21.04.2.tar.xz">klickety-21.04.2</a></td>
   <td align="right">1361kB</td>
   <td><tt>99778b2c9c0995e54f1416f6b1bb49e5f8525608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/klines-21.04.2.tar.xz">klines-21.04.2</a></td>
   <td align="right">1752kB</td>
   <td><tt>176aa45a079c3a101b844278575c60ebc6434777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmag-21.04.2.tar.xz">kmag-21.04.2</a></td>
   <td align="right">689kB</td>
   <td><tt>293adb13fe2cae689febee6c02c662560fb22015</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmahjongg-21.04.2.tar.xz">kmahjongg-21.04.2</a></td>
   <td align="right">3359kB</td>
   <td><tt>760e04243e7ad8d2fc4807c3278a4eb4a2bf1a65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmail-21.04.2.tar.xz">kmail-21.04.2</a></td>
   <td align="right">6333kB</td>
   <td><tt>fa6d68a806b33153df3735de05cd721de1603521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmail-account-wizard-21.04.2.tar.xz">kmail-account-wizard-21.04.2</a></td>
   <td align="right">162kB</td>
   <td><tt>0855fc9df6901444c930bdab3aa49c9183e559c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmailtransport-21.04.2.tar.xz">kmailtransport-21.04.2</a></td>
   <td align="right">169kB</td>
   <td><tt>537aef9104daeabe0ace985b40bf169ea901d67d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmbox-21.04.2.tar.xz">kmbox-21.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>5246dd413a494ad0a3c32a3779b1b375cbe71d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmime-21.04.2.tar.xz">kmime-21.04.2</a></td>
   <td align="right">151kB</td>
   <td><tt>6bd663965925715a0fea57a8de957be1aaeb39e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmines-21.04.2.tar.xz">kmines-21.04.2</a></td>
   <td align="right">942kB</td>
   <td><tt>6b66b50071d1c820a6c9d305590e0d633e294f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmix-21.04.2.tar.xz">kmix-21.04.2</a></td>
   <td align="right">1134kB</td>
   <td><tt>cb600465d1b4cf27da7d64f01ffe08fcf312fc46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmousetool-21.04.2.tar.xz">kmousetool-21.04.2</a></td>
   <td align="right">117kB</td>
   <td><tt>3bb6d4db71e7095591620849cb7816f834d22cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmouth-21.04.2.tar.xz">kmouth-21.04.2</a></td>
   <td align="right">2050kB</td>
   <td><tt>21615049f31529f09e2b6f668faad19dcff68e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kmplot-21.04.2.tar.xz">kmplot-21.04.2</a></td>
   <td align="right">2972kB</td>
   <td><tt>958cf5fc68b30e6df12a405e16c1204cdb859f04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/knavalbattle-21.04.2.tar.xz">knavalbattle-21.04.2</a></td>
   <td align="right">1343kB</td>
   <td><tt>3f4309b4272589224e605b2d4469a2218e77b48f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/knetwalk-21.04.2.tar.xz">knetwalk-21.04.2</a></td>
   <td align="right">1241kB</td>
   <td><tt>00ed65388fe9b4c88ee9844373ce213ea13c167d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/knights-21.04.2.tar.xz">knights-21.04.2</a></td>
   <td align="right">3453kB</td>
   <td><tt>fe08dbbdcd725479028bb879c465e52b53e27668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/knotes-21.04.2.tar.xz">knotes-21.04.2</a></td>
   <td align="right">335kB</td>
   <td><tt>60ad75b4e255add64c5f5c4d28d040da330ff294</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kolf-21.04.2.tar.xz">kolf-21.04.2</a></td>
   <td align="right">1016kB</td>
   <td><tt>8162d6895843aa5af704de7c88acb4dde2793d05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kollision-21.04.2.tar.xz">kollision-21.04.2</a></td>
   <td align="right">283kB</td>
   <td><tt>6420129f0ade212e206d9b064d9d47a878229c1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kolourpaint-21.04.2.tar.xz">kolourpaint-21.04.2</a></td>
   <td align="right">5580kB</td>
   <td><tt>f0940793a118d60fc9a5cf9ba35df5802dc3e62b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kompare-21.04.2.tar.xz">kompare-21.04.2</a></td>
   <td align="right">920kB</td>
   <td><tt>4be99fec98755ee291e4d7305c752339ef2c34e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/konqueror-21.04.2.tar.xz">konqueror-21.04.2</a></td>
   <td align="right">7236kB</td>
   <td><tt>f506572aef0ef42a9bbe1b6ba8ac229f12ac94e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/konquest-21.04.2.tar.xz">konquest-21.04.2</a></td>
   <td align="right">655kB</td>
   <td><tt>059b95f581874c5d9450133fdd787496c7ee7b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/konsole-21.04.2.tar.xz">konsole-21.04.2</a></td>
   <td align="right">1304kB</td>
   <td><tt>8784dc587f53774481a61822a6d3ef43076f5a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kontact-21.04.2.tar.xz">kontact-21.04.2</a></td>
   <td align="right">790kB</td>
   <td><tt>088819570db648b67237c0ce76ee2b21978955c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kontactinterface-21.04.2.tar.xz">kontactinterface-21.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>d801a728aaa333a6baedaae3b1e9ee0044851e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kontrast-21.04.2.tar.xz">kontrast-21.04.2</a></td>
   <td align="right">120kB</td>
   <td><tt>a10e4c7834441615d663e866107b05d7ad474095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/konversation-21.04.2.tar.xz">konversation-21.04.2</a></td>
   <td align="right">4152kB</td>
   <td><tt>a18db2f1c4be5cfdb1289c066b88b499cf453d02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kopeninghours-21.04.2.tar.xz">kopeninghours-21.04.2</a></td>
   <td align="right">61kB</td>
   <td><tt>69e69ce809bb0b7e2bd4cc3102127a6af8aa7ad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kopete-21.04.2.tar.xz">kopete-21.04.2</a></td>
   <td align="right">9437kB</td>
   <td><tt>5862675cc45c3e87bdb78a912d4e6168f2097c5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/korganizer-21.04.2.tar.xz">korganizer-21.04.2</a></td>
   <td align="right">2351kB</td>
   <td><tt>013210d7d28f3e6444740a16810990b3b78a545a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kosmindoormap-21.04.2.tar.xz">kosmindoormap-21.04.2</a></td>
   <td align="right">329kB</td>
   <td><tt>60511013bfdaba98b058b29626875827168a267d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kpat-21.04.2.tar.xz">kpat-21.04.2</a></td>
   <td align="right">3571kB</td>
   <td><tt>48150a9efd58521a5ddfe24189d5dd2b11b91dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kpimtextedit-21.04.2.tar.xz">kpimtextedit-21.04.2</a></td>
   <td align="right">201kB</td>
   <td><tt>f493cd68c52c3d499ccedbcc7af6a0bc1e7bf5b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kpkpass-21.04.2.tar.xz">kpkpass-21.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>5b6f7086a0f8ba1462f788a3bf65db0fa9580ec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kpmcore-21.04.2.tar.xz">kpmcore-21.04.2</a></td>
   <td align="right">572kB</td>
   <td><tt>6ca45827139ea9d9a23edfc9cea2f883c356fdc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kpublictransport-21.04.2.tar.xz">kpublictransport-21.04.2</a></td>
   <td align="right">383kB</td>
   <td><tt>2a12229f7da91db7bfdf829d315ba2aa319ced40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kqtquickcharts-21.04.2.tar.xz">kqtquickcharts-21.04.2</a></td>
   <td align="right">29kB</td>
   <td><tt>05580c37e405b63f8ff31978190c0661a828ab43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/krdc-21.04.2.tar.xz">krdc-21.04.2</a></td>
   <td align="right">1547kB</td>
   <td><tt>b157de082045b769cd1b79f7451951666a8587a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kreversi-21.04.2.tar.xz">kreversi-21.04.2</a></td>
   <td align="right">939kB</td>
   <td><tt>031b936877b3475d770c7586ad7da54cff7cc4e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/krfb-21.04.2.tar.xz">krfb-21.04.2</a></td>
   <td align="right">1262kB</td>
   <td><tt>6bd878a9a443defe1b3f93258ff45d7c5d405093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kross-interpreters-21.04.2.tar.xz">kross-interpreters-21.04.2</a></td>
   <td align="right">148kB</td>
   <td><tt>589b764108717d40ee9c722de36d8570df1bb6e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kruler-21.04.2.tar.xz">kruler-21.04.2</a></td>
   <td align="right">269kB</td>
   <td><tt>69d39048ed9c48008eb890d3e64cabc98195cd30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kshisen-21.04.2.tar.xz">kshisen-21.04.2</a></td>
   <td align="right">812kB</td>
   <td><tt>65840f33aba16eeeb5c27036a38120bfc381d9ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ksirk-21.04.2.tar.xz">ksirk-21.04.2</a></td>
   <td align="right">6833kB</td>
   <td><tt>b93b1784be59bbdb781ffe60026cbd6ab5ff789d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ksmtp-21.04.2.tar.xz">ksmtp-21.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>953f1f397441e1cdd39558066bf7f52d01f99be3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ksnakeduel-21.04.2.tar.xz">ksnakeduel-21.04.2</a></td>
   <td align="right">531kB</td>
   <td><tt>8e6107869bd9295f94092a91c7654f7d0b02ff4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kspaceduel-21.04.2.tar.xz">kspaceduel-21.04.2</a></td>
   <td align="right">607kB</td>
   <td><tt>10872c6b5f5963eb73ea7a93e0f2d2764cc62941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ksquares-21.04.2.tar.xz">ksquares-21.04.2</a></td>
   <td align="right">261kB</td>
   <td><tt>3b1d6b24b7ed84c62e1fa5e7ca8af79b5522f34f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ksudoku-21.04.2.tar.xz">ksudoku-21.04.2</a></td>
   <td align="right">1639kB</td>
   <td><tt>a3d3f74913b8113531a83e6aa5e8baa7257041b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ksystemlog-21.04.2.tar.xz">ksystemlog-21.04.2</a></td>
   <td align="right">1911kB</td>
   <td><tt>e06824d81bdd74343b9374d54b8bde18607c792c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kteatime-21.04.2.tar.xz">kteatime-21.04.2</a></td>
   <td align="right">291kB</td>
   <td><tt>95835866338e423442af9a12d6f257f59edd412e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktimer-21.04.2.tar.xz">ktimer-21.04.2</a></td>
   <td align="right">378kB</td>
   <td><tt>ec77d7ce68a4b0fba1e887d67122e7528888dd3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktnef-21.04.2.tar.xz">ktnef-21.04.2</a></td>
   <td align="right">299kB</td>
   <td><tt>5dff87ad9571166389527392ab4423f33e237cdb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktorrent-21.04.2.tar.xz">ktorrent-21.04.2</a></td>
   <td align="right">2042kB</td>
   <td><tt>f3f4d7c0ee9e5b979c38fb277adef097eecce730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktouch-21.04.2.tar.xz">ktouch-21.04.2</a></td>
   <td align="right">4845kB</td>
   <td><tt>48967914f8304ec10ea518824c0aebe645377fad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-accounts-kcm-21.04.2.tar.xz">ktp-accounts-kcm-21.04.2</a></td>
   <td align="right">259kB</td>
   <td><tt>8705b8d06f09bd542656c5e08b1a9baf3b53c0cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-approver-21.04.2.tar.xz">ktp-approver-21.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>160de102158bac629b7e327905dd08662b42c2fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-auth-handler-21.04.2.tar.xz">ktp-auth-handler-21.04.2</a></td>
   <td align="right">46kB</td>
   <td><tt>5572e02ac6c651e0eca93a6318e52a7595d30ce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-call-ui-21.04.2.tar.xz">ktp-call-ui-21.04.2</a></td>
   <td align="right">96kB</td>
   <td><tt>74f26717bd14d47a14c1592baf83b79a93f03c95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-common-internals-21.04.2.tar.xz">ktp-common-internals-21.04.2</a></td>
   <td align="right">440kB</td>
   <td><tt>20c08df671debadf5040734188ab3d409d3ae9f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-contact-list-21.04.2.tar.xz">ktp-contact-list-21.04.2</a></td>
   <td align="right">149kB</td>
   <td><tt>64a45c0a12813019fef3adca7c9e6b9220f919c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-contact-runner-21.04.2.tar.xz">ktp-contact-runner-21.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>cf767c2866899b8488524e66354568241e0fdebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-desktop-applets-21.04.2.tar.xz">ktp-desktop-applets-21.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>0c7c4cc16d451f8b2cf1770f559610b0c27fd1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-filetransfer-handler-21.04.2.tar.xz">ktp-filetransfer-handler-21.04.2</a></td>
   <td align="right">45kB</td>
   <td><tt>bf7d2385cfbb35afa5dbb2228bfb38c0e94f2550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-kded-module-21.04.2.tar.xz">ktp-kded-module-21.04.2</a></td>
   <td align="right">96kB</td>
   <td><tt>3ed172f5fb7583afe95ec1965cfeb7b2253f1a4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-send-file-21.04.2.tar.xz">ktp-send-file-21.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>bf3c02708379bb6d668e5ab1ac2dedc32d473dd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktp-text-ui-21.04.2.tar.xz">ktp-text-ui-21.04.2</a></td>
   <td align="right">463kB</td>
   <td><tt>6a97addf676ea3a97ab0df4d1d1898213964c7df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/ktuberling-21.04.2.tar.xz">ktuberling-21.04.2</a></td>
   <td align="right">69098kB</td>
   <td><tt>bc1dac637dd320ac7cbcd79be881b0b6cf46532c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kturtle-21.04.2.tar.xz">kturtle-21.04.2</a></td>
   <td align="right">1814kB</td>
   <td><tt>92de7f2c81a392d04770dca10386fae390deb8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kubrick-21.04.2.tar.xz">kubrick-21.04.2</a></td>
   <td align="right">335kB</td>
   <td><tt>735784c114024caeabb639b8fbfc8ee8f1de8cc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kwalletmanager-21.04.2.tar.xz">kwalletmanager-21.04.2</a></td>
   <td align="right">777kB</td>
   <td><tt>4fd5e21ea04dec5d00cf0bdbdedcbb2f98404302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kwave-21.04.2.tar.xz">kwave-21.04.2</a></td>
   <td align="right">6737kB</td>
   <td><tt>fba24e7eb054f3218a367e99d33eeebf2eee5529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/kwordquiz-21.04.2.tar.xz">kwordquiz-21.04.2</a></td>
   <td align="right">4109kB</td>
   <td><tt>270fd166dd3c8b6b22596c0478feb2c5a4f8f52e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libgravatar-21.04.2.tar.xz">libgravatar-21.04.2</a></td>
   <td align="right">34kB</td>
   <td><tt>8a689671c65a32e7327f1d82e550b7351375eb90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkcddb-21.04.2.tar.xz">libkcddb-21.04.2</a></td>
   <td align="right">420kB</td>
   <td><tt>909c6a28afe122939c2c4a5453fc0123d31b36cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkcompactdisc-21.04.2.tar.xz">libkcompactdisc-21.04.2</a></td>
   <td align="right">94kB</td>
   <td><tt>528805573fc950cf19f4f6750bcf860cdd8a0533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkdcraw-21.04.2.tar.xz">libkdcraw-21.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>5a50142eb30db754ec0e3043d632c033359b749a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkdegames-21.04.2.tar.xz">libkdegames-21.04.2</a></td>
   <td align="right">6254kB</td>
   <td><tt>8dff35fdfb62f0062ee559bbd8d724fc18d41991</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkdepim-21.04.2.tar.xz">libkdepim-21.04.2</a></td>
   <td align="right">247kB</td>
   <td><tt>9d2476d33c3255c6f03efa746a733897ed354c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkeduvocdocument-21.04.2.tar.xz">libkeduvocdocument-21.04.2</a></td>
   <td align="right">212kB</td>
   <td><tt>db394b8f098a44117c2c79a5f3b411c26cd161fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkexiv2-21.04.2.tar.xz">libkexiv2-21.04.2</a></td>
   <td align="right">58kB</td>
   <td><tt>5203d08934ef29004726d073a34ea5066da87525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkgapi-21.04.2.tar.xz">libkgapi-21.04.2</a></td>
   <td align="right">243kB</td>
   <td><tt>f7fdb17cd8cd17a197937afcce99fb71c5c650d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkipi-21.04.2.tar.xz">libkipi-21.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>5d39f8f119bdf48cf31d69c4f42473961a22b2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkleo-21.04.2.tar.xz">libkleo-21.04.2</a></td>
   <td align="right">375kB</td>
   <td><tt>4b99de9545f70f163a5133748c8826796df4a090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkmahjongg-21.04.2.tar.xz">libkmahjongg-21.04.2</a></td>
   <td align="right">1641kB</td>
   <td><tt>69deea5b702a7ae8daf2a9ee971694e3c5516601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libkomparediff2-21.04.2.tar.xz">libkomparediff2-21.04.2</a></td>
   <td align="right">168kB</td>
   <td><tt>b8bde2f19ae008eb2dea8360225efe9d922dc25d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libksane-21.04.2.tar.xz">libksane-21.04.2</a></td>
   <td align="right">141kB</td>
   <td><tt>b1d2c82cb2e0ffd3bbd711225de1421acd4c0911</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libksieve-21.04.2.tar.xz">libksieve-21.04.2</a></td>
   <td align="right">559kB</td>
   <td><tt>ffe13595deff7cc5ef584c4c0262c87e9896b1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/libktorrent-21.04.2.tar.xz">libktorrent-21.04.2</a></td>
   <td align="right">593kB</td>
   <td><tt>fe66d7dfd43770fbed37964c411ac13ae39d398f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/lokalize-21.04.2.tar.xz">lokalize-21.04.2</a></td>
   <td align="right">1975kB</td>
   <td><tt>8897a34f266ccab779220c3ecd447215da9153c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/lskat-21.04.2.tar.xz">lskat-21.04.2</a></td>
   <td align="right">1200kB</td>
   <td><tt>a750507cf8d89070d4418f17eb93ae40e4078528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/mailcommon-21.04.2.tar.xz">mailcommon-21.04.2</a></td>
   <td align="right">713kB</td>
   <td><tt>0ec72ed1749a05f79b8c2fe240ca5fa919032797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/mailimporter-21.04.2.tar.xz">mailimporter-21.04.2</a></td>
   <td align="right">546kB</td>
   <td><tt>18cb3ebab97f6204410325a29cc28236599dbe77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/marble-21.04.2.tar.xz">marble-21.04.2</a></td>
   <td align="right">51160kB</td>
   <td><tt>307957868ea7321a9edad0e92ebd07e14be3f5b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/markdownpart-21.04.2.tar.xz">markdownpart-21.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>df9624a723b3cfbc4590dd48c186aca4457c1d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/mbox-importer-21.04.2.tar.xz">mbox-importer-21.04.2</a></td>
   <td align="right">28kB</td>
   <td><tt>bbff090c75f9e7660a8c99e9ccc92e600255e585</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/messagelib-21.04.2.tar.xz">messagelib-21.04.2</a></td>
   <td align="right">10525kB</td>
   <td><tt>dcb52fa97be42454ce8cdac798da32061dcdd7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/minuet-21.04.2.tar.xz">minuet-21.04.2</a></td>
   <td align="right">27074kB</td>
   <td><tt>6eaadb42c28fcb404f2ae557d6f0aaf05b7d090b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/okular-21.04.2.tar.xz">okular-21.04.2</a></td>
   <td align="right">7861kB</td>
   <td><tt>5787bf1f07f30d4b2de7b1c922d3af54b0a5b165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/palapeli-21.04.2.tar.xz">palapeli-21.04.2</a></td>
   <td align="right">2028kB</td>
   <td><tt>21a3711ce4fb604a87cb9ff66631a6caa870363b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/parley-21.04.2.tar.xz">parley-21.04.2</a></td>
   <td align="right">8681kB</td>
   <td><tt>8bb4668a2660439c1c954b6089e9a837fc85897d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/partitionmanager-21.04.2.tar.xz">partitionmanager-21.04.2</a></td>
   <td align="right">2048kB</td>
   <td><tt>ba920db375752d6cfd2f34bbbac0074486ff7fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/picmi-21.04.2.tar.xz">picmi-21.04.2</a></td>
   <td align="right">1337kB</td>
   <td><tt>e616130300f7c758c48c10885e501635864d49da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/pimcommon-21.04.2.tar.xz">pimcommon-21.04.2</a></td>
   <td align="right">360kB</td>
   <td><tt>6ef7978ded32f2d99a2f61817501d4a0af6b6649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/pim-data-exporter-21.04.2.tar.xz">pim-data-exporter-21.04.2</a></td>
   <td align="right">389kB</td>
   <td><tt>d1135430187b7fbb2e26272421625dd36d2796ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/pim-sieve-editor-21.04.2.tar.xz">pim-sieve-editor-21.04.2</a></td>
   <td align="right">447kB</td>
   <td><tt>cfeac934222d660cbb9d59b37c5ebfe601982aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/poxml-21.04.2.tar.xz">poxml-21.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>29ac1d9ae46554ae02a5208f370806cbac760b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/print-manager-21.04.2.tar.xz">print-manager-21.04.2</a></td>
   <td align="right">257kB</td>
   <td><tt>de6047c7a5d36da788b6475092601568c2486109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/rocs-21.04.2.tar.xz">rocs-21.04.2</a></td>
   <td align="right">1511kB</td>
   <td><tt>203fc4aeff826aa0ba0e40de41d8bc8afa83271c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/signon-kwallet-extension-21.04.2.tar.xz">signon-kwallet-extension-21.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>05bb479c026e90a0a3cee4b55dac4883fda8997c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/spectacle-21.04.2.tar.xz">spectacle-21.04.2</a></td>
   <td align="right">1147kB</td>
   <td><tt>36b1b681050cb80c2defb9f9909e2f01f99a5e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/step-21.04.2.tar.xz">step-21.04.2</a></td>
   <td align="right">945kB</td>
   <td><tt>52a9d8b51e5443acdeb640da7cc22f25d49a52e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/svgpart-21.04.2.tar.xz">svgpart-21.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>f3859d68b1523b20a186e78bb058bc797ce71ecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/sweeper-21.04.2.tar.xz">sweeper-21.04.2</a></td>
   <td align="right">367kB</td>
   <td><tt>ac29b50f7f693741ad864492bdcee6a87e7d16b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/umbrello-21.04.2.tar.xz">umbrello-21.04.2</a></td>
   <td align="right">5512kB</td>
   <td><tt>160df6ba2f7e7ac7a6c3457eea8da20d55fd21db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/yakuake-21.04.2.tar.xz">yakuake-21.04.2</a></td>
   <td align="right">383kB</td>
   <td><tt>3b29189de78e12cdb82132a6ce729f17f369204a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/21.04.2/src/zeroconf-ioslave-21.04.2.tar.xz">zeroconf-ioslave-21.04.2</a></td>
   <td align="right">43kB</td>
   <td><tt>df41a5677436b23f817c1dd2310410e9134f909e</tt></td>
</tr>

</table>
