<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/bluedevil-6.2.2.tar.xz">bluedevil-6.2.2</a></td>
   <td align="right">379kB</td>
   <td><tt>d2a32f804ead2e04cc25dc90f67c25c158512c50d434ba7eb6f96a974cc4c849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/breeze-6.2.2.tar.xz">breeze-6.2.2</a></td>
   <td align="right">105MB</td>
   <td><tt>9f07568d543513b984870817d3dda252cf1524f11617bd3138a71d2bf658965c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/breeze-grub-6.2.2.tar.xz">breeze-grub-6.2.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2eb2ddd2ad91141908f1134db822cb2e4d799d83041ad771ebae0d0a061aaa30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/breeze-gtk-6.2.2.tar.xz">breeze-gtk-6.2.2</a></td>
   <td align="right">39kB</td>
   <td><tt>7cc23494b450d1979a86e1f5610cda5e798e24e174e820a25131014c78cb24a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/breeze-plymouth-6.2.2.tar.xz">breeze-plymouth-6.2.2</a></td>
   <td align="right">108kB</td>
   <td><tt>b9635d80e6ca6b3cac9388cf6cd85b4192595f4027442beb6cabae1510726352</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/discover-6.2.2.tar.xz">discover-6.2.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d4fefafaa9b5b98005222a298cfcb7e3e1c89820d0ef8c02540e1a82108d5aae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/drkonqi-6.2.2.tar.xz">drkonqi-6.2.2</a></td>
   <td align="right">862kB</td>
   <td><tt>601650d51e17807f906d310a6346b1f8f82be9c849c245817528177718f0d379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/flatpak-kcm-6.2.2.tar.xz">flatpak-kcm-6.2.2</a></td>
   <td align="right">241kB</td>
   <td><tt>84b31b8058d5de3f16d76698bc537550ac4c376422efd73c0257ef7ef9ecb495</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kactivitymanagerd-6.2.2.tar.xz">kactivitymanagerd-6.2.2</a></td>
   <td align="right">104kB</td>
   <td><tt>f250a0428c1f901e14c3759adbe11f1b2708c088966037acb203165d400a2ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kde-cli-tools-6.2.2.tar.xz">kde-cli-tools-6.2.2</a></td>
   <td align="right">623kB</td>
   <td><tt>8164a9b7ea24d64c5939a50ad03d613241317ea656b52bbb00afd653f144306c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kdecoration-6.2.2.tar.xz">kdecoration-6.2.2</a></td>
   <td align="right">53kB</td>
   <td><tt>b7f861a18e2af638a9c85f12e18306c0579f8bc1f09eca6c34335f58dd2c7b90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kde-gtk-config-6.2.2.tar.xz">kde-gtk-config-6.2.2</a></td>
   <td align="right">76kB</td>
   <td><tt>ba89fb135e37faa1544a9be29a10c2a40029dfd53af4ceb343289c6a69365066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kdeplasma-addons-6.2.2.tar.xz">kdeplasma-addons-6.2.2</a></td>
   <td align="right">881kB</td>
   <td><tt>6217db6d69060bbb6f04ff4ca8284481f8a5532bf09d72812cfa3ebdea011f6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kgamma-6.2.2.tar.xz">kgamma-6.2.2</a></td>
   <td align="right">85kB</td>
   <td><tt>34522988ba7445e6bf1aa7aead419ff54b6e1afccd34ac8a9519416ab6a10dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kglobalacceld-6.2.2.tar.xz">kglobalacceld-6.2.2</a></td>
   <td align="right">54kB</td>
   <td><tt>4cc44449c445d5ef251cd0a06e18480a4b780fecafd3c6c5fba758a56f7ece6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kinfocenter-6.2.2.tar.xz">kinfocenter-6.2.2</a></td>
   <td align="right">714kB</td>
   <td><tt>40d53aebd31d25aac3ace601bb222297bd53d2b71f510cbf8eac4ba5992b5477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kmenuedit-6.2.2.tar.xz">kmenuedit-6.2.2</a></td>
   <td align="right">856kB</td>
   <td><tt>e3a021639ac84ab62af2a59f86da5189b81edac7a66e8cb403c9dd275f52e3d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kpipewire-6.2.2.tar.xz">kpipewire-6.2.2</a></td>
   <td align="right">146kB</td>
   <td><tt>1229db97447cc07e62e4a1cc3c7c5e5b4edd8c172ee1b922fd27b58ac3784255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/krdp-6.2.2.tar.xz">krdp-6.2.2</a></td>
   <td align="right">91kB</td>
   <td><tt>053962b2192c549962348bcd01c2ac84ef4f964dcafa1b4f6d6735b610a1ca72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kscreen-6.2.2.tar.xz">kscreen-6.2.2</a></td>
   <td align="right">206kB</td>
   <td><tt>a200ab840c78f7e5e4202f4630f612effec44d62ed91d9baa7a05ec6785845f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kscreenlocker-6.2.2.tar.xz">kscreenlocker-6.2.2</a></td>
   <td align="right">177kB</td>
   <td><tt>1c8563e811bda80a6a129dd54897c35fb40345b9f5aa0e9cd99d1e28082a7699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/ksshaskpass-6.2.2.tar.xz">ksshaskpass-6.2.2</a></td>
   <td align="right">29kB</td>
   <td><tt>f164f1e3dc9a1836e6ff8e05c412ef1d9f437be19d4583f9b1f6b80df76a0b8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/ksystemstats-6.2.2.tar.xz">ksystemstats-6.2.2</a></td>
   <td align="right">139kB</td>
   <td><tt>db3afa4bd8ab74c60351a85caf19e5c0b0095a388a24b47d3a957283d85ddffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kwallet-pam-6.2.2.tar.xz">kwallet-pam-6.2.2</a></td>
   <td align="right">21kB</td>
   <td><tt>27bbfaaf64f1bef9a7dfabb2a76b5cf226d2e70f4cad9b740ff8042c5b826a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kwayland-6.2.2.tar.xz">kwayland-6.2.2</a></td>
   <td align="right">130kB</td>
   <td><tt>ec534c5a6057265feaac12b6e173cc823f8cbaa65c98e50ab067cafb01830f05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kwayland-integration-6.2.2.tar.xz">kwayland-integration-6.2.2</a></td>
   <td align="right">25kB</td>
   <td><tt>926327005e411eb7ef54d73ac69acbd4f64d729c106ab5e8378042445df5216e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kwin-6.2.2.tar.xz">kwin-6.2.2</a></td>
   <td align="right">8.1MB</td>
   <td><tt>fb5c2ff3e8007722f3fa528872e6494dc21d48c8a6b632b748486389486bc061</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/kwrited-6.2.2.tar.xz">kwrited-6.2.2</a></td>
   <td align="right">23kB</td>
   <td><tt>43db47304290eceba6631a81a9d19e79623d842ea18454ded63fd2b94f002eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/layer-shell-qt-6.2.2.tar.xz">layer-shell-qt-6.2.2</a></td>
   <td align="right">35kB</td>
   <td><tt>07e6b5b1b3a543b6ac386beabb05e1f0fe0d4d34a720fb9a9b62bcf42640575a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/libkscreen-6.2.2.tar.xz">libkscreen-6.2.2</a></td>
   <td align="right">116kB</td>
   <td><tt>361e8af0d0c5a48f9e4a238216c32834f9424db420421fde42fd7e38135651ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/libksysguard-6.2.2.tar.xz">libksysguard-6.2.2</a></td>
   <td align="right">307kB</td>
   <td><tt>eea8947ce5ab8f82fd9352464c49418bd97460921b61497e9118d0656af0fd9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/libplasma-6.2.2.tar.xz">libplasma-6.2.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>df43da9f3d745ceece1bcfc2c6746107553bb9f37bf0ec0ad10253418c7e6048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/milou-6.2.2.tar.xz">milou-6.2.2</a></td>
   <td align="right">48kB</td>
   <td><tt>676864e514fec73aef346f140b57514a8610880fb250af7f8e7f73bfecebd4ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/ocean-sound-theme-6.2.2.tar.xz">ocean-sound-theme-6.2.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6f19a1da39790449cc902a3cca952c2e5d93aa1f464438c7b5740352ddf597a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/oxygen-6.2.2.tar.xz">oxygen-6.2.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>a8838f2363ab8fc2ff6e8d5735c1f034a6965c31f1515a164e1424cbb58aa7b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/oxygen-sounds-6.2.2.tar.xz">oxygen-sounds-6.2.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>e91f5f62afdf446a0f7692813a9fd0a56dd09d5d019a58b6c3b959d9bf64dffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma5support-6.2.2.tar.xz">plasma5support-6.2.2</a></td>
   <td align="right">186kB</td>
   <td><tt>8e26657768b5533bb1c7aeccd51658b47a61a66750438bf4b25ab96d63a8c730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-activities-6.2.2.tar.xz">plasma-activities-6.2.2</a></td>
   <td align="right">65kB</td>
   <td><tt>b1333bbce0b369701c99dd1fbf7435c14a674450c3d415bdce6c44c30a6d4ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-activities-stats-6.2.2.tar.xz">plasma-activities-stats-6.2.2</a></td>
   <td align="right">81kB</td>
   <td><tt>665feecfbf0473bedc6d77dd606f6b2771566726d5eae5e9f277488095fd10a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-browser-integration-6.2.2.tar.xz">plasma-browser-integration-6.2.2</a></td>
   <td align="right">217kB</td>
   <td><tt>6bc4a6b7941c8a0d12d52d167cbb1410a225d43a0f77d353017b2c941e676b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-desktop-6.2.2.tar.xz">plasma-desktop-6.2.2</a></td>
   <td align="right">15MB</td>
   <td><tt>c83fe62392b23997944ba90959ceae77b3b4b2e6b021223defdad3681d30ae4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-dialer-6.2.2.tar.xz">plasma-dialer-6.2.2</a></td>
   <td align="right">122kB</td>
   <td><tt>eac7da0e6729701f6720883b10f8a6a9518bc7c6e87e35ccf386b99854a76f69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-disks-6.2.2.tar.xz">plasma-disks-6.2.2</a></td>
   <td align="right">100kB</td>
   <td><tt>a0101b10dd6f4bbbdd479a0ce8ae60c2fb9a98cc882ca1e1c59b534c661a17e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-firewall-6.2.2.tar.xz">plasma-firewall-6.2.2</a></td>
   <td align="right">367kB</td>
   <td><tt>d2c948bdffcdf981d0d354e3f598f15dbead1846c7c0b4cbfe7aab1f41d0b2d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-integration-6.2.2.tar.xz">plasma-integration-6.2.2</a></td>
   <td align="right">93kB</td>
   <td><tt>d32d054be6947627f05ddb574260a6a497686a7c93ec62d1c929168074bfb539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-mobile-6.2.2.tar.xz">plasma-mobile-6.2.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>0c2a3ed787dabf58b515c7733cda9e07ad5bf7737bf8497db3bfea90d8c967a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-nano-6.2.2.tar.xz">plasma-nano-6.2.2</a></td>
   <td align="right">71kB</td>
   <td><tt>5c6c46bd3cc901f6adbc0bf369853de9834ec2cb6f8565501815dd72ff6e87cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-nm-6.2.2.tar.xz">plasma-nm-6.2.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8df997bcf14b1031b8b28055a1bcfe22e560eaa4a91ad2a42402b0db8a44c470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-pa-6.2.2.tar.xz">plasma-pa-6.2.2</a></td>
   <td align="right">180kB</td>
   <td><tt>2fc8316d5d4851c7f01cf10213403d3e77cb7a4a04584bc0dc637971e9d22654</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-sdk-6.2.2.tar.xz">plasma-sdk-6.2.2</a></td>
   <td align="right">341kB</td>
   <td><tt>4f3fca28c148edc1c096688a0a10822187d7a262416a41d404b483b8c2c0620e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-systemmonitor-6.2.2.tar.xz">plasma-systemmonitor-6.2.2</a></td>
   <td align="right">192kB</td>
   <td><tt>204cd673b9164497b9b6b5292d8b4d6874180e8815e72419ed5af76693e3d345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-thunderbolt-6.2.2.tar.xz">plasma-thunderbolt-6.2.2</a></td>
   <td align="right">78kB</td>
   <td><tt>955039500266690a9faf82d82ecca0bc0599de2c7079759e0c6c88d9efa960e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-vault-6.2.2.tar.xz">plasma-vault-6.2.2</a></td>
   <td align="right">196kB</td>
   <td><tt>2c10bffd46d5fddc78d3d934ab6390d502b10325f5f6fc2292ccc4768ef4d8ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-welcome-6.2.2.tar.xz">plasma-welcome-6.2.2</a></td>
   <td align="right">674kB</td>
   <td><tt>0d60f383658b05f82063b603231424e8e93c383d1be1372f019049946e405f91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-workspace-6.2.2.tar.xz">plasma-workspace-6.2.2</a></td>
   <td align="right">18MB</td>
   <td><tt>becc89473d57dcc574a8d9d626cc83b446df2567a478a663f81d58fd6ea3f853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plasma-workspace-wallpapers-6.2.2.tar.xz">plasma-workspace-wallpapers-6.2.2</a></td>
   <td align="right">106MB</td>
   <td><tt>7e997e7b31da91e16c01f6e4b5175bbdd84ab957aaf7a9ef30a414009311cd3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/plymouth-kcm-6.2.2.tar.xz">plymouth-kcm-6.2.2</a></td>
   <td align="right">46kB</td>
   <td><tt>cb383c1c7d3a164de198417f481f3322236db8a5d4441a8be7744dd4f759dd9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/polkit-kde-agent-1-6.2.2.tar.xz">polkit-kde-agent-1-6.2.2</a></td>
   <td align="right">55kB</td>
   <td><tt>3510353360dec75c47d60528d6550a6afca91d97d466e35a4dfdb254fe6cf5ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/powerdevil-6.2.2.tar.xz">powerdevil-6.2.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>4006f2f49574c4e0036bb25bd3b1a1e5c47a521b26806fa4030d8073fdb17bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/print-manager-6.2.2.tar.xz">print-manager-6.2.2</a></td>
   <td align="right">366kB</td>
   <td><tt>88acb14e6b2b306f693c556f21f28f1ff8ae39304090ed56139576add69bb12a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/qqc2-breeze-style-6.2.2.tar.xz">qqc2-breeze-style-6.2.2</a></td>
   <td align="right">64kB</td>
   <td><tt>ee35872c964a15ea48481fd48220006e425ecf855a91c2baa4dbf8b23f8a43cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/sddm-kcm-6.2.2.tar.xz">sddm-kcm-6.2.2</a></td>
   <td align="right">98kB</td>
   <td><tt>67c87ee531d6534c65f3fcb8c377b5ca0ff8339c935565b98986caa3fc2ac4de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/spacebar-6.2.2.tar.xz">spacebar-6.2.2</a></td>
   <td align="right">125kB</td>
   <td><tt>6cb84d0dc54ab4a946a19503e35b1f7cb5b73b9f5713436dd20bb4536e978379</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/systemsettings-6.2.2.tar.xz">systemsettings-6.2.2</a></td>
   <td align="right">213kB</td>
   <td><tt>a5399e1ddab5d86c4cf7c63c34d7cca7599b1b6ce38cbca9d4056022cf4a4844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/wacomtablet-6.2.2.tar.xz">wacomtablet-6.2.2</a></td>
   <td align="right">814kB</td>
   <td><tt>523ee0515b874978b88bbeea4e56dab601a58881ee6db0b96d039cff232f1846</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/6.2.2/xdg-desktop-portal-kde-6.2.2.tar.xz">xdg-desktop-portal-kde-6.2.2</a></td>
   <td align="right">175kB</td>
   <td><tt>669f9c1446a9b73490c3ed142895b22738eda9887eecbf62ccd9d6d1050a3dd3</tt></td>
</tr>

</table>
