
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/attica-5.91.0.tar.xz">attica-5.91.0</a></td>
   <td align="right">67kB</td>
   <td><tt>31cff0939d63aaeaea2c9f53291853d3f674e286</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/baloo-5.91.0.tar.xz">baloo-5.91.0</a></td>
   <td align="right">280kB</td>
   <td><tt>46bff71550471845335fa817041a0644dd498e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/bluez-qt-5.91.0.tar.xz">bluez-qt-5.91.0</a></td>
   <td align="right">111kB</td>
   <td><tt>d9ae765005aa72370dd5edf2043729dc4f89821f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/breeze-icons-5.91.0.tar.xz">breeze-icons-5.91.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>dbeec771862c7e3bae17e26c41d527e993d4eae9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/extra-cmake-modules-5.91.0.tar.xz">extra-cmake-modules-5.91.0</a></td>
   <td align="right">321kB</td>
   <td><tt>d90be6c91e81c9faee290946b822d60a2de7d209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/frameworkintegration-5.91.0.tar.xz">frameworkintegration-5.91.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>70e0aedaeb86704c75b57687333cb0c81d5e5f42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kactivities-5.91.0.tar.xz">kactivities-5.91.0</a></td>
   <td align="right">72kB</td>
   <td><tt>92a3da52c0150d097dc15544284779649ddacad5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kactivities-stats-5.91.0.tar.xz">kactivities-stats-5.91.0</a></td>
   <td align="right">82kB</td>
   <td><tt>7325c8ad4e1003f232c9c2d249bc11ac530f0fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kapidox-5.91.0.tar.xz">kapidox-5.91.0</a></td>
   <td align="right">192kB</td>
   <td><tt>126347ad6f7993ece2d09ab17457038c67500afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/karchive-5.91.0.tar.xz">karchive-5.91.0</a></td>
   <td align="right">963kB</td>
   <td><tt>f7de9a7e7dbf28db6db2976d1e99a60805fa2b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kauth-5.91.0.tar.xz">kauth-5.91.0</a></td>
   <td align="right">87kB</td>
   <td><tt>6a21971044872bfd8abd01f3118b9b5e188c7ef9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kbookmarks-5.91.0.tar.xz">kbookmarks-5.91.0</a></td>
   <td align="right">127kB</td>
   <td><tt>a35c159a759472cbdfb5205c1805f76f665aaf18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kcalendarcore-5.91.0.tar.xz">kcalendarcore-5.91.0</a></td>
   <td align="right">257kB</td>
   <td><tt>3585e350f8797958db4a4797f3ee628496848bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kcmutils-5.91.0.tar.xz">kcmutils-5.91.0</a></td>
   <td align="right">167kB</td>
   <td><tt>0239f1008bd81ef9712fb3249676f766fd9a9d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kcodecs-5.91.0.tar.xz">kcodecs-5.91.0</a></td>
   <td align="right">231kB</td>
   <td><tt>911637d17188323ff135b6f101d7cb8cece09f58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kcompletion-5.91.0.tar.xz">kcompletion-5.91.0</a></td>
   <td align="right">122kB</td>
   <td><tt>85ee199eda69b054b578ea312d669cad980b8987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kconfig-5.91.0.tar.xz">kconfig-5.91.0</a></td>
   <td align="right">274kB</td>
   <td><tt>c1868f1b65074c1a81521e4ce339533902bf8ac2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kconfigwidgets-5.91.0.tar.xz">kconfigwidgets-5.91.0</a></td>
   <td align="right">405kB</td>
   <td><tt>c8071451c40823169451586490d78b08d28ac123</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kcontacts-5.91.0.tar.xz">kcontacts-5.91.0</a></td>
   <td align="right">179kB</td>
   <td><tt>5af9981d43a147d7d7d6acc111a4cbcf7e596374</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kcoreaddons-5.91.0.tar.xz">kcoreaddons-5.91.0</a></td>
   <td align="right">440kB</td>
   <td><tt>2cafc0a1f49cbe9910086cc43ce578bc69fbffc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kcrash-5.91.0.tar.xz">kcrash-5.91.0</a></td>
   <td align="right">27kB</td>
   <td><tt>2783445d54e9c6c6825e2426480c595a64b03e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kdav-5.91.0.tar.xz">kdav-5.91.0</a></td>
   <td align="right">62kB</td>
   <td><tt>84ace68eaa49e1735c2e056601161d9f1b2f3be7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kdbusaddons-5.91.0.tar.xz">kdbusaddons-5.91.0</a></td>
   <td align="right">46kB</td>
   <td><tt>3ec6b8ae6c58f4e4c8a88df70b118afe1dc9d0fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kdeclarative-5.91.0.tar.xz">kdeclarative-5.91.0</a></td>
   <td align="right">197kB</td>
   <td><tt>617e2658d5b7b94f5c68cd36862f74dc751579c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kded-5.91.0.tar.xz">kded-5.91.0</a></td>
   <td align="right">38kB</td>
   <td><tt>bc844bd40d0c3c502a22c3c288e7e807d5704324</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kdesu-5.91.0.tar.xz">kdesu-5.91.0</a></td>
   <td align="right">54kB</td>
   <td><tt>1aca9239065d4ed9fd3a5dbe0e088353aa6dc9bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kdnssd-5.91.0.tar.xz">kdnssd-5.91.0</a></td>
   <td align="right">59kB</td>
   <td><tt>f74f073f6dbb39182a12e5b2b80965ead63d9f7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kdoctools-5.91.0.tar.xz">kdoctools-5.91.0</a></td>
   <td align="right">429kB</td>
   <td><tt>4d93e4b5d9361a58caba18f248176d220742a5c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kemoticons-5.91.0.tar.xz">kemoticons-5.91.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a558f5b809c23820ab489011f0cb77f0492f5868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kfilemetadata-5.91.0.tar.xz">kfilemetadata-5.91.0</a></td>
   <td align="right">420kB</td>
   <td><tt>aa43747b30ecb51eef78c8daab522943fa0a83a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kglobalaccel-5.91.0.tar.xz">kglobalaccel-5.91.0</a></td>
   <td align="right">91kB</td>
   <td><tt>c668a8bc77801f3b34ef87047d8a0f4c0cb9b3c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kguiaddons-5.91.0.tar.xz">kguiaddons-5.91.0</a></td>
   <td align="right">70kB</td>
   <td><tt>d860b2650e82a08fd9c1c513b705713cddcf22a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kholidays-5.91.0.tar.xz">kholidays-5.91.0</a></td>
   <td align="right">229kB</td>
   <td><tt>115aec5c89eb582571333135948892972a063723</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/ki18n-5.91.0.tar.xz">ki18n-5.91.0</a></td>
   <td align="right">934kB</td>
   <td><tt>9accdbf0238f58c8da3d8b5cecfdff4f2c154151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kiconthemes-5.91.0.tar.xz">kiconthemes-5.91.0</a></td>
   <td align="right">220kB</td>
   <td><tt>91cad646263b4f9a01dbbef194b613b2f135fe95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kidletime-5.91.0.tar.xz">kidletime-5.91.0</a></td>
   <td align="right">28kB</td>
   <td><tt>03b3bc3540f8c4b5a95b44cbd3d4246e5538c22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kimageformats-5.91.0.tar.xz">kimageformats-5.91.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>00e4c490b82e6bc22cb82383faafe4bd4ad465b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kinit-5.91.0.tar.xz">kinit-5.91.0</a></td>
   <td align="right">116kB</td>
   <td><tt>c3551d58d45489582de3e48382a9239b670901fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kio-5.91.0.tar.xz">kio-5.91.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>e5b326448e6830eda27332b4d8eab7e00b713fa4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kirigami2-5.91.0.tar.xz">kirigami2-5.91.0</a></td>
   <td align="right">345kB</td>
   <td><tt>8c7364fee49e9cb9d671e35532173049a83ed701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kitemmodels-5.91.0.tar.xz">kitemmodels-5.91.0</a></td>
   <td align="right">397kB</td>
   <td><tt>f7a81315d909d9e7ea5541e9a5fc48dec839327f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kitemviews-5.91.0.tar.xz">kitemviews-5.91.0</a></td>
   <td align="right">75kB</td>
   <td><tt>9765a949c33bfcc7b174d3214d46e3bd2492376f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kjobwidgets-5.91.0.tar.xz">kjobwidgets-5.91.0</a></td>
   <td align="right">99kB</td>
   <td><tt>24f91ec98ea98e362e59ccf80f505c32907c8e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/knewstuff-5.91.0.tar.xz">knewstuff-5.91.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8560854e600855ce48db9e10d6d38dc9c3ca2ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/knotifications-5.91.0.tar.xz">knotifications-5.91.0</a></td>
   <td align="right">128kB</td>
   <td><tt>4e582dd9a9f3bb3b615fae0e8a36c53900b3dbe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/knotifyconfig-5.91.0.tar.xz">knotifyconfig-5.91.0</a></td>
   <td align="right">85kB</td>
   <td><tt>bec56c48cbf4f1c3bfb3816a21f2876d71925c7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kpackage-5.91.0.tar.xz">kpackage-5.91.0</a></td>
   <td align="right">137kB</td>
   <td><tt>899e457fa6fe657c759504e3fcccaec82c9f8b29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kparts-5.91.0.tar.xz">kparts-5.91.0</a></td>
   <td align="right">191kB</td>
   <td><tt>564bd3e0f67c3f5a531ca7f8d5b40b5bb9e486a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kpeople-5.91.0.tar.xz">kpeople-5.91.0</a></td>
   <td align="right">57kB</td>
   <td><tt>d53652d980894f71b198bc6f72651eed9168cd31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kplotting-5.91.0.tar.xz">kplotting-5.91.0</a></td>
   <td align="right">32kB</td>
   <td><tt>4b5a98f6d7860c1c03bd9f00a896fb82eb7c7f2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kpty-5.91.0.tar.xz">kpty-5.91.0</a></td>
   <td align="right">57kB</td>
   <td><tt>1738aea2bd72fa6e9ec218802fdc1ff17aa9f1cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kquickcharts-5.91.0.tar.xz">kquickcharts-5.91.0</a></td>
   <td align="right">106kB</td>
   <td><tt>0704699a036750ec101b763e67f0e5871757d359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/krunner-5.91.0.tar.xz">krunner-5.91.0</a></td>
   <td align="right">83kB</td>
   <td><tt>924e5369a14d19aa901dbe53b3f0a072fc35be19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kservice-5.91.0.tar.xz">kservice-5.91.0</a></td>
   <td align="right">261kB</td>
   <td><tt>04fd5cebff766827524d362f3644dda0b08db9fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/ktexteditor-5.91.0.tar.xz">ktexteditor-5.91.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>633bd826b1b1a8e6994f12008caccc5bfb3f0d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/ktextwidgets-5.91.0.tar.xz">ktextwidgets-5.91.0</a></td>
   <td align="right">321kB</td>
   <td><tt>1ca19805a665293bea8675b7224849e602d09177</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kunitconversion-5.91.0.tar.xz">kunitconversion-5.91.0</a></td>
   <td align="right">868kB</td>
   <td><tt>97c5ab3c92565a0eed6e1b907d1bb81a7d834ddd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kwallet-5.91.0.tar.xz">kwallet-5.91.0</a></td>
   <td align="right">298kB</td>
   <td><tt>ee4e37910b864d61e3136b6455865f3f3fffd37f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kwayland-5.91.0.tar.xz">kwayland-5.91.0</a></td>
   <td align="right">327kB</td>
   <td><tt>ba17955f0936e67d7e41d26b91966883aafd6887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kwidgetsaddons-5.91.0.tar.xz">kwidgetsaddons-5.91.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0e39ae429819d951fd51f779940d87324c5cc881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kwindowsystem-5.91.0.tar.xz">kwindowsystem-5.91.0</a></td>
   <td align="right">177kB</td>
   <td><tt>915128177fff44693b3e3f8707ba35e6b7341e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/kxmlgui-5.91.0.tar.xz">kxmlgui-5.91.0</a></td>
   <td align="right">870kB</td>
   <td><tt>0a82e76525ee60b34db21f5fa4ca07b7a2239b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/modemmanager-qt-5.91.0.tar.xz">modemmanager-qt-5.91.0</a></td>
   <td align="right">118kB</td>
   <td><tt>0bad9b5669589557b150840f675fe98ec02a0d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/networkmanager-qt-5.91.0.tar.xz">networkmanager-qt-5.91.0</a></td>
   <td align="right">193kB</td>
   <td><tt>07b57044692a437ea5e8b7af40a726c806f43611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/oxygen-icons5-5.91.0.tar.xz">oxygen-icons5-5.91.0</a></td>
   <td align="right">227MB</td>
   <td><tt>4e5d3068164474012a39d73fe4985684e1e1ff58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/plasma-framework-5.91.0.tar.xz">plasma-framework-5.91.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ccec10fbe78a51a07aca7a9eca2c71b3c626d40c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/prison-5.91.0.tar.xz">prison-5.91.0</a></td>
   <td align="right">46kB</td>
   <td><tt>6f76f3fbb595afaf02868451c6cff13f1a6f558c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/purpose-5.91.0.tar.xz">purpose-5.91.0</a></td>
   <td align="right">168kB</td>
   <td><tt>5290d5153d52bfd5419dae080ec7f8da8d4113e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/qqc2-desktop-style-5.91.0.tar.xz">qqc2-desktop-style-5.91.0</a></td>
   <td align="right">63kB</td>
   <td><tt>1817827674993602d02f4dfef4696f70c721b79d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/solid-5.91.0.tar.xz">solid-5.91.0</a></td>
   <td align="right">251kB</td>
   <td><tt>74e9f0000c78a0186f7786dcdd3a58ec084e7cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/sonnet-5.91.0.tar.xz">sonnet-5.91.0</a></td>
   <td align="right">301kB</td>
   <td><tt>ecd80b362b29b0d9a7ab174e2c54019100ea3a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/syndication-5.91.0.tar.xz">syndication-5.91.0</a></td>
   <td align="right">498kB</td>
   <td><tt>a65980b519c308f03691b7e34cbe6ee4921883ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/syntax-highlighting-5.91.0.tar.xz">syntax-highlighting-5.91.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d556224c5bd10ae3c784b2b82ac0d21a7b4ef174</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.91/threadweaver-5.91.0.tar.xz">threadweaver-5.91.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>5a2cf56107d7c02116f49fbc4ad6d0c4266f0866</tt></td>
</tr>

</table>
