<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/attica-6.0.0.tar.xz">attica-6.0.0</a></td>
   <td align="right">67kB</td>
   <td><tt>ef21d8e57aeae4757b6b40dfe0d0e9c38302a979164b4e4d493b631b7c023d23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/baloo-6.0.0.tar.xz">baloo-6.0.0</a></td>
   <td align="right">310kB</td>
   <td><tt>ea21e88d1fe252d2dc95e0b7ae8891594822ccdd898e7aa56d46ed9ecd626a41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/bluez-qt-6.0.0.tar.xz">bluez-qt-6.0.0</a></td>
   <td align="right">113kB</td>
   <td><tt>36798f1e7a0a472607435beb2833f6cc77d65cb006decac1ec0b0a3a6f5142eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/breeze-icons-6.0.0.tar.xz">breeze-icons-6.0.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>473e9851e4f84a64f1e808d58fd8760219a1b08feaf4b514a1399c8e5c889dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/extra-cmake-modules-6.0.0.tar.xz">extra-cmake-modules-6.0.0</a></td>
   <td align="right">332kB</td>
   <td><tt>23992bf19db717156b7d6dd13118caa79fd57f090beb062e8308db3c09f70d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/frameworkintegration-6.0.0.tar.xz">frameworkintegration-6.0.0</a></td>
   <td align="right">52kB</td>
   <td><tt>343efa4e4f7d1c804de2cb6a2cac7a980cf7f3787fd4f523fa2c2d2d15f65d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kapidox-6.0.0.tar.xz">kapidox-6.0.0</a></td>
   <td align="right">194kB</td>
   <td><tt>e4cd452fe796b29536c30b5256e0f8ea82dcadefdcb29ce282f2c1eaea3764bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/karchive-6.0.0.tar.xz">karchive-6.0.0</a></td>
   <td align="right">1005kB</td>
   <td><tt>75a591d9648026eb86826974e6f3882e7f620592ecef8fabeb19206e63b04e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kauth-6.0.0.tar.xz">kauth-6.0.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>66046698d2584692d5397a6ec808b2c9f8b7882a0f85233be9cd69283d03c768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kbookmarks-6.0.0.tar.xz">kbookmarks-6.0.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>15b5436c3adbd517a014f33803c30bd60656bbccb9a2b2a6e46fd4e2237db9a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kcalendarcore-6.0.0.tar.xz">kcalendarcore-6.0.0</a></td>
   <td align="right">255kB</td>
   <td><tt>641356ac286c1a5287327ce8fa2529bf53048e439d1ff672c925d4ab7e0eb7c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kcmutils-6.0.0.tar.xz">kcmutils-6.0.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9b09b140c013d568a2ee357f824bfb64145e4dfdd1689da6fbfb4f418c5ba43b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kcodecs-6.0.0.tar.xz">kcodecs-6.0.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>ceba44dcdc251d443bbd6cb77d1219d876af8cc2ae4710472aace78122395abe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kcolorscheme-6.0.0.tar.xz">kcolorscheme-6.0.0</a></td>
   <td align="right">42kB</td>
   <td><tt>de45822431755be39ab7aebfcb7cb6ff90b4924579c2a4d66ae28f91d70a260e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kcompletion-6.0.0.tar.xz">kcompletion-6.0.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>f6434014e7979b6545906d1ff7a2920cfab65641369921e69f00a818b8eee559</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kconfig-6.0.0.tar.xz">kconfig-6.0.0</a></td>
   <td align="right">286kB</td>
   <td><tt>3f7c1e6b048df4ab3d67fbef01a5ad1dd0289c9b158644668fba0225c050c050</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kconfigwidgets-6.0.0.tar.xz">kconfigwidgets-6.0.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>511bed0d95de186b3cf62c7192bbb6020450d4861f05c1a545356144f17de532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kcontacts-6.0.0.tar.xz">kcontacts-6.0.0</a></td>
   <td align="right">201kB</td>
   <td><tt>179c6748e555c5c028b02a4b9b165ede13a09cf5eaf0ea012366c9727d230ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kcoreaddons-6.0.0.tar.xz">kcoreaddons-6.0.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>eab838201b45ac98c412f64d234e89d62357f275ae9ae966d073a64c67a526ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kcrash-6.0.0.tar.xz">kcrash-6.0.0</a></td>
   <td align="right">28kB</td>
   <td><tt>f56f1ed44e494417b7046e4f94791ad4ddd07c6cb8f0f704f2053717a44296f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kdav-6.0.0.tar.xz">kdav-6.0.0</a></td>
   <td align="right">66kB</td>
   <td><tt>b3c81f5e312b3eeed2c8b7db218f64b90f67e1b2d0ce37a44ff273b5232843e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kdbusaddons-6.0.0.tar.xz">kdbusaddons-6.0.0</a></td>
   <td align="right">45kB</td>
   <td><tt>11e70d0c7239bd818962d91cdb94aeba94748055c77003a4f64ff14dab0ae989</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kdeclarative-6.0.0.tar.xz">kdeclarative-6.0.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4671ebb7ee9ba2ed7a02d2c71dde90fe681be507e7d7913e79acb15dfce7b6f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kded-6.0.0.tar.xz">kded-6.0.0</a></td>
   <td align="right">31kB</td>
   <td><tt>c6243233f2827b27b1a42987a7a3058f13853f7d0e2bf289c055f245d0c5c625</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kdesu-6.0.0.tar.xz">kdesu-6.0.0</a></td>
   <td align="right">55kB</td>
   <td><tt>24cca7ab6da9630799e5f0107b546d37ee635b1f9f4b7c12eb53a1b3619b2c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kdnssd-6.0.0.tar.xz">kdnssd-6.0.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>0694964ba4adb7e20bd0d1007694440a298b433f6da8647a24bc151dc348b679</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kdoctools-6.0.0.tar.xz">kdoctools-6.0.0</a></td>
   <td align="right">448kB</td>
   <td><tt>57999a4cf00f0d61cf2a17e2857c723944d1e48fb7beaeb03e4a518da122c8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kfilemetadata-6.0.0.tar.xz">kfilemetadata-6.0.0</a></td>
   <td align="right">546kB</td>
   <td><tt>cf130dc1b32a31a19213f3e1ac67f2180cb7931240e5c755211686e93792f393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kglobalaccel-6.0.0.tar.xz">kglobalaccel-6.0.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>58009eb0d0b70c93dc0cb0886ae929f3756e972c841d7a3e465df8307e5b7149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kguiaddons-6.0.0.tar.xz">kguiaddons-6.0.0</a></td>
   <td align="right">79kB</td>
   <td><tt>20af58ab639ea99df09acbd74af0c867f22f1d9f91595623ab44fba5834eaa62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kholidays-6.0.0.tar.xz">kholidays-6.0.0</a></td>
   <td align="right">247kB</td>
   <td><tt>482f6375fe536a63b67bad45a0ad3880c74d74fc92a3a935ecb78b29830d9b7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/ki18n-6.0.0.tar.xz">ki18n-6.0.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>15cbfb73ef1d3954d6206755b6e6a9c86ea27be4b4db0c843d38494851bcc354</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kiconthemes-6.0.0.tar.xz">kiconthemes-6.0.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>f557bd269fafe617eb8d4b7ac2959609f96cce3ea8b1b3ac231063a726927bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kidletime-6.0.0.tar.xz">kidletime-6.0.0</a></td>
   <td align="right">30kB</td>
   <td><tt>aa846b4cfcbc48d084350d1f525638fcf4766b0363bcde40fcefa88a8fbda7b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kimageformats-6.0.0.tar.xz">kimageformats-6.0.0</a></td>
   <td align="right">15MB</td>
   <td><tt>1ddd28f2fb8ac2c95556f792418c2b6190a04050ac31b27aa82ea11c1af0879c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kio-6.0.0.tar.xz">kio-6.0.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>4951adf043299e463803cc63ed33d5261b81bff969eb189dc13350f495cb4b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kirigami-6.0.0.tar.xz">kirigami-6.0.0</a></td>
   <td align="right">362kB</td>
   <td><tt>ed0f56c89249fb92a9af99a94fd13542abbae4a8f1613aaaa2bfab87914b601a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kitemmodels-6.0.0.tar.xz">kitemmodels-6.0.0</a></td>
   <td align="right">389kB</td>
   <td><tt>89b879981722821a911bba1765128820217944fa78e5452369158ed97a835b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kitemviews-6.0.0.tar.xz">kitemviews-6.0.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>aded76af78d66bc3e90f3a1cada117d74783b519904d04a39591b9874df35243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kjobwidgets-6.0.0.tar.xz">kjobwidgets-6.0.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5239d0d47af8118c962b59816fceeebbff930a43ab7923438982ac08dbcb84be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/knewstuff-6.0.0.tar.xz">knewstuff-6.0.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0299dba980590bd7c74870a74c6bb6ca732af478ab2c9ba414943f62ea0be0fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/knotifications-6.0.0.tar.xz">knotifications-6.0.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>35fed813fc594bbe808bc01b511b2d1eff9023977b7981137f3fec81984713e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/knotifyconfig-6.0.0.tar.xz">knotifyconfig-6.0.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>323fe757a01ecb2481d9ad04b0902efd3dde13cb1fc044ee1ac1b7f5a29369e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kpackage-6.0.0.tar.xz">kpackage-6.0.0</a></td>
   <td align="right">174kB</td>
   <td><tt>d2aec3df0dffb71e93acc03c46f2d4ca59c58263a9989df75107bf5223e9d1b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kparts-6.0.0.tar.xz">kparts-6.0.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f08308556eecd6db0be727ec1d27b3bb533880a530d112bb16ec2f08ead1f6e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kpeople-6.0.0.tar.xz">kpeople-6.0.0</a></td>
   <td align="right">65kB</td>
   <td><tt>2119ac9dfa80f4d90d6cd044d544ed5e500e9ae487ce616f2475c58eaa906ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kplotting-6.0.0.tar.xz">kplotting-6.0.0</a></td>
   <td align="right">33kB</td>
   <td><tt>dc43644b7632344bd413d754aa7dd1052a3cde9230193abf5da47de1341a63ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kpty-6.0.0.tar.xz">kpty-6.0.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c5df357adfc1733593f6ceb3cd95ff7a3e587701f990b631dfaee0278e0df171</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kquickcharts-6.0.0.tar.xz">kquickcharts-6.0.0</a></td>
   <td align="right">107kB</td>
   <td><tt>ebd9a8f501b80e72a12f50d984847a698f7283be389644f7e24133484076a6a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/krunner-6.0.0.tar.xz">krunner-6.0.0</a></td>
   <td align="right">127kB</td>
   <td><tt>22d33fd27567a350ae4edae4fe5662b748e8fabd539863441794558e68f3313d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kservice-6.0.0.tar.xz">kservice-6.0.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9b44acf51d280deaa3114ec59518a6af5d645cb1ec2ebadb5de74681c8891bfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kstatusnotifieritem-6.0.0.tar.xz">kstatusnotifieritem-6.0.0</a></td>
   <td align="right">46kB</td>
   <td><tt>b426176d2cbc6fe80c758b6c476a47341d89a92cbb3355c2be37428a41772907</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/ksvg-6.0.0.tar.xz">ksvg-6.0.0</a></td>
   <td align="right">86kB</td>
   <td><tt>d056cb96b06c1f1a8a8f39c134858cf1437c546b9d79a9eb1a92f8933d1e3579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/ktexteditor-6.0.0.tar.xz">ktexteditor-6.0.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>620266c1d288d09f7aee4d2bc8b141c73555d5f033c452bcd2e2db2064b8fd42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/ktexttemplate-6.0.0.tar.xz">ktexttemplate-6.0.0</a></td>
   <td align="right">827kB</td>
   <td><tt>b964e612d2d623bbcf3f5a76ae4ba4408f80de6c588074c67f18834b5e48274c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/ktextwidgets-6.0.0.tar.xz">ktextwidgets-6.0.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b093f570ea3c2d4320e41b575a540fb75acd5b5f818bc6215a5fdb57754b6c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kunitconversion-6.0.0.tar.xz">kunitconversion-6.0.0</a></td>
   <td align="right">883kB</td>
   <td><tt>c88494ac8971c25dc6bc9a1119ea44c0f8eda44e9d2883ade9aca651e9968d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kuserfeedback-6.0.0.tar.xz">kuserfeedback-6.0.0</a></td>
   <td align="right">240kB</td>
   <td><tt>02f1af108e253c842526d31c997a1777b8f7a6e5b8698b5b1267ce1ec128af2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kwallet-6.0.0.tar.xz">kwallet-6.0.0</a></td>
   <td align="right">341kB</td>
   <td><tt>bab43823de8b1b086dc4b2ad10d10bd6c4d0d2e1f8b5fd5fdd5f7d365fb8e5cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kwidgetsaddons-6.0.0.tar.xz">kwidgetsaddons-6.0.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>a7771c92310a21a8105ba64dd61c065ba74723899c7ccfc4de2b57b17e6a6b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kwindowsystem-6.0.0.tar.xz">kwindowsystem-6.0.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1906caa53b7d58fc0c4d78a3c8d99f25aa056fc6d09c5fc121ed5e1f80396a94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/kxmlgui-6.0.0.tar.xz">kxmlgui-6.0.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d26c62ce9f5be8643fed465531418fb67e4d13edf61797a946da301aeb9158f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/modemmanager-qt-6.0.0.tar.xz">modemmanager-qt-6.0.0</a></td>
   <td align="right">120kB</td>
   <td><tt>efd6ea3eae52b21279bdee38e80f667c35d98b977a442f4bd6b8a0a471f90ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/networkmanager-qt-6.0.0.tar.xz">networkmanager-qt-6.0.0</a></td>
   <td align="right">195kB</td>
   <td><tt>225fc9f44e11d06687ce2ca56be7c7452f0ad2cc850b22f5715c8b701dabb700</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/prison-6.0.0.tar.xz">prison-6.0.0</a></td>
   <td align="right">54kB</td>
   <td><tt>6ff5fbc6fc38581072ee45904e022d5bf2e7b3b1f49ac9d1d0c6024d7ca3ec5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/purpose-6.0.0.tar.xz">purpose-6.0.0</a></td>
   <td align="right">170kB</td>
   <td><tt>4fa85cbd2d9dd49216eda6433b43e05bbb114249dac51df55242328f7eb8f97c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/qqc2-desktop-style-6.0.0.tar.xz">qqc2-desktop-style-6.0.0</a></td>
   <td align="right">76kB</td>
   <td><tt>848305ff8880fdbad19bf57ed9f128e59cd71ecb8a36fbf920a55b60f68a2c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/solid-6.0.0.tar.xz">solid-6.0.0</a></td>
   <td align="right">298kB</td>
   <td><tt>75c5d254eeceb917c35cb0e32beff76a2cf1458f773ecd0e7795b47dad5aadd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/sonnet-6.0.0.tar.xz">sonnet-6.0.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2083df45e7a729a37a8d6642145e6acf4c53e6b235303843e31031c8d290ae8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/syndication-6.0.0.tar.xz">syndication-6.0.0</a></td>
   <td align="right">498kB</td>
   <td><tt>ff5e5189fcf8f6fb1289886ea370c20295de8c07269521316c2548b8e7294bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/syntax-highlighting-6.0.0.tar.xz">syntax-highlighting-6.0.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2ef9e6b8aeb8543e64f4a3628afa331c0656fe6c485f3574c407651d7c12a653</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/6.0/threadweaver-6.0.0.tar.xz">threadweaver-6.0.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ba9daec6e0697fdc2accf74a46a6d59403e5e340d280bce916fd6356a668ddb3</tt></td>
</tr>

</table>
