<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/bluedevil-5.23.3.tar.xz">bluedevil-5.23.3</a></td>
   <td align="right">167kB</td>
   <td><tt>1d616b4af1141ae3e184a4430bf80092ede05c2f0f68087605741ff34915d0d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/breeze-5.23.3.tar.xz">breeze-5.23.3</a></td>
   <td align="right">70MB</td>
   <td><tt>bb4af2a3221c5486bb90202213f2c662727d5a2946c228a90d872d5126f12494</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/breeze-grub-5.23.3.tar.xz">breeze-grub-5.23.3</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fe033eb5b3630849a12335c00b840bea6e84b35f00c103ed27e9b569019790db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/breeze-gtk-5.23.3.tar.xz">breeze-gtk-5.23.3</a></td>
   <td align="right">46kB</td>
   <td><tt>76bf9712d45b6f821b9174de283e2d2c3ed202ce375cd306d7d41ea9e8080373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/breeze-plymouth-5.23.3.tar.xz">breeze-plymouth-5.23.3</a></td>
   <td align="right">107kB</td>
   <td><tt>b4e18fd39755d3cf83411ee37874a7d87b64500efca21246e4f466869fa3ec10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/discover-5.23.3.1.tar.xz">discover-5.23.3.1</a></td>
   <td align="right">7.8MB</td>
   <td><tt>bf8a759b8150977f19b7418d692e51032dd39d98e8cfccca92f32159d6f8379c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/drkonqi-5.23.3.tar.xz">drkonqi-5.23.3</a></td>
   <td align="right">774kB</td>
   <td><tt>c5f78682db44f5e479adf0258f63995cdd8ef5b7256481a346559a3fb035cc93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kactivitymanagerd-5.23.3.tar.xz">kactivitymanagerd-5.23.3</a></td>
   <td align="right">101kB</td>
   <td><tt>ab702c990b61967d117af3e0ea9cbf9928802ee37a1f2873f518a7b00b983f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kde-cli-tools-5.23.3.tar.xz">kde-cli-tools-5.23.3</a></td>
   <td align="right">617kB</td>
   <td><tt>4069a881b04f065bb56d5eae8ac2499fe276071e9350e23d919d4e62cd521c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kdecoration-5.23.3.tar.xz">kdecoration-5.23.3</a></td>
   <td align="right">46kB</td>
   <td><tt>8839ea0327236a7fe21b36d79bf77924e26a4c0b2ea8a20401742f41cbad928c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kde-gtk-config-5.23.3.tar.xz">kde-gtk-config-5.23.3</a></td>
   <td align="right">69kB</td>
   <td><tt>6bea99fa332317845e0d7345885265342a802a326cbcc1c3132c8d58c196828b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kdeplasma-addons-5.23.3.tar.xz">kdeplasma-addons-5.23.3</a></td>
   <td align="right">614kB</td>
   <td><tt>bc0d4ab840e853a8839c2c8c405c03ace1d2d4d04a9300cca862cc20a4fb3c8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kgamma5-5.23.3.tar.xz">kgamma5-5.23.3</a></td>
   <td align="right">81kB</td>
   <td><tt>c5032a0576542d818200087279d70ac6c9f4b0a1623c6cf4e0b7782cf5659f1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/khotkeys-5.23.3.tar.xz">khotkeys-5.23.3</a></td>
   <td align="right">1.7MB</td>
   <td><tt>066dffcc6f3980d10c6979a7fadb8e70b7ac54cb8b83016bab55d38047a692b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kinfocenter-5.23.3.tar.xz">kinfocenter-5.23.3</a></td>
   <td align="right">1.0MB</td>
   <td><tt>fb11f9ec45db2b7e609d7391b7a8f05f21a78eff28c8341e0bfa7dfef32bdf27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kmenuedit-5.23.3.tar.xz">kmenuedit-5.23.3</a></td>
   <td align="right">879kB</td>
   <td><tt>a5e02eff9bb2b9d6b7a49693a4030d4b177e192f69c330238be4f22fcf9bd300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kscreen-5.23.3.tar.xz">kscreen-5.23.3</a></td>
   <td align="right">129kB</td>
   <td><tt>1c2e0502a2133f84a1d154828c1c9a7cf3edaa93d9fb3fb419bcb7b098a798f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kscreenlocker-5.23.3.tar.xz">kscreenlocker-5.23.3</a></td>
   <td align="right">114kB</td>
   <td><tt>6464699a766a40187824b9eb2e78028c8249aa1c1f449e3e1ea3e0d167cc4c72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/ksshaskpass-5.23.3.tar.xz">ksshaskpass-5.23.3</a></td>
   <td align="right">23kB</td>
   <td><tt>1d6efbaea8b504694176f7a28688d1309623bf5b97431a7cc50e6df60b649e35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/ksystemstats-5.23.3.tar.xz">ksystemstats-5.23.3</a></td>
   <td align="right">88kB</td>
   <td><tt>74c0bbaaa935710062793498b75f3eb1759d426c897cf079833d03444c60518e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kwallet-pam-5.23.3.tar.xz">kwallet-pam-5.23.3</a></td>
   <td align="right">19kB</td>
   <td><tt>a8cde66c8020a8d7cc7ad503627d7844aacfd79755c04e212c7696fbf599bd2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kwayland-integration-5.23.3.tar.xz">kwayland-integration-5.23.3</a></td>
   <td align="right">23kB</td>
   <td><tt>e30f666ffe0c7e6633925790156bf723449a6d1724a4b6c6d842c0a8561ff505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kwayland-server-5.23.3.tar.xz">kwayland-server-5.23.3</a></td>
   <td align="right">212kB</td>
   <td><tt>fd8d071b12b729d6da6014128e3304866d0d49ad4e78bc926b7e7c15d11150c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kwin-5.23.3.tar.xz">kwin-5.23.3</a></td>
   <td align="right">6.0MB</td>
   <td><tt>7fb1daac298d1198f3c45b38d3b58219f72dbb7fcb11176478a9fd3cbedd8813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/kwrited-5.23.3.tar.xz">kwrited-5.23.3</a></td>
   <td align="right">20kB</td>
   <td><tt>8498568bee3e2ea4006f7359a382bb4f1ad5a7359fe5dccdd100cf6695d7a604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/layer-shell-qt-5.23.3.tar.xz">layer-shell-qt-5.23.3</a></td>
   <td align="right">17kB</td>
   <td><tt>4a84038847e95559ecd0258e715e5c7b51dd758ed8676d3b56e99c5414b8c797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/libkscreen-5.23.3.tar.xz">libkscreen-5.23.3</a></td>
   <td align="right">95kB</td>
   <td><tt>b8d57ee450b0bd95f879c8bb01a89aa993c10e60e152111a7df64c0b95de5f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/libksysguard-5.23.3.tar.xz">libksysguard-5.23.3</a></td>
   <td align="right">751kB</td>
   <td><tt>40c17c3fb7c14665379b03d16a912c9f40c74f64f925b8a3210e480438584455</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/milou-5.23.3.tar.xz">milou-5.23.3</a></td>
   <td align="right">46kB</td>
   <td><tt>0d588be998ff30614b3194169c41aa4cfcb256e511fba3a86309053c57aadb57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/oxygen-5.23.3.tar.xz">oxygen-5.23.3</a></td>
   <td align="right">4.3MB</td>
   <td><tt>1fb877d5abbc05183f30ad0b26dd1002386261f31c1d1fbfb6849eb79beae964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-browser-integration-5.23.3.tar.xz">plasma-browser-integration-5.23.3</a></td>
   <td align="right">214kB</td>
   <td><tt>27b9969c64652184bea2223be6c5e564a2ea17458eb8d6ac21c2e271b8c17a64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-desktop-5.23.3.tar.xz">plasma-desktop-5.23.3</a></td>
   <td align="right">15MB</td>
   <td><tt>43435a514eb66965e52af49aa033ebc813db42a10ad66cd5656f7466f14d4504</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-disks-5.23.3.tar.xz">plasma-disks-5.23.3</a></td>
   <td align="right">84kB</td>
   <td><tt>ab00951001450d4347c0c17c523b77b4204df746df907d0554c6325fb5829de3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-firewall-5.23.3.tar.xz">plasma-firewall-5.23.3</a></td>
   <td align="right">335kB</td>
   <td><tt>18734bd949d6a350b4a7d9f570573982f45ad2b6bfd63c48c0cf40edbb3e0b4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-integration-5.23.3.tar.xz">plasma-integration-5.23.3</a></td>
   <td align="right">81kB</td>
   <td><tt>36c31a474bdbb1f7f37996236bcce4cac68251172cd68be9be4117ea0759a360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-nano-5.23.3.tar.xz">plasma-nano-5.23.3</a></td>
   <td align="right">64kB</td>
   <td><tt>64387d4bbb5892dbe7bdf01434619f85f42f8afda222ed913e89a163a57a5e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-nm-5.23.3.tar.xz">plasma-nm-5.23.3</a></td>
   <td align="right">900kB</td>
   <td><tt>eec18c4addba69313f1372f05bf9fc713960186f8e53905dc321af115ba5ea94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-pa-5.23.3.tar.xz">plasma-pa-5.23.3</a></td>
   <td align="right">127kB</td>
   <td><tt>13771e6d12d7033b96d5ae89fbbbb62d6e38a4b15e57226dc3c43a17c5daa355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-phone-components-5.23.3.tar.xz">plasma-phone-components-5.23.3</a></td>
   <td align="right">1.4MB</td>
   <td><tt>8cb4b26e6fb78f3f3ab1a8c0098d35d78a19de16a3c5a218dc6324903fc31ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-sdk-5.23.3.tar.xz">plasma-sdk-5.23.3</a></td>
   <td align="right">269kB</td>
   <td><tt>716dcf93d9339a0ec5c14e455f27cfe71974bb855e26840c34ad2b0db7796939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-systemmonitor-5.23.3.tar.xz">plasma-systemmonitor-5.23.3</a></td>
   <td align="right">141kB</td>
   <td><tt>17fd59d0cff3c155cea48687cb1e566981d3bcec1f8a1557ea051dde66768fca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-tests-5.23.3.tar.xz">plasma-tests-5.23.3</a></td>
   <td align="right">1kB</td>
   <td><tt>f0b5ae63c3a09968ec26640ab298c57a6bf9f57b0b50f291081ce5085802f4b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-thunderbolt-5.23.3.tar.xz">plasma-thunderbolt-5.23.3</a></td>
   <td align="right">63kB</td>
   <td><tt>5bad78bc330a5111f326ee9d68f5bef5ce43743c8f82818024e2e968a8feed6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-vault-5.23.3.tar.xz">plasma-vault-5.23.3</a></td>
   <td align="right">172kB</td>
   <td><tt>a27a13fe0a2d316045e1063215e301b192defe5a93b04baaaa4a855f01c03f18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-workspace-5.23.3.tar.xz">plasma-workspace-5.23.3</a></td>
   <td align="right">8.5MB</td>
   <td><tt>86802e3305bd91faef25c1876e333ad22ae751e556e8503945481b52ad52e257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plasma-workspace-wallpapers-5.23.3.tar.xz">plasma-workspace-wallpapers-5.23.3</a></td>
   <td align="right">54MB</td>
   <td><tt>5a9432073012423531f311a2ba441c03242625b04dbd8a2b0f175afe3eeee4cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/plymouth-kcm-5.23.3.tar.xz">plymouth-kcm-5.23.3</a></td>
   <td align="right">38kB</td>
   <td><tt>ce63f0008c9290876d9047eb36970345c76803d5325c1d2f74c29197023442b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/polkit-kde-agent-1-5.23.3.tar.xz">polkit-kde-agent-1-5.23.3</a></td>
   <td align="right">46kB</td>
   <td><tt>79b8cc2f684ada6667085f604e642038191e9c01d2691e87c53de5227fc7bae4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/powerdevil-5.23.3.tar.xz">powerdevil-5.23.3</a></td>
   <td align="right">614kB</td>
   <td><tt>eb57941e0381b6dc4a27c31d7210d895c250eaafcab43a66fe5443e29b108b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/qqc2-breeze-style-5.23.3.tar.xz">qqc2-breeze-style-5.23.3</a></td>
   <td align="right">65kB</td>
   <td><tt>b414b33b54c8cff62e8193fdb34b5a790fd937bc1b5d1ba39afcdfd70caf261c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/sddm-kcm-5.23.3.tar.xz">sddm-kcm-5.23.3</a></td>
   <td align="right">75kB</td>
   <td><tt>d9e25d97ec255097c4974f0c1ee4aaca3f12a0fcce09674567d229b89ad46969</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/systemsettings-5.23.3.tar.xz">systemsettings-5.23.3</a></td>
   <td align="right">198kB</td>
   <td><tt>015ea04084b144821db7a5c7f4a4d029075bc7693dfec77679a3c9927c601b45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.3/xdg-desktop-portal-kde-5.23.3.tar.xz">xdg-desktop-portal-kde-5.23.3</a></td>
   <td align="right">87kB</td>
   <td><tt>ffe6b1445901a62ef7bad576d33d0f43f80845eed104a012a9e907cad8a352a9</tt></td>
</tr>

</table>
