<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/accessibility-inspector-24.07.90.tar.xz">accessibility-inspector-24.07.90</a></td>
   <td align="right">81kB</td>
   <td><tt>6c542c00e227973bd749ea25674b31d6291b4a244fe422034b258d382f748d9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadi-24.07.90.tar.xz">akonadi-24.07.90</a></td>
   <td align="right">1661kB</td>
   <td><tt>1aa7cd09916770d24551d1cddcf3fb805ddf8481d93d885fe5c243c28554b5ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadi-calendar-24.07.90.tar.xz">akonadi-calendar-24.07.90</a></td>
   <td align="right">508kB</td>
   <td><tt>1668ed7b1ddbcf26b01f5932fa438564023ea739d9c6f29aa2c0917a506e7b83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadi-calendar-tools-24.07.90.tar.xz">akonadi-calendar-tools-24.07.90</a></td>
   <td align="right">258kB</td>
   <td><tt>026f5f98c2c7cf64526d38e6fd9baeefe90129b9c1bfd05a7919f2d44e862187</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadiconsole-24.07.90.tar.xz">akonadiconsole-24.07.90</a></td>
   <td align="right">297kB</td>
   <td><tt>66f0631759e9473884e3b2ee203fe317cd598c62a9dc2f97f7484f4e62dfdf66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadi-contacts-24.07.90.tar.xz">akonadi-contacts-24.07.90</a></td>
   <td align="right">422kB</td>
   <td><tt>09e198581f655f1b814b897eeb2f65011e2c758dd1e6648ccacb7666ecc3b228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadi-import-wizard-24.07.90.tar.xz">akonadi-import-wizard-24.07.90</a></td>
   <td align="right">477kB</td>
   <td><tt>0213a54d69dcab7c418fbdfdadcec276926f6e536c8f53ec6ba43a30cb622411</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadi-mime-24.07.90.tar.xz">akonadi-mime-24.07.90</a></td>
   <td align="right">169kB</td>
   <td><tt>e2ee68423de3843e6bd9c867606e88b2994f1f847b2132581623c6bc7c397adb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadi-notes-24.07.90.tar.xz">akonadi-notes-24.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>0014c0546fbb5697c67d70f5decef55cb8f792aa9241ecb86d9c4a9eac936cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akonadi-search-24.07.90.tar.xz">akonadi-search-24.07.90</a></td>
   <td align="right">110kB</td>
   <td><tt>83f1b7a4edba4a7331d60a4e698b36b3a14e43a148a0e1f1843dca61d9b645f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/akregator-24.07.90.tar.xz">akregator-24.07.90</a></td>
   <td align="right">2069kB</td>
   <td><tt>b204588ec3f7d02026c29bb2b0c492d47474bb6c4535ad1c799a09abbd9473df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/alligator-24.07.90.tar.xz">alligator-24.07.90</a></td>
   <td align="right">190kB</td>
   <td><tt>36c8f8bfb1c49af86d01f9491eecdb41f690ee2d23d5e40aa4ff66905b7c5afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/analitza-24.07.90.tar.xz">analitza-24.07.90</a></td>
   <td align="right">351kB</td>
   <td><tt>d198dfc39ed3e1404ef95a2a48946e15ab47beadcf7e2283001d6fd2303c4eaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/angelfish-24.07.90.tar.xz">angelfish-24.07.90</a></td>
   <td align="right">267kB</td>
   <td><tt>362ee20ecd34899e99e86d6838f620ffb6787e0470823697ccebd025dc57a1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/arianna-24.07.90.tar.xz">arianna-24.07.90</a></td>
   <td align="right">800kB</td>
   <td><tt>3cf88910d0defd4693ea39af75056bf1dcfafbc034a825250a9839629280b416</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ark-24.07.90.tar.xz">ark-24.07.90</a></td>
   <td align="right">2933kB</td>
   <td><tt>787c48065e499a87dea50af92fe2f68a3787675d34c98241aa4582f7132bcb98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/artikulate-24.07.90.tar.xz">artikulate-24.07.90</a></td>
   <td align="right">1027kB</td>
   <td><tt>19a31c46f67dc90500bce96bcb373132339b5a6c98030b94d8ff0c261fb6f0ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/audex-24.07.90.tar.xz">audex-24.07.90</a></td>
   <td align="right">691kB</td>
   <td><tt>473dd26115312f5bc73df0cb33bbbabab781e1193ca4c4379376b53d981f2407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/audiocd-kio-24.07.90.tar.xz">audiocd-kio-24.07.90</a></td>
   <td align="right">557kB</td>
   <td><tt>fffc94412c7da39161af76f10484b9c7c1ea26f8e8ff4152433e33f7999d6017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/audiotube-24.07.90.tar.xz">audiotube-24.07.90</a></td>
   <td align="right">150kB</td>
   <td><tt>a0af7ffae64afae5ae0058375c435869be6a2307c4925798b6cf74339017e413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/baloo-widgets-24.07.90.tar.xz">baloo-widgets-24.07.90</a></td>
   <td align="right">270kB</td>
   <td><tt>890aa44854e1855e414dec80f70aacbc13d242de5909f5bcda90c29ab7b44b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/blinken-24.07.90.tar.xz">blinken-24.07.90</a></td>
   <td align="right">2534kB</td>
   <td><tt>eaf2b3348f2da00c1d6be623a0599ce6485738160924fc4aa08fda77ba9717a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/bomber-24.07.90.tar.xz">bomber-24.07.90</a></td>
   <td align="right">818kB</td>
   <td><tt>da3b2de0c6ae00e847e085c9f419f999cbfd584621864e6e9551be0f18113538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/bovo-24.07.90.tar.xz">bovo-24.07.90</a></td>
   <td align="right">212kB</td>
   <td><tt>767fdfe71064cf0c8db616470ba64aad3fcd6dff42a09688c087a4fc7910a07d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/calendarsupport-24.07.90.tar.xz">calendarsupport-24.07.90</a></td>
   <td align="right">977kB</td>
   <td><tt>d598cf127a2a36a0c5ff3fcca92d676a2f53d99b20be68a7aa30a91e3e23ea56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/calindori-24.07.90.tar.xz">calindori-24.07.90</a></td>
   <td align="right">386kB</td>
   <td><tt>cb5586e5df624b42b6b7425ee1fa14413f25ae4926472e8cca33ae2e589bbb98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/cantor-24.07.90.tar.xz">cantor-24.07.90</a></td>
   <td align="right">10592kB</td>
   <td><tt>10ad92e73fd9191ee0ca8d052444a9e58af9cbb9ebc01992db5d8fe58bb4614a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/cervisia-24.07.90.tar.xz">cervisia-24.07.90</a></td>
   <td align="right">1767kB</td>
   <td><tt>f02b12c6f79c24c08ee7315e325f94c1823477e25d3465ebb92b7b849de5e73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/colord-kde-24.07.90.tar.xz">colord-kde-24.07.90</a></td>
   <td align="right">114kB</td>
   <td><tt>674f2113257ec1933cbbd2eb336a2988e56b488647473829408e5a1d408971f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/dolphin-24.07.90.tar.xz">dolphin-24.07.90</a></td>
   <td align="right">5494kB</td>
   <td><tt>9253a2a739b2ce311945f16bb2b512ca1bb426d9812b74d1bdbb0bca164f5b49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/dolphin-plugins-24.07.90.tar.xz">dolphin-plugins-24.07.90</a></td>
   <td align="right">309kB</td>
   <td><tt>0627ede592e724974849fe8ff4f1275c638155824d514b942854d1b0361e40fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/dragon-24.07.90.tar.xz">dragon-24.07.90</a></td>
   <td align="right">1786kB</td>
   <td><tt>1eb19b602d98ca689d2c5f812c2fa22e6201247111876b7b66eef87c39e3c815</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/elisa-24.07.90.tar.xz">elisa-24.07.90</a></td>
   <td align="right">1863kB</td>
   <td><tt>75fc69842728ec153effc044c953ec1326f5a3483ec9f414344fc3b2411a2b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/eventviews-24.07.90.tar.xz">eventviews-24.07.90</a></td>
   <td align="right">478kB</td>
   <td><tt>bba0e3b329d2d830b7431cdc3b2f0148016926659e471b7447bbcc9979749021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/falkon-24.07.90.tar.xz">falkon-24.07.90</a></td>
   <td align="right">2573kB</td>
   <td><tt>449996339425684b45b28090bc16d7dab7824b0f40ff2682d22aae18c7ea8fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ffmpegthumbs-24.07.90.tar.xz">ffmpegthumbs-24.07.90</a></td>
   <td align="right">32kB</td>
   <td><tt>554f9a31ccfb97a0523e9cd6b09c096f7372657c0fed1ab016b86b9d5743023e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/filelight-24.07.90.tar.xz">filelight-24.07.90</a></td>
   <td align="right">666kB</td>
   <td><tt>482570503206b608232b8b2309c7cda0d18f930bb88b22eaa36e3e788ce8f917</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/francis-24.07.90.tar.xz">francis-24.07.90</a></td>
   <td align="right">111kB</td>
   <td><tt>d513a94f1f1606eaa33b3da68197e98fb91b8d4c71c55ccd3f682d838ac3603d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ghostwriter-24.07.90.tar.xz">ghostwriter-24.07.90</a></td>
   <td align="right">2638kB</td>
   <td><tt>8820315c0981abc7379a970b1103ede2e4c6ec2e264270059ffe78d39be528c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/granatier-24.07.90.tar.xz">granatier-24.07.90</a></td>
   <td align="right">1962kB</td>
   <td><tt>f031ee469e892cadf51279f882b4b590bb787b1a5bc71ab6946180fc1f696929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/grantlee-editor-24.07.90.tar.xz">grantlee-editor-24.07.90</a></td>
   <td align="right">120kB</td>
   <td><tt>5535bafc374f8cd146afc5468b8ebdfb2b4e4d6df83042df578a4ab29da7000a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/grantleetheme-24.07.90.tar.xz">grantleetheme-24.07.90</a></td>
   <td align="right">61kB</td>
   <td><tt>d6a38f6c8eb707c3dcc3be1d25ca15dc76320fbfac95a2467186b9aa54e8818b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/gwenview-24.07.90.tar.xz">gwenview-24.07.90</a></td>
   <td align="right">6361kB</td>
   <td><tt>ed3600e356ab7a8f3e2e8d0eff34c31f63983885d41ea0528b85fa089173f05c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/incidenceeditor-24.07.90.tar.xz">incidenceeditor-24.07.90</a></td>
   <td align="right">573kB</td>
   <td><tt>8eefd9e3501d43561c4c0347dfddd432664d0277864af106fc4e8ddf05e56d38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/isoimagewriter-24.07.90.tar.xz">isoimagewriter-24.07.90</a></td>
   <td align="right">457kB</td>
   <td><tt>41f55c399551c1d3fcc088bb4329580ac9750cae954267935b1baeb0c15a842a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/itinerary-24.07.90.tar.xz">itinerary-24.07.90</a></td>
   <td align="right">712kB</td>
   <td><tt>ed4028dc3b4fc587f37ce5c7ca4ea865d5e2b1d3fad84185bf63782e078226db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/juk-24.07.90.tar.xz">juk-24.07.90</a></td>
   <td align="right">1853kB</td>
   <td><tt>07c42a77361b0ed9c858e98b5a0621ee4349bf42ee8c861ffc47c3774fbc0676</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/k3b-24.07.90.tar.xz">k3b-24.07.90</a></td>
   <td align="right">10449kB</td>
   <td><tt>f1fa518074e953de91e50879a6742b066d99609311139dd636fd30b5f073cc76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kaccounts-integration-24.07.90.tar.xz">kaccounts-integration-24.07.90</a></td>
   <td align="right">89kB</td>
   <td><tt>f9fd07bfa5205f629508a7fe79b4d5ac6b9b4d60a78436ba4b3abf870762c3ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kaccounts-providers-24.07.90.tar.xz">kaccounts-providers-24.07.90</a></td>
   <td align="right">67kB</td>
   <td><tt>30ca5822900617e275168c9e817ae9c8998b85c00a897e3f4d121481b58d9fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kaddressbook-24.07.90.tar.xz">kaddressbook-24.07.90</a></td>
   <td align="right">3330kB</td>
   <td><tt>1b50586ecb2a6aaee426a456d63651c800c7139d17e767b00e492cfa81f84470</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kajongg-24.07.90.tar.xz">kajongg-24.07.90</a></td>
   <td align="right">4497kB</td>
   <td><tt>6e5f541ebc7fa263c8006ed96c5ce3f7c2e47344d708acff102653606fa7dd99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kalarm-24.07.90.tar.xz">kalarm-24.07.90</a></td>
   <td align="right">2528kB</td>
   <td><tt>a1aa7bed0d65cc5aba0f4da239b777c8d5352737d1c41d563ee97789a19c096c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kalgebra-24.07.90.tar.xz">kalgebra-24.07.90</a></td>
   <td align="right">921kB</td>
   <td><tt>163e1c63629ea69fd58d519a30cc68b4024fa162a25d54b700251da969634293</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kalk-24.07.90.tar.xz">kalk-24.07.90</a></td>
   <td align="right">74kB</td>
   <td><tt>d07729931da52ad1444c9a2ffd74006c7bcdb02fe6ee950d98fe5fe63ced380d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kalm-24.07.90.tar.xz">kalm-24.07.90</a></td>
   <td align="right">73kB</td>
   <td><tt>456476135d97d21db204f2ab6a448a1ddf0923ffd68bb4b31733f9bc32aefc0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kalzium-24.07.90.tar.xz">kalzium-24.07.90</a></td>
   <td align="right">22149kB</td>
   <td><tt>c7995b514e6e0d02e923f9739c11a820257f59a3533be44c745d9234cfcc6f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kamera-24.07.90.tar.xz">kamera-24.07.90</a></td>
   <td align="right">127kB</td>
   <td><tt>e2c38e7b082f1e4fc265b907314fdafe0c3982c32bc4bfc2835506113210dab1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kamoso-24.07.90.tar.xz">kamoso-24.07.90</a></td>
   <td align="right">227kB</td>
   <td><tt>3a80e59e8c8c3b4cf592f80daf62ff8de6fa1c161c4de62c631395eeb31096d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kanagram-24.07.90.tar.xz">kanagram-24.07.90</a></td>
   <td align="right">7597kB</td>
   <td><tt>2f10f66e88b2a874e9126bd1846d14c17137b3653b7207e1337ac5ff565d072e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kapman-24.07.90.tar.xz">kapman-24.07.90</a></td>
   <td align="right">2093kB</td>
   <td><tt>6d596b3310efcd90b390c78374797d28624c578019930dc2c08b0caaff979cd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kapptemplate-24.07.90.tar.xz">kapptemplate-24.07.90</a></td>
   <td align="right">334kB</td>
   <td><tt>71282971f3fa7745ee9cef3768a8f2a4a678d1608be5d1098293c9c29f915dd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kasts-24.07.90.tar.xz">kasts-24.07.90</a></td>
   <td align="right">603kB</td>
   <td><tt>e0560e455358c994d8c6d3b60597ed7d995324ae19877a880e3f1692995e3c57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kate-24.07.90.tar.xz">kate-24.07.90</a></td>
   <td align="right">8008kB</td>
   <td><tt>2b6e103b4226b928e677434999e82a2547724d614ff29331048e7031a38d3768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/katomic-24.07.90.tar.xz">katomic-24.07.90</a></td>
   <td align="right">1410kB</td>
   <td><tt>409d26f4794c2d76d0cdc2c0de8ee1c6a854a05af4e5b9b471e71f7032c262c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kbackup-24.07.90.tar.xz">kbackup-24.07.90</a></td>
   <td align="right">370kB</td>
   <td><tt>5b96bb96eb342808acbdfe3a6542acb070f9144b8ad5244dd929e093aa4c4e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kblackbox-24.07.90.tar.xz">kblackbox-24.07.90</a></td>
   <td align="right">534kB</td>
   <td><tt>d3152953b04bd702a641becee5bd4cda62dd8dac64128917e4f9175859de1b76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kblocks-24.07.90.tar.xz">kblocks-24.07.90</a></td>
   <td align="right">2051kB</td>
   <td><tt>bb2dbfa9f6ca01141e502503dc1ea2742bf4b4259495a0dc680bdee07935255e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kbounce-24.07.90.tar.xz">kbounce-24.07.90</a></td>
   <td align="right">3242kB</td>
   <td><tt>1fd6f367f2ae1cf0e8471924b7ef4d1ab17c0c3739fa7b8b128e6f1e2748372b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kbreakout-24.07.90.tar.xz">kbreakout-24.07.90</a></td>
   <td align="right">2492kB</td>
   <td><tt>8566ba0d36dbe8c31c1932a5dd45aa95257e6f6de7159407fb0a0ad8f57d643e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kbruch-24.07.90.tar.xz">kbruch-24.07.90</a></td>
   <td align="right">5031kB</td>
   <td><tt>307375a1ab629b1884272c7a19e9156fd2cd42c697f01150adb4428cb92b81f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kcachegrind-24.07.90.tar.xz">kcachegrind-24.07.90</a></td>
   <td align="right">912kB</td>
   <td><tt>fb7fe8e626977c7af6d4d56957c3a3d6603bc35b4f5ce15170b5123adb4a4764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kcalc-24.07.90.tar.xz">kcalc-24.07.90</a></td>
   <td align="right">460kB</td>
   <td><tt>1af436e37ac904594c7906bdf1dc8a1f2c4dce393ff985cbc81def7ed49a785d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kcalutils-24.07.90.tar.xz">kcalutils-24.07.90</a></td>
   <td align="right">346kB</td>
   <td><tt>04610d5f529071889d472264859ab6d799be7dcbd140a146b520e1e2eb055825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kcharselect-24.07.90.tar.xz">kcharselect-24.07.90</a></td>
   <td align="right">464kB</td>
   <td><tt>592c852ce4ba2256f9330c9ddf1e829154923b78cd0a86d715c5c35ca24c2e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kclock-24.07.90.tar.xz">kclock-24.07.90</a></td>
   <td align="right">643kB</td>
   <td><tt>865d12d79da2f1a3e540a94823fafca7e63d297ba7668c3508d907388ca10897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kcolorchooser-24.07.90.tar.xz">kcolorchooser-24.07.90</a></td>
   <td align="right">34kB</td>
   <td><tt>534f998461a6330743ddb1148a348ea06d60dac2558321c9873fe1e6c2ccc44a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kcron-24.07.90.tar.xz">kcron-24.07.90</a></td>
   <td align="right">856kB</td>
   <td><tt>9f3c8eb30db4e1c241966e817602cd51b69c4d97989da40d547a8fa7bb61c849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdebugsettings-24.07.90.tar.xz">kdebugsettings-24.07.90</a></td>
   <td align="right">112kB</td>
   <td><tt>2652e61e1bb76d925ce418cf503680d77e686d16064ec35af231a08002e5e36d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdeconnect-kde-24.07.90.tar.xz">kdeconnect-kde-24.07.90</a></td>
   <td align="right">687kB</td>
   <td><tt>c27ecddbb36a2ef6dab89cf28458d662cd575764b554fc0f24fe98ea7f6c87d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kde-dev-scripts-24.07.90.tar.xz">kde-dev-scripts-24.07.90</a></td>
   <td align="right">363kB</td>
   <td><tt>78eb8cfac67868aea13b61b91b032a907907ac2fcac9c56dfbf25b312ea44546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kde-dev-utils-24.07.90.tar.xz">kde-dev-utils-24.07.90</a></td>
   <td align="right">73kB</td>
   <td><tt>52119f494c0e2abb718143ba0ab50d7338dd0323fc2f599cc78fb7770f3ff612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdeedu-data-24.07.90.tar.xz">kdeedu-data-24.07.90</a></td>
   <td align="right">330kB</td>
   <td><tt>5384f47e61ee3404ec9238cedc27bcbf4c4ac7fa72565d02abbad648d80e7d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdegraphics-mobipocket-24.07.90.tar.xz">kdegraphics-mobipocket-24.07.90</a></td>
   <td align="right">12kB</td>
   <td><tt>2e9fc4898a2fe6ff4fee7f9c2f9bfd0487aa0da3b7ebe5ede0d515ade8402a77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdegraphics-thumbnailers-24.07.90.tar.xz">kdegraphics-thumbnailers-24.07.90</a></td>
   <td align="right">47kB</td>
   <td><tt>1dd22b9fc8075a9c4464b0e729b556fd8802eb022dddb53d7fcfa3e86eb3be42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kde-inotify-survey-24.07.90.tar.xz">kde-inotify-survey-24.07.90</a></td>
   <td align="right">230kB</td>
   <td><tt>be4688a9fcf95b05bd9f6e2632af660f309d2f0ea2e5cbb954cf817a24a1bac4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdenetwork-filesharing-24.07.90.tar.xz">kdenetwork-filesharing-24.07.90</a></td>
   <td align="right">482kB</td>
   <td><tt>848031ce70cbb607fb5209a235346ec984fd77e58aa70d0f9ad611f5c40f383e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdenlive-24.07.90.tar.xz">kdenlive-24.07.90</a></td>
   <td align="right">12680kB</td>
   <td><tt>edecb52a593536b5bdc21e8d0e4af96e1e41f4436ac0e19fe929d332f88c0845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdepim-addons-24.07.90.tar.xz">kdepim-addons-24.07.90</a></td>
   <td align="right">2550kB</td>
   <td><tt>b30b7324a1ce237ab78588113f11e0b0a0d4e06799e4162a8d75551f0589e3aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdepim-runtime-24.07.90.tar.xz">kdepim-runtime-24.07.90</a></td>
   <td align="right">1630kB</td>
   <td><tt>b4dbcc55ec054a9be04a1381b7c94a94b20524f0e8706bda98e42fe2aed8b50a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdesdk-kio-24.07.90.tar.xz">kdesdk-kio-24.07.90</a></td>
   <td align="right">40kB</td>
   <td><tt>6c427caaa47d72b83b6a5a4371617fd1cf3941c4da88b0b95416eb8da63f84b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdesdk-thumbnailers-24.07.90.tar.xz">kdesdk-thumbnailers-24.07.90</a></td>
   <td align="right">26kB</td>
   <td><tt>d9ad7d44835ca9ffc97c92c619f4672c0b1c0a7fefa1c274e3ea10a4428ac887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdevelop-24.07.90.tar.xz">kdevelop-24.07.90</a></td>
   <td align="right">8573kB</td>
   <td><tt>bf74c5f44435e0e0536be7ef164c3bd06b1094b8b35986334eac4d2f7499ae0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdev-php-24.07.90.tar.xz">kdev-php-24.07.90</a></td>
   <td align="right">1065kB</td>
   <td><tt>3316f18b0731e9207b053af5f35cabe336b638d91135a28e2c8b069ae903dee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdev-python-24.07.90.tar.xz">kdev-python-24.07.90</a></td>
   <td align="right">1073kB</td>
   <td><tt>a332aa287e48b7542b4abbc444d4196e4bf37e8fb078633ffd61b86bb8d5f2bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdf-24.07.90.tar.xz">kdf-24.07.90</a></td>
   <td align="right">466kB</td>
   <td><tt>c80f01d1ced85b1b4860ac8f7918a4799bb556239526cb223bee9b4613a179a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdialog-24.07.90.tar.xz">kdialog-24.07.90</a></td>
   <td align="right">143kB</td>
   <td><tt>71b86f498470df5229606e6b0614b89e0575308eec8b4c24682d95674565357d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kdiamond-24.07.90.tar.xz">kdiamond-24.07.90</a></td>
   <td align="right">4560kB</td>
   <td><tt>962b4f9d3e965ca26dfc62ef66fa85973babf5c4bc5ebc8239b261e10b79c993</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/keditbookmarks-24.07.90.tar.xz">keditbookmarks-24.07.90</a></td>
   <td align="right">252kB</td>
   <td><tt>fb728c30ce7bf24c107aca41a7d4a3443c8d784b2022331e03955e1f36a76503</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/keysmith-24.07.90.tar.xz">keysmith-24.07.90</a></td>
   <td align="right">167kB</td>
   <td><tt>408f97d45673cba4919effad357219f4cee76ed18ddaa8d6b68eb7f4c2fd6b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kfind-24.07.90.tar.xz">kfind-24.07.90</a></td>
   <td align="right">317kB</td>
   <td><tt>da38bab9c5807f676fbbda5cb58359146daa49b32bc3b3a6f9980ac8c5c376ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kfourinline-24.07.90.tar.xz">kfourinline-24.07.90</a></td>
   <td align="right">724kB</td>
   <td><tt>0add332f6f193a8dd32013b41526d388211c4ba8945544debf00c8ab3a5139a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kgeography-24.07.90.tar.xz">kgeography-24.07.90</a></td>
   <td align="right">12129kB</td>
   <td><tt>f17fa47f1a0482d103658d1f5a3d495e6b89dd014fa7af70ecb508f6b5a40d00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kget-24.07.90.tar.xz">kget-24.07.90</a></td>
   <td align="right">4796kB</td>
   <td><tt>d8f935ec12e55122c8d5f47a3a67b68e71c3092dbcd81b8bd44e2f3cffc4f73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kgoldrunner-24.07.90.tar.xz">kgoldrunner-24.07.90</a></td>
   <td align="right">4222kB</td>
   <td><tt>1b73234c95019a6df2a19b1eca33ddf6f5c85d38dcfc597029adc936b5b9a09d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kgpg-24.07.90.tar.xz">kgpg-24.07.90</a></td>
   <td align="right">2951kB</td>
   <td><tt>64deb30a8005dd94cb891dc806d928d98c9afd4692876d9a5891c32b20618188</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kgraphviewer-24.07.90.tar.xz">kgraphviewer-24.07.90</a></td>
   <td align="right">1545kB</td>
   <td><tt>b2eaf78fae0000652b8f9912e4de0a89f794efe53bb8102ee1d7079e0d2cb53e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/khangman-24.07.90.tar.xz">khangman-24.07.90</a></td>
   <td align="right">6847kB</td>
   <td><tt>ea328637676ae57817bc411105a054a838633ef5fb1b0b29ed4a239a0dd76276</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/khealthcertificate-24.07.90.tar.xz">khealthcertificate-24.07.90</a></td>
   <td align="right">502kB</td>
   <td><tt>ebcd8a1077a6ce882a6837fa7e5275b520536e65f774e90860d00245f69dc267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/khelpcenter-24.07.90.tar.xz">khelpcenter-24.07.90</a></td>
   <td align="right">4121kB</td>
   <td><tt>9cfd7fc158b0d6be83a8b47f148f744ae9f76c4d3b46b548074e4954ec3b32d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kidentitymanagement-24.07.90.tar.xz">kidentitymanagement-24.07.90</a></td>
   <td align="right">190kB</td>
   <td><tt>9d64aa2cbd311149920ac2927bb4d0d0dff72ae909e9e1d020aff5f6bfc67ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kig-24.07.90.tar.xz">kig-24.07.90</a></td>
   <td align="right">3169kB</td>
   <td><tt>fff845ada55006bcb0ea94dd161373a01f9e2c9ef8fcde1700981d896597679e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kigo-24.07.90.tar.xz">kigo-24.07.90</a></td>
   <td align="right">4714kB</td>
   <td><tt>62901fbed6ddff450580fc49e702eb8b3ff812cf32c5f860bb65e63a6f6b61c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/killbots-24.07.90.tar.xz">killbots-24.07.90</a></td>
   <td align="right">1135kB</td>
   <td><tt>57eaa46cd13f7c29eec23d802671c1e5a7df202c34aa640d8ee665acb95c9f3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kimagemapeditor-24.07.90.tar.xz">kimagemapeditor-24.07.90</a></td>
   <td align="right">1046kB</td>
   <td><tt>9775d9399d45d6ae68ff5e103fa80db61758ed8ec91b548a6599f0336f2f4351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kimap-24.07.90.tar.xz">kimap-24.07.90</a></td>
   <td align="right">129kB</td>
   <td><tt>5f55333d28f590733f39415612632e3495dda0ad4464e8e6a73fc09bf8935c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kio-admin-24.07.90.tar.xz">kio-admin-24.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>ac3e768b05348a03b0daa1759b7bdaed58eb4688667566112dea8a272876dc1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kio-extras-24.07.90.tar.xz">kio-extras-24.07.90</a></td>
   <td align="right">3392kB</td>
   <td><tt>7ffd1e20b3d7451fa0c5b0a704b1493972a1e49e6420cc9456941bc8da3dbd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kio-gdrive-24.07.90.tar.xz">kio-gdrive-24.07.90</a></td>
   <td align="right">78kB</td>
   <td><tt>91020aaef0b4e9c8b4c1e4c3b15ed6cb4a579f20e26e0f89d7b11bb30af6106a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kio-zeroconf-24.07.90.tar.xz">kio-zeroconf-24.07.90</a></td>
   <td align="right">43kB</td>
   <td><tt>d92f78fd855a16e404f76a3eff71eca305e2d5abb1a915f48514a8a2feac7ddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kirigami-gallery-24.07.90.tar.xz">kirigami-gallery-24.07.90</a></td>
   <td align="right">359kB</td>
   <td><tt>54acfe2bee10cec84ee0ea2fc71835f896c1a022aad2fa4da3afc21355d31c50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kiriki-24.07.90.tar.xz">kiriki-24.07.90</a></td>
   <td align="right">361kB</td>
   <td><tt>a330b7fe4901f14cc14e359e871390d0827f132c165335c814f6a691c566a7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kiten-24.07.90.tar.xz">kiten-24.07.90</a></td>
   <td align="right">11045kB</td>
   <td><tt>b260f8afc52e44cc58e1bd5cd126ebf4eb5f776fe6cb17636af8c9204c301257</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kitinerary-24.07.90.tar.xz">kitinerary-24.07.90</a></td>
   <td align="right">1942kB</td>
   <td><tt>d75fe9c0ecacc21bcd2db4b599286183278d6300f8db16be570e8fdb6a665000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kjournald-24.07.90.tar.xz">kjournald-24.07.90</a></td>
   <td align="right">506kB</td>
   <td><tt>37c20dfebfd29a36632a3d5d8ff95e0ca1f8303e88d28d1a6db4a764989b961d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kjumpingcube-24.07.90.tar.xz">kjumpingcube-24.07.90</a></td>
   <td align="right">332kB</td>
   <td><tt>1a94a6fe2922233dc20f255b2d86017d6da58c2076b90977c5938b73bfca8a5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kldap-24.07.90.tar.xz">kldap-24.07.90</a></td>
   <td align="right">184kB</td>
   <td><tt>9e18d611b7b0b809f7f94bb4461348d9ea48dc7eb0651a41cfbe2ee3c8732d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kleopatra-24.07.90.tar.xz">kleopatra-24.07.90</a></td>
   <td align="right">2887kB</td>
   <td><tt>885dd1666714a5a04f83f986d1c52c512c55df824e72ebc13beb880d693c34c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/klettres-24.07.90.tar.xz">klettres-24.07.90</a></td>
   <td align="right">46076kB</td>
   <td><tt>f83e0f17dec058c5e93faa4841fcad4c2315dd154b6155efa3a3fcce397d612c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/klickety-24.07.90.tar.xz">klickety-24.07.90</a></td>
   <td align="right">1350kB</td>
   <td><tt>cc3eb78a8eec154579612a53dcb9513afe246096daa4614b5c18abba81c6b719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/klines-24.07.90.tar.xz">klines-24.07.90</a></td>
   <td align="right">1630kB</td>
   <td><tt>9725fce2b23383b2e8a8e86c01d4024233a54530c4aa0392c269b15e6b52f28b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmag-24.07.90.tar.xz">kmag-24.07.90</a></td>
   <td align="right">658kB</td>
   <td><tt>a1f86c61c89a6af1ed99a5dbc95568f0da4c391001b67e0b3212220d0b451fb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmahjongg-24.07.90.tar.xz">kmahjongg-24.07.90</a></td>
   <td align="right">3628kB</td>
   <td><tt>c6556d8d9c1fcd9173563515e7a8288886bcae1bbed48ba12d09de59192c043a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmail-24.07.90.tar.xz">kmail-24.07.90</a></td>
   <td align="right">7552kB</td>
   <td><tt>c01c795055f9fd22beaf87fcde930dcfc2d30423850203f0329d0a85f17335b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmail-account-wizard-24.07.90.tar.xz">kmail-account-wizard-24.07.90</a></td>
   <td align="right">161kB</td>
   <td><tt>46d9d8052d98655b452dcb3ecadb0b673a01cfad7563dbf8a2f10358d2b7765a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmailtransport-24.07.90.tar.xz">kmailtransport-24.07.90</a></td>
   <td align="right">183kB</td>
   <td><tt>6aaebf383d60f63f5ce8737cde8473bb249787d249503af716a7ea83b0b17b8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmbox-24.07.90.tar.xz">kmbox-24.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>aa609d7f0a0efefed8b9030767602007b294c36d1ceb2b785dd1843668af0839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmime-24.07.90.tar.xz">kmime-24.07.90</a></td>
   <td align="right">162kB</td>
   <td><tt>ba0f436e6f32cb75fe2c5ff918ff1ed2f73da2aa77ef87e1db284d747195705a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmines-24.07.90.tar.xz">kmines-24.07.90</a></td>
   <td align="right">923kB</td>
   <td><tt>18f09242fb6ee050788491630d868768b11e244e18c021aa73a384f44593318a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmix-24.07.90.tar.xz">kmix-24.07.90</a></td>
   <td align="right">1137kB</td>
   <td><tt>6f95b457cf45f41ad11d0970e4f413b64305c51724dcdc1c8955c2feda20f331</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmousetool-24.07.90.tar.xz">kmousetool-24.07.90</a></td>
   <td align="right">127kB</td>
   <td><tt>62c5e1c7a53adbe1ec637160d2fdf1adf90ec5e487d66789d5fb9e8361696d20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmouth-24.07.90.tar.xz">kmouth-24.07.90</a></td>
   <td align="right">1891kB</td>
   <td><tt>6f01e61ebe6204c12787bd4c18f06193a328c4b9f27af2b46de3d6c77bf09f40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kmplot-24.07.90.tar.xz">kmplot-24.07.90</a></td>
   <td align="right">2939kB</td>
   <td><tt>4acacaa9a6ed63fcee0d448c4d8ad25e62b2753cea0f5a4e8bdf3ce2d09d07d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/knavalbattle-24.07.90.tar.xz">knavalbattle-24.07.90</a></td>
   <td align="right">1020kB</td>
   <td><tt>21b744ab31a76825307e72144d2636c5a8a640605a0f3c60841c69c50f6dadfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/knetwalk-24.07.90.tar.xz">knetwalk-24.07.90</a></td>
   <td align="right">983kB</td>
   <td><tt>2fcb8b033297c9a86abb429f83f5271f3e4541854112e3561b9ede171e67cb78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/knights-24.07.90.tar.xz">knights-24.07.90</a></td>
   <td align="right">2422kB</td>
   <td><tt>4ed40c8b60cfd92abd5c6ab8aa6e493e34f4b3f83f8bfa50ac0fb3a548754161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/koko-24.07.90.tar.xz">koko-24.07.90</a></td>
   <td align="right">8336kB</td>
   <td><tt>f5708860a3e0ccb97230f8e7a3c9202a3cb2732b29a8ab1b82a1587f322b9701</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kolf-24.07.90.tar.xz">kolf-24.07.90</a></td>
   <td align="right">1047kB</td>
   <td><tt>6f39bb0cf8dbcf963961af6374ef95da32e3204c968c3e0c1e70a7e85bfe2945</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kollision-24.07.90.tar.xz">kollision-24.07.90</a></td>
   <td align="right">302kB</td>
   <td><tt>99259b5bfee87a18762dd98f6b5317cb49f1c9d857d38d9a1e5c14361f294218</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kolourpaint-24.07.90.tar.xz">kolourpaint-24.07.90</a></td>
   <td align="right">5177kB</td>
   <td><tt>355970e2f28a0491544f2b1a00f378db581ed8536cff157b41c2f5822955c047</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kompare-24.07.90.tar.xz">kompare-24.07.90</a></td>
   <td align="right">920kB</td>
   <td><tt>c8927688c170e2814257194e8467813462ad10d3930274193e1d1061b1c49b69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kongress-24.07.90.tar.xz">kongress-24.07.90</a></td>
   <td align="right">151kB</td>
   <td><tt>e340b189172c669c88f495539694d7d49c269888c96c821c1587e5358f421304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/konqueror-24.07.90.tar.xz">konqueror-24.07.90</a></td>
   <td align="right">9457kB</td>
   <td><tt>08c97961c001d1d62529a930613f95b8faed89d9302f11d54d6424d738106556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/konquest-24.07.90.tar.xz">konquest-24.07.90</a></td>
   <td align="right">837kB</td>
   <td><tt>c3fe7122a7cf87c13dfad36f11aa4028339c0ba4dce8361e82c839246910a2dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/konsole-24.07.90.tar.xz">konsole-24.07.90</a></td>
   <td align="right">1736kB</td>
   <td><tt>211ce7ab1210bb0726b9fa19cd822caa3ab9a83dfb203124ba237ef0d57b9e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kontact-24.07.90.tar.xz">kontact-24.07.90</a></td>
   <td align="right">842kB</td>
   <td><tt>e9f98f8ba658e4188166c587d3ea39e1a015f3c50708b6d831ac9c76d332ce75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kontactinterface-24.07.90.tar.xz">kontactinterface-24.07.90</a></td>
   <td align="right">39kB</td>
   <td><tt>4d09036ba2a0d19a7ebf711584bf1139f7b6fdeffb6e5772d166699a31e60d7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kontrast-24.07.90.tar.xz">kontrast-24.07.90</a></td>
   <td align="right">209kB</td>
   <td><tt>fc6b887c0fade1e68853137531b4926ebc45c453b744f584cb4809764b11f93c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/konversation-24.07.90.tar.xz">konversation-24.07.90</a></td>
   <td align="right">4290kB</td>
   <td><tt>e13a9ee46f9a7c05c83ff20997e944395109086208ec5d46a566c15d294c2c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kopeninghours-24.07.90.tar.xz">kopeninghours-24.07.90</a></td>
   <td align="right">72kB</td>
   <td><tt>2ca9440d0fa4306279127f5c519f26b14fa90740662af51abfae948dd96bc195</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/korganizer-24.07.90.tar.xz">korganizer-24.07.90</a></td>
   <td align="right">2842kB</td>
   <td><tt>55ef0cd7dae6039ad6645d18a3fd851d00999146fa16a7f1a8e758a827819647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kosmindoormap-24.07.90.tar.xz">kosmindoormap-24.07.90</a></td>
   <td align="right">675kB</td>
   <td><tt>aa29207078ecf150802b4ccd574ddaaf7c94614a7edc267ef1d8090112e6f49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kpat-24.07.90.tar.xz">kpat-24.07.90</a></td>
   <td align="right">3637kB</td>
   <td><tt>7c4c63c20a954ef1e9803dd1b6da393325175e00b2b432bbfb6eeee0abdf7cbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kpimtextedit-24.07.90.tar.xz">kpimtextedit-24.07.90</a></td>
   <td align="right">172kB</td>
   <td><tt>52aea87e0abf9539a1a85f7651d3338028ca58a6760adfde9a51e44756d02105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kpkpass-24.07.90.tar.xz">kpkpass-24.07.90</a></td>
   <td align="right">28kB</td>
   <td><tt>49097b7852d082cc2d10239d8b1b7e349bbc251504c109cf0460453383d4a237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kpmcore-24.07.90.tar.xz">kpmcore-24.07.90</a></td>
   <td align="right">630kB</td>
   <td><tt>19bf6cec6700f1d98a1d39cde1d316f6af8f871cff9fd42f597ef4e007609a38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kpublictransport-24.07.90.tar.xz">kpublictransport-24.07.90</a></td>
   <td align="right">708kB</td>
   <td><tt>6790c69c4940a49aa5b50744b2fe7a0bdffe8b416196abc5b681ae902a702574</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kqtquickcharts-24.07.90.tar.xz">kqtquickcharts-24.07.90</a></td>
   <td align="right">30kB</td>
   <td><tt>ab6c024ba3ef380c431f00911ffe95b6bbb582f597399a65067e913cefa9f717</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/krdc-24.07.90.tar.xz">krdc-24.07.90</a></td>
   <td align="right">1515kB</td>
   <td><tt>76dd0236d3b0725f2f09ff27e7d345aa2c90e4bc1839562c083033b831492b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/krecorder-24.07.90.tar.xz">krecorder-24.07.90</a></td>
   <td align="right">164kB</td>
   <td><tt>d0041d1652d6f7f0aeddedd46e81e723eb21662ac1fc84f462ab3617e48847dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kreversi-24.07.90.tar.xz">kreversi-24.07.90</a></td>
   <td align="right">1005kB</td>
   <td><tt>1512dd5a728afa72643728950a166a65914a8ba21416325ecffa8aa995b0f80d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/krfb-24.07.90.tar.xz">krfb-24.07.90</a></td>
   <td align="right">1172kB</td>
   <td><tt>eb64bab0e7e94fb28e131c7e8869ee4a54f87adac1051ff0fae94b9c8d850ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kross-interpreters-24.07.90.tar.xz">kross-interpreters-24.07.90</a></td>
   <td align="right">148kB</td>
   <td><tt>cbeff0e356a6610fcb3e0fb02dd540ca56280cb023a1b61705eb25f7f92bcd63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kruler-24.07.90.tar.xz">kruler-24.07.90</a></td>
   <td align="right">277kB</td>
   <td><tt>d37d42a4d8f77608d6d42c35f4ce628ea21f27c08c5abc4b79d540e0fbf3608a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ksanecore-24.07.90.tar.xz">ksanecore-24.07.90</a></td>
   <td align="right">49kB</td>
   <td><tt>2738dc59d4fce0ae423fd6c4bd015e22ea90f4294c834a0b3697e60fa8b70fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kshisen-24.07.90.tar.xz">kshisen-24.07.90</a></td>
   <td align="right">945kB</td>
   <td><tt>22794f55563c13abcdbd82796a4a9bdb3ddbdf6813f6861ccf19e5e0ab1af164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ksirk-24.07.90.tar.xz">ksirk-24.07.90</a></td>
   <td align="right">6543kB</td>
   <td><tt>176f5897acac134d583d7e2f5604e44c6ad073c63cfa77842c32d73113e10834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ksmtp-24.07.90.tar.xz">ksmtp-24.07.90</a></td>
   <td align="right">51kB</td>
   <td><tt>7fbf79046f0fa2f11bbec4cbf4e895d85ac3e8df4d842880faf089ddeed208f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ksnakeduel-24.07.90.tar.xz">ksnakeduel-24.07.90</a></td>
   <td align="right">564kB</td>
   <td><tt>b0662b2c98bf5a979df1dc975264fb3571175007e852eccf8545c56e28595bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kspaceduel-24.07.90.tar.xz">kspaceduel-24.07.90</a></td>
   <td align="right">615kB</td>
   <td><tt>d43b969a6ff1a59a45e1b00eb0889f6ffe083960ff4aba89632cbc8c3c3196d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ksquares-24.07.90.tar.xz">ksquares-24.07.90</a></td>
   <td align="right">311kB</td>
   <td><tt>5eebf1ad4ce3c9d640d8e1aebde12cd966c8b3c555a4bad947c6ccf9239845ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ksudoku-24.07.90.tar.xz">ksudoku-24.07.90</a></td>
   <td align="right">1681kB</td>
   <td><tt>de9055028e0ebbb203df283a00d7e04a9fda8249df0b7f4808d50119abdc3e3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ksystemlog-24.07.90.tar.xz">ksystemlog-24.07.90</a></td>
   <td align="right">1811kB</td>
   <td><tt>c0773e93d159ce41c5946d7cf0c89816a1add800e435c3ed740dadfdf32544c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kteatime-24.07.90.tar.xz">kteatime-24.07.90</a></td>
   <td align="right">300kB</td>
   <td><tt>c339d5eb1c2a8bb5d8d8f6ce8a1b23fa14e939192e9be4792ea6ecea98365d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ktimer-24.07.90.tar.xz">ktimer-24.07.90</a></td>
   <td align="right">441kB</td>
   <td><tt>e0325d7ffced27d650334feda185b41c787c58effdca0a2fecf555ab959e04a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ktnef-24.07.90.tar.xz">ktnef-24.07.90</a></td>
   <td align="right">306kB</td>
   <td><tt>c7622ee5fa00934f1125b4219948d529f44457a72dc1f6790b029aa4cf21f3ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ktorrent-24.07.90.tar.xz">ktorrent-24.07.90</a></td>
   <td align="right">2132kB</td>
   <td><tt>98060c1de2d9ad7ec4bf1a27d2b41ed712b310b26d16ae5d25ed6dd96c241d2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ktouch-24.07.90.tar.xz">ktouch-24.07.90</a></td>
   <td align="right">4672kB</td>
   <td><tt>8ea72a57c6576d6a846db16534bd3f0b6ffdb33eee38bb0a47be291b92b3c41b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ktrip-24.07.90.tar.xz">ktrip-24.07.90</a></td>
   <td align="right">1014kB</td>
   <td><tt>6c56e2f0587c7365e98a8af06df1d3a932f4b37667eba0b6fc0f3db942e9920c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/ktuberling-24.07.90.tar.xz">ktuberling-24.07.90</a></td>
   <td align="right">69872kB</td>
   <td><tt>80c156a20cf9e3d8e5156ad0ceba849ecf3f875e19561dfc4572af7840bfa87f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kturtle-24.07.90.tar.xz">kturtle-24.07.90</a></td>
   <td align="right">2045kB</td>
   <td><tt>6669efde7bb42787b77119eb7e027501faaad6d20d30f6776f067311d6dc0510</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kubrick-24.07.90.tar.xz">kubrick-24.07.90</a></td>
   <td align="right">357kB</td>
   <td><tt>46c3bc615ca19b3f072b8405bf20463d37b6db852537b63c51733f15260e8084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kwalletmanager-24.07.90.tar.xz">kwalletmanager-24.07.90</a></td>
   <td align="right">1017kB</td>
   <td><tt>37092f3ac5b0ec017ad9a91e1f35546c04b9c49de3a230dd7d2d99be281c9236</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kwave-24.07.90.tar.xz">kwave-24.07.90</a></td>
   <td align="right">6397kB</td>
   <td><tt>149ca86ed72c2e2f9eebf6991160b5b17301da8c5837bfd401dec8130e6aabca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kweather-24.07.90.tar.xz">kweather-24.07.90</a></td>
   <td align="right">407kB</td>
   <td><tt>68d5bbf5c0bd65b5e64a9e37faa048e65bfa4ce25429c69b0972eb1e043e81b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kweathercore-24.07.90.tar.xz">kweathercore-24.07.90</a></td>
   <td align="right">73kB</td>
   <td><tt>e07c088fb90ddde4ff26f645c5ae47441fd41fdfd128fe3581192064063e0a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/kwordquiz-24.07.90.tar.xz">kwordquiz-24.07.90</a></td>
   <td align="right">3683kB</td>
   <td><tt>e35a46943bc89181b2305beb9c8b6fc941c0f3f4acb2603956501acab7c5a60b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libgravatar-24.07.90.tar.xz">libgravatar-24.07.90</a></td>
   <td align="right">37kB</td>
   <td><tt>4b5d185c384041d09547158dfaccc17bdcc531611434d98a0157c5809f9ccb71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkcddb-24.07.90.tar.xz">libkcddb-24.07.90</a></td>
   <td align="right">438kB</td>
   <td><tt>63470df71914cc61f069e5673a3e87303762cea6ddd409e3c2024283744124f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkcompactdisc-24.07.90.tar.xz">libkcompactdisc-24.07.90</a></td>
   <td align="right">97kB</td>
   <td><tt>665f6948f6c142fc9fbda3939ca1b2d71499d0c815d510e7342d4230686d0bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkdcraw-24.07.90.tar.xz">libkdcraw-24.07.90</a></td>
   <td align="right">36kB</td>
   <td><tt>26e9588a3b4fd75ce42da91184955a06a6e3c50e7bdfd1d61066bc0920f4ae4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkdegames-24.07.90.tar.xz">libkdegames-24.07.90</a></td>
   <td align="right">5832kB</td>
   <td><tt>6d1c44cd69ec6dd18d6b8f09035f597661ce90a52c49ca31822c860b1ec89a69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkdepim-24.07.90.tar.xz">libkdepim-24.07.90</a></td>
   <td align="right">276kB</td>
   <td><tt>7cb63016f334c555f8e4b490dde3f19a2580ebd3dd985cab7bd623d8b296acb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkeduvocdocument-24.07.90.tar.xz">libkeduvocdocument-24.07.90</a></td>
   <td align="right">223kB</td>
   <td><tt>b0942893d8b47c8858b498d45196106edaac63c67b553047381c3f3bff53ebf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkexiv2-24.07.90.tar.xz">libkexiv2-24.07.90</a></td>
   <td align="right">59kB</td>
   <td><tt>9ed965bd690bfa19f29231230d85af5b9f05ca2cfb10e54a9b02ad152bf35f66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkgapi-24.07.90.tar.xz">libkgapi-24.07.90</a></td>
   <td align="right">331kB</td>
   <td><tt>b061637c1c8ae327a1a5b9599e440988f7e00b7a2702c8dab4ca2e7b3dc31bd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkleo-24.07.90.tar.xz">libkleo-24.07.90</a></td>
   <td align="right">591kB</td>
   <td><tt>1376c625e55dbf07dc663d80fab6cb81f3cfddb273627713d94aa43a3de817ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkmahjongg-24.07.90.tar.xz">libkmahjongg-24.07.90</a></td>
   <td align="right">1654kB</td>
   <td><tt>c31b4c79299f4eb1fc7e9190cbd1435f222fc82f7cdf86a5bc810af253f49295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libkomparediff2-24.07.90.tar.xz">libkomparediff2-24.07.90</a></td>
   <td align="right">182kB</td>
   <td><tt>1bd04fcf007cfffd0c46e3148c7251b21e877c01ac5d2984fff554b4723df88b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libksane-24.07.90.tar.xz">libksane-24.07.90</a></td>
   <td align="right">149kB</td>
   <td><tt>cbd228435e279c0a6000ccf1760e2b002230ab45b11736ac25595b6ec7677346</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libksieve-24.07.90.tar.xz">libksieve-24.07.90</a></td>
   <td align="right">587kB</td>
   <td><tt>0ccc27aba2778de953ec0674db25bfe4ace95841738d7f5c302d0bddbe9a8eee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/libktorrent-24.07.90.tar.xz">libktorrent-24.07.90</a></td>
   <td align="right">591kB</td>
   <td><tt>4a1d38a6b1c48c66146488ffc533a0915b496629d7da86dfea691dca5d2a3283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/lokalize-24.07.90.tar.xz">lokalize-24.07.90</a></td>
   <td align="right">1987kB</td>
   <td><tt>5ec8c915704eb4280d5427cc2190ad5a9e5b9be021da70e22b3b6bef33b64e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/lskat-24.07.90.tar.xz">lskat-24.07.90</a></td>
   <td align="right">1194kB</td>
   <td><tt>437f31dca62f5fedde6e955169a1b505f1773ef36915b8fb9ab027a805c54979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/mailcommon-24.07.90.tar.xz">mailcommon-24.07.90</a></td>
   <td align="right">761kB</td>
   <td><tt>eb863b6613a0737af6bd2b288086bf5151226598f1cc9bef70883e9a988934db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/mailimporter-24.07.90.tar.xz">mailimporter-24.07.90</a></td>
   <td align="right">581kB</td>
   <td><tt>f009ba38033b0e0139a2e7f26bb356d41641fd31f0c2ddb010072a7137ad8426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/marble-24.07.90.tar.xz">marble-24.07.90</a></td>
   <td align="right">51217kB</td>
   <td><tt>a4db9e1febd20e5ef428e61af4bf22ad743e4048b94c08c3c659baac9a6f9d11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/markdownpart-24.07.90.tar.xz">markdownpart-24.07.90</a></td>
   <td align="right">33kB</td>
   <td><tt>00b0695a4cfe13e5cdd960f8f6443f9f01b9052df57f4e4dc85ccba68fe03789</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/massif-visualizer-24.07.90.tar.xz">massif-visualizer-24.07.90</a></td>
   <td align="right">272kB</td>
   <td><tt>3fa2479d1abc5e399416757196854d685742250f3bcfaed154c6402593887d1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/mbox-importer-24.07.90.tar.xz">mbox-importer-24.07.90</a></td>
   <td align="right">31kB</td>
   <td><tt>f754bcd63b5fd8ace577711a7a853c826b166da1dc147606381c34a39110bffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/merkuro-24.07.90.tar.xz">merkuro-24.07.90</a></td>
   <td align="right">747kB</td>
   <td><tt>27cf38923bfe585e6c427d14e439324ead9bf94361b37d22eff8c9dd2e0455eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/messagelib-24.07.90.tar.xz">messagelib-24.07.90</a></td>
   <td align="right">7212kB</td>
   <td><tt>e7eae4ab9cb107c3dffa768b58e29261eea6e7439fecf7262333aa489dbae93c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/mimetreeparser-24.07.90.tar.xz">mimetreeparser-24.07.90</a></td>
   <td align="right">629kB</td>
   <td><tt>cc002b34e73e0e4a53399a82eef20c43409ebd22806dd37aac690fced608b53c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/minuet-24.07.90.tar.xz">minuet-24.07.90</a></td>
   <td align="right">27041kB</td>
   <td><tt>3f9d95cd074cb77e35e46d41d0a15a5468ef0328bf27f3571589a945df44a1e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/neochat-24.07.90.tar.xz">neochat-24.07.90</a></td>
   <td align="right">999kB</td>
   <td><tt>93c1a54bc5a74c4f1d2d070626f3f6050c154bc30953e07a0f3c59c5f6836941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/okular-24.07.90.tar.xz">okular-24.07.90</a></td>
   <td align="right">7839kB</td>
   <td><tt>b64a5f9e89faea842bc6f1c9183a69f56fd085424fa27178834f08f0eab26892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/palapeli-24.07.90.tar.xz">palapeli-24.07.90</a></td>
   <td align="right">2069kB</td>
   <td><tt>a7633268f42a0e4804f9b0cdff58c7471e5e99c3ee8adad0e19a6850e042f2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/parley-24.07.90.tar.xz">parley-24.07.90</a></td>
   <td align="right">8223kB</td>
   <td><tt>847acd02bdbed7cc7c816048ee2a004e5cf4987d923955fdab1b5b22c644274a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/partitionmanager-24.07.90.tar.xz">partitionmanager-24.07.90</a></td>
   <td align="right">2267kB</td>
   <td><tt>b8dd5bda6e70b71d8eec065e27822e38d755644582fee0e953fd382748b0f3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/picmi-24.07.90.tar.xz">picmi-24.07.90</a></td>
   <td align="right">1480kB</td>
   <td><tt>feafc4414e8fb8b13919793dd22e60d0860a88b03b6c8827fb4c68fda68ca1ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/pimcommon-24.07.90.tar.xz">pimcommon-24.07.90</a></td>
   <td align="right">339kB</td>
   <td><tt>9b5481c2fbc60c99e58e4c754401854f5fcd1f05aaab25924a1213d928e0f608</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/pim-data-exporter-24.07.90.tar.xz">pim-data-exporter-24.07.90</a></td>
   <td align="right">415kB</td>
   <td><tt>37f7583e7b2550a5d517b661f3766664d4cb0191fb5c3c44cd938b618e2d0b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/pim-sieve-editor-24.07.90.tar.xz">pim-sieve-editor-24.07.90</a></td>
   <td align="right">458kB</td>
   <td><tt>8506fa7f15ee6f183f63655eccaa41ca00d806b6db769c888003c345f1f8f515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/plasmatube-24.07.90.tar.xz">plasmatube-24.07.90</a></td>
   <td align="right">198kB</td>
   <td><tt>817bfaaa8b6d9323902102bffcf1592030c73bbd0e0f3006984d455c6e28dc7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/poxml-24.07.90.tar.xz">poxml-24.07.90</a></td>
   <td align="right">43kB</td>
   <td><tt>9b31348237d52218a1c4dbed9ef480d4ea3dd6ff2d5effcb20e5500b5421d1be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/qmlkonsole-24.07.90.tar.xz">qmlkonsole-24.07.90</a></td>
   <td align="right">192kB</td>
   <td><tt>512e421011fc7311481013ace0073a5f25c1fd044c396f2ecda653d12664c82d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/rocs-24.07.90.tar.xz">rocs-24.07.90</a></td>
   <td align="right">1529kB</td>
   <td><tt>b0aaba256fa6cbf3fff26c31084071584ced47f83ec228c5cb8e298d9aed678e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/signon-kwallet-extension-24.07.90.tar.xz">signon-kwallet-extension-24.07.90</a></td>
   <td align="right">11kB</td>
   <td><tt>38e8bb7657f4ddbfcccce626fcd91f3d727eaadb62ded57f4861182f210de2e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/skanlite-24.07.90.tar.xz">skanlite-24.07.90</a></td>
   <td align="right">2327kB</td>
   <td><tt>4254c33e942f81875148f18b7515489b0cefdb4179aed250c7502e51289e72eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/skanpage-24.07.90.tar.xz">skanpage-24.07.90</a></td>
   <td align="right">1302kB</td>
   <td><tt>540867692cef30be846caccd3446643832bd1117e9ef582047bae336be91d790</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/skladnik-24.07.90.tar.xz">skladnik-24.07.90</a></td>
   <td align="right">399kB</td>
   <td><tt>35fd8be9946d240c6644273a228de7ed3bb6832f5af037943ccdb69df6527f47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/spectacle-24.07.90.tar.xz">spectacle-24.07.90</a></td>
   <td align="right">1510kB</td>
   <td><tt>e0599b8b0507b102ef67591e1f4e1294b2a9296a61658780f0d8ca916db607ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/step-24.07.90.tar.xz">step-24.07.90</a></td>
   <td align="right">964kB</td>
   <td><tt>0605631527d2335c496d0fef62596bb3419aac776273242490f5deedc42c7d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/svgpart-24.07.90.tar.xz">svgpart-24.07.90</a></td>
   <td align="right">29kB</td>
   <td><tt>561452d84aae9a03d8620e38396e2efce353d1ada7d07753897f2210f3cce5ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/sweeper-24.07.90.tar.xz">sweeper-24.07.90</a></td>
   <td align="right">373kB</td>
   <td><tt>3148cd3d07f16d7799d00b9bf534afa3c2c085a18bd5ada4ece8e93391493f7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/telly-skout-24.07.90.tar.xz">telly-skout-24.07.90</a></td>
   <td align="right">102kB</td>
   <td><tt>778d0616e085d07e95209689dba39abb88cbd3b9f4832455e1078ccc321eb39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/tokodon-24.07.90.tar.xz">tokodon-24.07.90</a></td>
   <td align="right">543kB</td>
   <td><tt>3326d4f369430f49cd8825536082f62c53137ed81b5689e406769455d0608614</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/umbrello-24.07.90.tar.xz">umbrello-24.07.90</a></td>
   <td align="right">5484kB</td>
   <td><tt>2591d655ccc473d996ef5b14813a4702036c87aa275d892e0a0553543bc64d84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/yakuake-24.07.90.tar.xz">yakuake-24.07.90</a></td>
   <td align="right">380kB</td>
   <td><tt>4bcc243e7c88320de213ab0a3cec61d13f9fc24bfa02873e9e4c902631ef8fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/24.07.90/src/zanshin-24.07.90.tar.xz">zanshin-24.07.90</a></td>
   <td align="right">366kB</td>
   <td><tt>ef44a62f5551c7b1146bfe88b6508cea66e41c37200250394f2833cfe6380add</tt></td>
</tr>

</table>
