
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/attica-5.99.0.tar.xz">attica-5.99.0</a></td>
   <td align="right">67kB</td>
   <td><tt>301cd29bc20a58c4f4f240c0c7fe1d1a27c95bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/baloo-5.99.0.tar.xz">baloo-5.99.0</a></td>
   <td align="right">286kB</td>
   <td><tt>e826355a484dee6c25a91f75a8bb7db896c31ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/bluez-qt-5.99.0.tar.xz">bluez-qt-5.99.0</a></td>
   <td align="right">111kB</td>
   <td><tt>7b866d996d652707e2c427f7aa39f2dfef84cd84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/breeze-icons-5.99.0.tar.xz">breeze-icons-5.99.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>ac271ddc925744ad3247dc43687644295660ac89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/extra-cmake-modules-5.99.0.tar.xz">extra-cmake-modules-5.99.0</a></td>
   <td align="right">323kB</td>
   <td><tt>351b0467607d1d0971bd938533ea7b2fcd90614c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/frameworkintegration-5.99.0.tar.xz">frameworkintegration-5.99.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>714bce5fecb5aa80374104152c8b45e27bb06644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kactivities-5.99.0.tar.xz">kactivities-5.99.0</a></td>
   <td align="right">71kB</td>
   <td><tt>34b26d656074b5af0cff0ea69fae2ad103cd3e12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kactivities-stats-5.99.0.tar.xz">kactivities-stats-5.99.0</a></td>
   <td align="right">82kB</td>
   <td><tt>6e0a21ebbafb8b80f14d2f01f99b36d442539ee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kapidox-5.99.0.tar.xz">kapidox-5.99.0</a></td>
   <td align="right">193kB</td>
   <td><tt>199a9f0a6f6b611eae4cff0ff8f90e4a0cac2a7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/karchive-5.99.0.tar.xz">karchive-5.99.0</a></td>
   <td align="right">963kB</td>
   <td><tt>7f5f6db372f490c09e13ec718aecb275f5434558</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kauth-5.99.0.tar.xz">kauth-5.99.0</a></td>
   <td align="right">88kB</td>
   <td><tt>f1251fc175e18fd790c84ca4788dd2df1475c96f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kbookmarks-5.99.0.tar.xz">kbookmarks-5.99.0</a></td>
   <td align="right">128kB</td>
   <td><tt>626950160b6920019ddc551d205831169986fb49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kcalendarcore-5.99.0.tar.xz">kcalendarcore-5.99.0</a></td>
   <td align="right">261kB</td>
   <td><tt>7897ce0417e7140a6d94fb5c6b67888a02a60bd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kcmutils-5.99.0.tar.xz">kcmutils-5.99.0</a></td>
   <td align="right">184kB</td>
   <td><tt>69c510ffcf67bfc147a927a86df532b983197d5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kcodecs-5.99.0.tar.xz">kcodecs-5.99.0</a></td>
   <td align="right">231kB</td>
   <td><tt>3fcb4086939d0598682bc8a728bc98793d22416c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kcompletion-5.99.0.tar.xz">kcompletion-5.99.0</a></td>
   <td align="right">121kB</td>
   <td><tt>c8aa48f0dc62d9a5b717b2d329145de524048660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kconfig-5.99.0.tar.xz">kconfig-5.99.0</a></td>
   <td align="right">277kB</td>
   <td><tt>823756912160e937dcaa0b2570c8da27fc441518</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kconfigwidgets-5.99.0.tar.xz">kconfigwidgets-5.99.0</a></td>
   <td align="right">410kB</td>
   <td><tt>29a773769ce97a14b942d37e7c741c9d82ac27ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kcontacts-5.99.0.tar.xz">kcontacts-5.99.0</a></td>
   <td align="right">190kB</td>
   <td><tt>8454cf7bff58f8e5389602d657ea829784b87690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kcoreaddons-5.99.0.tar.xz">kcoreaddons-5.99.0</a></td>
   <td align="right">458kB</td>
   <td><tt>fc82e0e5924eb32bfb2a77ebd29f52fcf489336b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kcrash-5.99.0.tar.xz">kcrash-5.99.0</a></td>
   <td align="right">27kB</td>
   <td><tt>d32fc5460b3380eaef5d276e2af2f6b71c2693ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kdav-5.99.0.tar.xz">kdav-5.99.0</a></td>
   <td align="right">64kB</td>
   <td><tt>32dabb50db269db0f32acb368da8e98b76fadc73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kdbusaddons-5.99.0.tar.xz">kdbusaddons-5.99.0</a></td>
   <td align="right">47kB</td>
   <td><tt>278c011cb05a00870df5cdd6d9606ca24cfa7af6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kdeclarative-5.99.0.tar.xz">kdeclarative-5.99.0</a></td>
   <td align="right">203kB</td>
   <td><tt>ac4e14d5357fe34f83c56b769bf12a9e1bfb3136</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kded-5.99.0.tar.xz">kded-5.99.0</a></td>
   <td align="right">39kB</td>
   <td><tt>d63edd67f6c724afa7c9bb734c83554b3de5ea09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kdesu-5.99.0.tar.xz">kdesu-5.99.0</a></td>
   <td align="right">54kB</td>
   <td><tt>0589219854ff0a4e1aef50af1d2d67ac87ff0ac1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kdnssd-5.99.0.tar.xz">kdnssd-5.99.0</a></td>
   <td align="right">59kB</td>
   <td><tt>bfd6ba55b2bc6ebb292f704a34490b0d6d739946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kdoctools-5.99.0.tar.xz">kdoctools-5.99.0</a></td>
   <td align="right">430kB</td>
   <td><tt>fbb39b54b1bf2d69a9f057f211ba55a850c584b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kemoticons-5.99.0.tar.xz">kemoticons-5.99.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>f52dfff0ebd39d7f81fb78a5e36062b45b049d6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kfilemetadata-5.99.0.tar.xz">kfilemetadata-5.99.0</a></td>
   <td align="right">429kB</td>
   <td><tt>8ccc22e7cef727a44ca3dc043238452f113d4cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kglobalaccel-5.99.0.tar.xz">kglobalaccel-5.99.0</a></td>
   <td align="right">94kB</td>
   <td><tt>909aa105e07454a5b3580d3e243dd4082f33c7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kguiaddons-5.99.0.tar.xz">kguiaddons-5.99.0</a></td>
   <td align="right">72kB</td>
   <td><tt>7bed42e058b3f52b83cab6d3eaf8bee69d376706</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kholidays-5.99.0.tar.xz">kholidays-5.99.0</a></td>
   <td align="right">236kB</td>
   <td><tt>54718c9bc925e4a16fad9b681468ad3677b1074c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/ki18n-5.99.0.tar.xz">ki18n-5.99.0</a></td>
   <td align="right">933kB</td>
   <td><tt>729d189b6a3fd519e57b6f5dfeee5319bc444845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kiconthemes-5.99.0.tar.xz">kiconthemes-5.99.0</a></td>
   <td align="right">223kB</td>
   <td><tt>09d29179eea9845376ea07462980ccb0ffe9ace3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kidletime-5.99.0.tar.xz">kidletime-5.99.0</a></td>
   <td align="right">29kB</td>
   <td><tt>d3b176dfcb85e28c128c9c5b0a78022bb253fedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kimageformats-5.99.0.tar.xz">kimageformats-5.99.0</a></td>
   <td align="right">11MB</td>
   <td><tt>95bebd9c98d60e80566f66621506ba5fa282d6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kinit-5.99.0.tar.xz">kinit-5.99.0</a></td>
   <td align="right">116kB</td>
   <td><tt>4f2a0196c32b06ff581e6a5b48c879ad46da6ced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kio-5.99.0.tar.xz">kio-5.99.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>36cb613faaa895f29e5d73ed09b7efbe626bc230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kirigami2-5.99.0.tar.xz">kirigami2-5.99.0</a></td>
   <td align="right">356kB</td>
   <td><tt>2820220f476eed1bf2c9d390faa7b129d183d1c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kitemmodels-5.99.0.tar.xz">kitemmodels-5.99.0</a></td>
   <td align="right">397kB</td>
   <td><tt>5dfd8baedb4e9a1a5f4859acb17db1f2231081c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kitemviews-5.99.0.tar.xz">kitemviews-5.99.0</a></td>
   <td align="right">75kB</td>
   <td><tt>fcb2f660f6917a463a8390335986491c24f14af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kjobwidgets-5.99.0.tar.xz">kjobwidgets-5.99.0</a></td>
   <td align="right">99kB</td>
   <td><tt>4ab64bac3b6206a8578c85334211774e93ed0ea3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/knewstuff-5.99.0.tar.xz">knewstuff-5.99.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>95e42816cf48e09b57594ef7284792b2e4e64333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/knotifications-5.99.0.tar.xz">knotifications-5.99.0</a></td>
   <td align="right">129kB</td>
   <td><tt>fd8d4d47c3735b76f2edffbe97a0d3c09c6a1040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/knotifyconfig-5.99.0.tar.xz">knotifyconfig-5.99.0</a></td>
   <td align="right">85kB</td>
   <td><tt>9ea0358c485e38e76117a7f485f18ce7dc33e740</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kpackage-5.99.0.tar.xz">kpackage-5.99.0</a></td>
   <td align="right">130kB</td>
   <td><tt>8617d63c78d8358efc6c462ea9217cea551753c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kparts-5.99.0.tar.xz">kparts-5.99.0</a></td>
   <td align="right">192kB</td>
   <td><tt>57d9a9c8cc9a23854772db2afccccae0605fc8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kpeople-5.99.0.tar.xz">kpeople-5.99.0</a></td>
   <td align="right">58kB</td>
   <td><tt>8ddfbc8eaf056bd56e2727ca2b2612fe7711f2b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kplotting-5.99.0.tar.xz">kplotting-5.99.0</a></td>
   <td align="right">32kB</td>
   <td><tt>b146a43775c7a22139814156f64983b9faa4b364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kpty-5.99.0.tar.xz">kpty-5.99.0</a></td>
   <td align="right">58kB</td>
   <td><tt>3013e99d98c023ebe3cad62459ef72369bfaf5aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kquickcharts-5.99.0.tar.xz">kquickcharts-5.99.0</a></td>
   <td align="right">108kB</td>
   <td><tt>edcdfb0565abf51dabefe41a7ef46aacc5f4b1de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/krunner-5.99.0.tar.xz">krunner-5.99.0</a></td>
   <td align="right">85kB</td>
   <td><tt>fc10887d6027370ceb75400f01f3c8835732faaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kservice-5.99.0.tar.xz">kservice-5.99.0</a></td>
   <td align="right">262kB</td>
   <td><tt>a773d0e96b34f1d5407a41804fa0cddaf3557f93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/ktexteditor-5.99.0.tar.xz">ktexteditor-5.99.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>07a4e1a412f2f893598da2991e72ea64938325ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/ktextwidgets-5.99.0.tar.xz">ktextwidgets-5.99.0</a></td>
   <td align="right">320kB</td>
   <td><tt>e55b7b3d4a9b4ea1aaaa3cb847d83b4f9927dbb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kunitconversion-5.99.0.tar.xz">kunitconversion-5.99.0</a></td>
   <td align="right">877kB</td>
   <td><tt>d61fc9cd658e913f6a8310543a761c952b8e1cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kwallet-5.99.0.tar.xz">kwallet-5.99.0</a></td>
   <td align="right">325kB</td>
   <td><tt>0da2dea66a469cd1d3c1f6f556c9898767313f06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kwayland-5.99.0.tar.xz">kwayland-5.99.0</a></td>
   <td align="right">328kB</td>
   <td><tt>1a0138ada3f64afcc0de56128531fe88b79f29bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kwidgetsaddons-5.99.0.tar.xz">kwidgetsaddons-5.99.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>d768d5962cc3142fe7e85c0f5ab5dff0be3cdcdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kwindowsystem-5.99.0.tar.xz">kwindowsystem-5.99.0</a></td>
   <td align="right">178kB</td>
   <td><tt>be0c78c625662a926ec89c87d589090253017793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/kxmlgui-5.99.0.tar.xz">kxmlgui-5.99.0</a></td>
   <td align="right">878kB</td>
   <td><tt>ec0797803787a7635b194f9916230c0bc49f9c18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/modemmanager-qt-5.99.0.tar.xz">modemmanager-qt-5.99.0</a></td>
   <td align="right">118kB</td>
   <td><tt>94ba12f81d9012609e4b700b2aaea86f12356fd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/networkmanager-qt-5.99.0.tar.xz">networkmanager-qt-5.99.0</a></td>
   <td align="right">193kB</td>
   <td><tt>5463b1f8eedc7ac967886174d62ae305cef83296</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/oxygen-icons5-5.99.0.tar.xz">oxygen-icons5-5.99.0</a></td>
   <td align="right">227MB</td>
   <td><tt>558ae3f07eba44631e3a8abd7788578778342d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/plasma-framework-5.99.0.tar.xz">plasma-framework-5.99.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>df80fb8c0b5b3f8e610614c46335f0d30226092b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/prison-5.99.0.tar.xz">prison-5.99.0</a></td>
   <td align="right">76kB</td>
   <td><tt>5a87aff9255429c28ae5471e86beffb9ae05922d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/purpose-5.99.0.tar.xz">purpose-5.99.0</a></td>
   <td align="right">170kB</td>
   <td><tt>261259810714b5afe743f3c15b475b1cd6539da9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/qqc2-desktop-style-5.99.0.tar.xz">qqc2-desktop-style-5.99.0</a></td>
   <td align="right">65kB</td>
   <td><tt>6de5cfed10d0593e485fb630df3bc739910f6556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/solid-5.99.0.tar.xz">solid-5.99.0</a></td>
   <td align="right">255kB</td>
   <td><tt>f803b33f12341689d38574859ba33f1cca3abcc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/sonnet-5.99.0.tar.xz">sonnet-5.99.0</a></td>
   <td align="right">300kB</td>
   <td><tt>2c8e9a2ab0a260c0b83f03834dc287ba2722f671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/syndication-5.99.0.tar.xz">syndication-5.99.0</a></td>
   <td align="right">498kB</td>
   <td><tt>a401cc4d4e7432c36e1fda45ca37160de896ce11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/syntax-highlighting-5.99.0.tar.xz">syntax-highlighting-5.99.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>e592dabbf84f9d8195cdaf7a9b8422da43e17cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.99/threadweaver-5.99.0.tar.xz">threadweaver-5.99.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d0aeec2ff1cb9448c952f3c076f3182cca36b5c8</tt></td>
</tr>

</table>
