<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/bluedevil-5.11.5.tar.xz">bluedevil-5.11.5</a></td>
   <td align="right">152kB</td>
   <td><tt>059a2372839c8687ebfbf6268dc28847000ec5993f6528ecbed40a977170ed77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/breeze-5.11.5.tar.xz">breeze-5.11.5</a></td>
   <td align="right">22MB</td>
   <td><tt>e14aa4b6b39a44b62f77bc22a486fe8f85adb1cd52ef1c98b7c4b5793bb4bc77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/breeze-grub-5.11.5.tar.xz">breeze-grub-5.11.5</a></td>
   <td align="right">3.1MB</td>
   <td><tt>2f218de2018f972742a77df8dc0124365d330248ada0f49ad7dae8c754d86dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/breeze-gtk-5.11.5.tar.xz">breeze-gtk-5.11.5</a></td>
   <td align="right">216kB</td>
   <td><tt>1867bff15e5614d2b244a6c3938fef3c86ac09395e78da97aa391618f10b6d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/breeze-plymouth-5.11.5.tar.xz">breeze-plymouth-5.11.5</a></td>
   <td align="right">108kB</td>
   <td><tt>236605aa905261d6cc21b3900353c1d1a7d4c33946b8d0930cc7fe8d75ceae79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/discover-5.11.5.tar.xz">discover-5.11.5</a></td>
   <td align="right">9.8MB</td>
   <td><tt>b4cec7b23ee43b8c6caa2cb69ebbab903ce64351d846288eeb3afb1a25b9ba7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/drkonqi-5.11.5.tar.xz">drkonqi-5.11.5</a></td>
   <td align="right">732kB</td>
   <td><tt>4ebb1dd2cf513fd7b6c6bf38101a13f3bff568918bb45b05c8063718b253cfce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kactivitymanagerd-5.11.5.tar.xz">kactivitymanagerd-5.11.5</a></td>
   <td align="right">88kB</td>
   <td><tt>a064fd59894947c21e17659dbb0b63f67d9f465142fb2c4232094fc22faed686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kde-cli-tools-5.11.5.tar.xz">kde-cli-tools-5.11.5</a></td>
   <td align="right">584kB</td>
   <td><tt>0c5d4618a6d1cf1dd7912d9c575a1984f934cfc18f9a2ba7b7911b7c81198d34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kdecoration-5.11.5.tar.xz">kdecoration-5.11.5</a></td>
   <td align="right">36kB</td>
   <td><tt>2da1be7a61e9c941cd3e2b01ee8e6bce1012bb2acf10ba6cc9014ee739ae8942</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kde-gtk-config-5.11.5.tar.xz">kde-gtk-config-5.11.5</a></td>
   <td align="right">156kB</td>
   <td><tt>860690cd19868af76ccc887f656c416f6985e4178302de01f8e26e8a058a32f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kdeplasma-addons-5.11.5.tar.xz">kdeplasma-addons-5.11.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>242d78f853ed0128e062ed402bc79f4aa0dbb04d08fb9b75e131f3a2e2c9e9ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kgamma5-5.11.5.tar.xz">kgamma5-5.11.5</a></td>
   <td align="right">64kB</td>
   <td><tt>efa55bf9cc81c8c94c1ed8d8df9f72da74f29789927ced6cc0458a6243e9749b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/khotkeys-5.11.5.tar.xz">khotkeys-5.11.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>70d73eba6182574060277ee7ae5cf32626fe1e057861f199f92faee226963e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kinfocenter-5.11.5.tar.xz">kinfocenter-5.11.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2e36ac5817ca8fbba264ae2ba0061b97ae740690525160296ba823328989a77a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kmenuedit-5.11.5.tar.xz">kmenuedit-5.11.5</a></td>
   <td align="right">648kB</td>
   <td><tt>8c4f847c7ce6dfb97094deacf2a3b84adc67826f3baf54f10bbf8a19ca840472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kscreen-5.11.5.tar.xz">kscreen-5.11.5</a></td>
   <td align="right">124kB</td>
   <td><tt>87fd9d54f760288ada59d33fcd8eca92fa761eb54d6b90424815a28d341e4261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kscreenlocker-5.11.5.tar.xz">kscreenlocker-5.11.5</a></td>
   <td align="right">124kB</td>
   <td><tt>5f59936eba34b57068d265d823e4525cb7ab7a81c8e7b954c8b6eeda25f22b63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/ksshaskpass-5.11.5.tar.xz">ksshaskpass-5.11.5</a></td>
   <td align="right">24kB</td>
   <td><tt>a26e241584374fd58ca88ada2069e60388cc7e7b9f0929befec0f61483334e22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/ksysguard-5.11.5.tar.xz">ksysguard-5.11.5</a></td>
   <td align="right">492kB</td>
   <td><tt>d1a88bef03c75993eab0b422f547adab2a1e17d6eec791e7d3542ec275652b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kwallet-pam-5.11.5.tar.xz">kwallet-pam-5.11.5</a></td>
   <td align="right">20kB</td>
   <td><tt>84a9b2dcb48c35287f7f71b0bb392ca2a41159c5b05a72ec139f32bebf561673</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kwayland-integration-5.11.5.tar.xz">kwayland-integration-5.11.5</a></td>
   <td align="right">20kB</td>
   <td><tt>fae66ee78655770f1c40444899398316b7509481b38d5df7b3ab425afd7f3a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kwin-5.11.5.tar.xz">kwin-5.11.5</a></td>
   <td align="right">4.8MB</td>
   <td><tt>9fb0db84fd13568a0dcae7d1fdd3e72e5bbb80120d374941043d4474ea167f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/kwrited-5.11.5.tar.xz">kwrited-5.11.5</a></td>
   <td align="right">20kB</td>
   <td><tt>7b69d365b39d9af4f52faddcdeeffa1c53bea9b873365b0d476b557555d8a56b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/libkscreen-5.11.5.tar.xz">libkscreen-5.11.5</a></td>
   <td align="right">96kB</td>
   <td><tt>eff3b06114777f9b237d378ab7ceeb17220a64ddaab5f01697534872fec9960d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/libksysguard-5.11.5.tar.xz">libksysguard-5.11.5</a></td>
   <td align="right">564kB</td>
   <td><tt>ae08b4652db9febfb2d9ed040999b66303351106322a5c87ebfd7e3c3ff15738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/milou-5.11.5.tar.xz">milou-5.11.5</a></td>
   <td align="right">64kB</td>
   <td><tt>0aed7e0ff132646e1261b7951ed5a9145cd6e4b2a2e957c7dac76c8e8c514749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/oxygen-5.11.5.tar.xz">oxygen-5.11.5</a></td>
   <td align="right">4.3MB</td>
   <td><tt>4888902421eadfa690644f8f16b4a6b25b73bca558be947c745d0000d4c85dd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-desktop-5.11.5.tar.xz">plasma-desktop-5.11.5</a></td>
   <td align="right">8.2MB</td>
   <td><tt>63c10665b0c3e83f999b2fef7d9caae65ccaa995678ea8606d2a835c01d25f36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-integration-5.11.5.tar.xz">plasma-integration-5.11.5</a></td>
   <td align="right">56kB</td>
   <td><tt>c14548690d918c2b1297ebe7a7982e85fb8f4a23c95a1704657867ea4044b8e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-nm-5.11.5.tar.xz">plasma-nm-5.11.5</a></td>
   <td align="right">704kB</td>
   <td><tt>1b6f5d9cacd0b003430c8f805e1873647f8ce6e367388aebe2e2e6d0ac119c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-pa-5.11.5.tar.xz">plasma-pa-5.11.5</a></td>
   <td align="right">92kB</td>
   <td><tt>247d36d2b6cb3aefabbe9a01eaeea3336fa6780d90db92d8785307d17dfab3bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-sdk-5.11.5.tar.xz">plasma-sdk-5.11.5</a></td>
   <td align="right">260kB</td>
   <td><tt>13fa645c6a7302b63f45551599b9cdea7a2d9188f83eeaa86c0f5af01a626d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-tests-5.11.5.tar.xz">plasma-tests-5.11.5</a></td>
   <td align="right">4kB</td>
   <td><tt>c06106fbed8edece101954bb4d0417ad244244f23e8a78062c3c0414b489c102</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-vault-5.11.5.tar.xz">plasma-vault-5.11.5</a></td>
   <td align="right">96kB</td>
   <td><tt>668379ac357033cf1335e9c96e7f6be1501111a752ea268b95966aa85c48e8dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-workspace-5.11.5.tar.xz">plasma-workspace-5.11.5</a></td>
   <td align="right">6.2MB</td>
   <td><tt>28556c8e1627ccf9f2d0c87159951b73ee2102c12f03e475498056b10da3f3c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plasma-workspace-wallpapers-5.11.5.tar.xz">plasma-workspace-wallpapers-5.11.5</a></td>
   <td align="right">44MB</td>
   <td><tt>f50e0a4013ef62b1a4ec64e7bc5cfbf29dfccc0497f54944ae165e72d6ba0c7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/plymouth-kcm-5.11.5.tar.xz">plymouth-kcm-5.11.5</a></td>
   <td align="right">40kB</td>
   <td><tt>14039826af4849a7a9d60fb34d4697c43068af7a17a10f38de3f0f06cbf34e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/polkit-kde-agent-1-5.11.5.tar.xz">polkit-kde-agent-1-5.11.5</a></td>
   <td align="right">44kB</td>
   <td><tt>c6bfdcbd0f751a00a44df371d43e3986156c41e02a05fb7a1e30c5cf8e299b2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/powerdevil-5.11.5.tar.xz">powerdevil-5.11.5</a></td>
   <td align="right">384kB</td>
   <td><tt>1296a39ccff2b2174d8652b56872585e0ac6236f6bef4e6f911bd9a856410e4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/sddm-kcm-5.11.5.tar.xz">sddm-kcm-5.11.5</a></td>
   <td align="right">64kB</td>
   <td><tt>6013cc7df9e865d402a9e4114d80546aca88b13fb4bcb30c272f93603281c1d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/systemsettings-5.11.5.tar.xz">systemsettings-5.11.5</a></td>
   <td align="right">180kB</td>
   <td><tt>1e754af7d88189314b00d9af8b8f396fe323ad1da647b90222a3a0820a758d79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/user-manager-5.11.5.tar.xz">user-manager-5.11.5</a></td>
   <td align="right">536kB</td>
   <td><tt>449f648eee7124687432ad71d510cd2eefe59ee7b2d4653ef9cc64f1422098e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.11.5/xdg-desktop-portal-kde-5.11.5.tar.xz">xdg-desktop-portal-kde-5.11.5</a></td>
   <td align="right">36kB</td>
   <td><tt>574d5b5330f9cb20989d94f32481dd1eb3045b18466f718c229701b73e59bc1f</tt></td>
</tr>

</table>
