@font-face {
  font-family: "Bebas";
  src: local("Bebas"), url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("opentype");
}

h1 {
	font-family: "Bebas", "Noto Sans", serif;
	font-size: 6rem;
	margin-top: 4rem;
	.blue {
		color: #1D99F3
	}

	@media (max-width: 992px) {
		font-size: 4rem;
		margin-top: 2rem;
	}
}

h2 {
	font-family: "Bebas", "Noto Sans", serif;
	font-size: 4rem;
	margin-top: 2rem;
	.blue {
		color: #1D99F3
	}

	@media (max-width: 992px) {
		font-size: 2rem;
		margin-top: 1rem;
	}
}

h3 {
	font-family: "Bebas", "Noto Sans", serif;
	font-size: 2rem;
	margin-top: 1rem;
	.blue {
		color: #1D99F3
	}

	@media (max-width: 992px) {
		font-size: 1rem;
		margin-top: 1rem;
	}
}


.bluefriday p, li, th, td {
	font-size: 1.2rem;
}

p.annotation {
	font-size: 0.9rem;
}

.kde-logo-rotate {
	max-height: none!important;
	margin-top: 4rem;
/*	transform: rotate(10deg); */
	position: relative;
	display: block;
/*	border-radius: 20px;*/
	display: block;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.bluefriday-image {
	max-width: 90vw;
}

.donnorbox {
	max-width: 500px;
	min-width: 250px;
	max-height: none !important;
	margin-top: 4rem;

	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 8px;
}


/**********************
 / ** PROGRESS BAR STUFF
 /**********************/


 #bar {
 font-family: sans-serif;
 font-weight: bolder;
 width: 100%;
 }

 #bar-top {
 //  float: left;
 width: 100%;
 }

 #bar_goal1 {
 //  float: left;
 text-align: right;
 border-right: thin solid;
 }

 #bar_goal2 {
 //  float: left;
 text-align: right;
 border-right: thin solid;
 }

 #bar_goal3 {
 //  float: left;
 text-align: right;
 border-right: thin solid;
 }

 #bar_outline {
 border: thin solid;
 }

 #bar_inline {
 background-color: lightgray;
 border: thin solid white;
 }

 #bar_fill {
 background-color: DarkSlateGray;
 }

 #bar_amount {
 text-align: right;
 border-right: thin solid;
 }

 #bar_text {
 text-align: center;
 color: white;
 }
