<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadi-18.07.80.tar.xz">akonadi-18.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>7d65433d8d4cb1f10380210c769b6fd28fe9ba84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadi-calendar-18.07.80.tar.xz">akonadi-calendar-18.07.80</a></td>
   <td align="right">328kB</td>
   <td><tt>890db6c22a872c4dc82c790754c4b5d089902cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadi-calendar-tools-18.07.80.tar.xz">akonadi-calendar-tools-18.07.80</a></td>
   <td align="right">219kB</td>
   <td><tt>e11c493f9e6f3cb32991ba273ad359cb403d363f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadiconsole-18.07.80.tar.xz">akonadiconsole-18.07.80</a></td>
   <td align="right">188kB</td>
   <td><tt>6234d6e86ba7d7b97aa6bd7f435773509cdaf42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadi-contacts-18.07.80.tar.xz">akonadi-contacts-18.07.80</a></td>
   <td align="right">382kB</td>
   <td><tt>d6408f891352a96c24d686299676e82523be717f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadi-import-wizard-18.07.80.tar.xz">akonadi-import-wizard-18.07.80</a></td>
   <td align="right">427kB</td>
   <td><tt>0d962bbb567bbbcb6f80aee02fb14b5187fef4ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadi-mime-18.07.80.tar.xz">akonadi-mime-18.07.80</a></td>
   <td align="right">134kB</td>
   <td><tt>266a50735f2bcea6039f15db278284f3839d68e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadi-notes-18.07.80.tar.xz">akonadi-notes-18.07.80</a></td>
   <td align="right">24kB</td>
   <td><tt>01fa1b2af34e828c2bc0dfdc2592d86cd833f434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akonadi-search-18.07.80.tar.xz">akonadi-search-18.07.80</a></td>
   <td align="right">80kB</td>
   <td><tt>0822338d126ae902059e4d7839e3f9d39554ca3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/akregator-18.07.80.tar.xz">akregator-18.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>dba709df27dc6434194ffb30957e1c6f0a64bb3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/analitza-18.07.80.tar.xz">analitza-18.07.80</a></td>
   <td align="right">323kB</td>
   <td><tt>3d63218e44843a8d6c67ac5781beead7dbf5fc6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ark-18.07.80.tar.xz">ark-18.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7e3137adfa826779451d6cfa6a5a2e906dcb110a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/artikulate-18.07.80.tar.xz">artikulate-18.07.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>bd4c1e124887b20866506e0d2afdcaa6b7bf4ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/audiocd-kio-18.07.80.tar.xz">audiocd-kio-18.07.80</a></td>
   <td align="right">242kB</td>
   <td><tt>19ba805cb280e27770140b8f0cb4f92b06f844ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/baloo-widgets-18.07.80.tar.xz">baloo-widgets-18.07.80</a></td>
   <td align="right">240kB</td>
   <td><tt>8f26ffe312527925e6c75f11dc7c80d5d5318356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/blinken-18.07.80.tar.xz">blinken-18.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c893fa1eae2a012c8e7d082a6eca5b453699f98e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/bomber-18.07.80.tar.xz">bomber-18.07.80</a></td>
   <td align="right">736kB</td>
   <td><tt>27540a722e3d41a9ed34a6932f12402136b54f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/bovo-18.07.80.tar.xz">bovo-18.07.80</a></td>
   <td align="right">182kB</td>
   <td><tt>16df4ea07162ed6a720c9c278ce6e30151840742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/calendarsupport-18.07.80.tar.xz">calendarsupport-18.07.80</a></td>
   <td align="right">634kB</td>
   <td><tt>016571378640d87754dd093a65dabe2aac7fd861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/cantor-18.07.80.tar.xz">cantor-18.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6295341ce4b49b3a6c8c9d6cdc58310a55c80423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/cervisia-18.07.80.tar.xz">cervisia-18.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3325fe726c6c98552f2223541d4d6c2f4ae99243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/dolphin-18.07.80.tar.xz">dolphin-18.07.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>a9e934d8ea196c52821ef47ad6afa4795ee4cf93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/dolphin-plugins-18.07.80.tar.xz">dolphin-plugins-18.07.80</a></td>
   <td align="right">186kB</td>
   <td><tt>9b54cbbda46a8fbaf193dabaaa2d2e4cbfcd0d95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/dragon-18.07.80.tar.xz">dragon-18.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8b96f91811f8c698c7b0204231608cc8a68287bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/eventviews-18.07.80.tar.xz">eventviews-18.07.80</a></td>
   <td align="right">432kB</td>
   <td><tt>b042462e94939b06b25ea7261eca4aa8de739568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ffmpegthumbs-18.07.80.tar.xz">ffmpegthumbs-18.07.80</a></td>
   <td align="right">21kB</td>
   <td><tt>fa56e0d5bc809fc590ab18f2b3e770486d38a655</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/filelight-18.07.80.tar.xz">filelight-18.07.80</a></td>
   <td align="right">643kB</td>
   <td><tt>6b26c792817d14f5c9beb87c971e96472dee7ba2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/granatier-18.07.80.tar.xz">granatier-18.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8bd59fb6b1bb455afe06b4cc31a103122456975c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/grantlee-editor-18.07.80.tar.xz">grantlee-editor-18.07.80</a></td>
   <td align="right">108kB</td>
   <td><tt>3fc5ee4c833c5607f604df0baea4aafa6b823a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/grantleetheme-18.07.80.tar.xz">grantleetheme-18.07.80</a></td>
   <td align="right">50kB</td>
   <td><tt>94754e3cacc43f9815459f7a1f0ad0c16074715c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/gwenview-18.07.80.tar.xz">gwenview-18.07.80</a></td>
   <td align="right">5.8MB</td>
   <td><tt>669a22d4f07443ea159b8ac955eed344b1e96cfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/incidenceeditor-18.07.80.tar.xz">incidenceeditor-18.07.80</a></td>
   <td align="right">515kB</td>
   <td><tt>9c443f61137c67d6601a7cecd592d9bb96cc3abf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/juk-18.07.80.tar.xz">juk-18.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4f8274f7d048ff5704ed13b03629c0d1fbb39a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/k3b-18.07.80.tar.xz">k3b-18.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>70c2d6b0084366385ed2c338786ca34e8e88465b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kaccounts-integration-18.07.80.tar.xz">kaccounts-integration-18.07.80</a></td>
   <td align="right">70kB</td>
   <td><tt>fcb2af11bd7c7ff28654a48d7083c69451dd6929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kaccounts-providers-18.07.80.tar.xz">kaccounts-providers-18.07.80</a></td>
   <td align="right">31kB</td>
   <td><tt>556f41476d0484b1431706982822d91f80679e73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kaddressbook-18.07.80.tar.xz">kaddressbook-18.07.80</a></td>
   <td align="right">533kB</td>
   <td><tt>1630299a47df43ab03ac72f4514381621b850c5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kajongg-18.07.80.tar.xz">kajongg-18.07.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>14d2fb47003ce6957bbdd8b76c8b4554e7a4e05e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kalarm-18.07.80.tar.xz">kalarm-18.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b0a18d5dd75c15cf96056b002c8dce2d74bdc5d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kalarmcal-18.07.80.tar.xz">kalarmcal-18.07.80</a></td>
   <td align="right">577kB</td>
   <td><tt>5e63cbbbac13ce7742ef8759137447ef3bf68bbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kalgebra-18.07.80.tar.xz">kalgebra-18.07.80</a></td>
   <td align="right">692kB</td>
   <td><tt>2c143bd0b48322771172087b81c949177ac33e0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kalzium-18.07.80.tar.xz">kalzium-18.07.80</a></td>
   <td align="right">23MB</td>
   <td><tt>4961f7d5762dc04bda1dd8ce9c1381bc64a6c8ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kamera-18.07.80.tar.xz">kamera-18.07.80</a></td>
   <td align="right">95kB</td>
   <td><tt>0bb73d6bf29339847b8b0301626bf7d0de899258</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kamoso-18.07.80.tar.xz">kamoso-18.07.80</a></td>
   <td align="right">178kB</td>
   <td><tt>89d53448c33786de735c3fda8ad8053245facbce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kanagram-18.07.80.tar.xz">kanagram-18.07.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>997b724a2b20318c0771f931a3714d028d57f811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kapman-18.07.80.tar.xz">kapman-18.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>511be25e443a62c6f0730e7e2d5a7cdaf6f0fbed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kapptemplate-18.07.80.tar.xz">kapptemplate-18.07.80</a></td>
   <td align="right">309kB</td>
   <td><tt>8bf695cf8de956a088fed3ee058b9a9e9945b05a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kate-18.07.80.tar.xz">kate-18.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>a2fbd59374a81a2b3594f853813438020f23ecc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/katomic-18.07.80.tar.xz">katomic-18.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>45ae820dfdda0ab85b83834c1b26607b2b27882e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kbackup-18.07.80.tar.xz">kbackup-18.07.80</a></td>
   <td align="right">340kB</td>
   <td><tt>7ecbced98fd93e01f5a8cc3e2cbec39c702ae867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kblackbox-18.07.80.tar.xz">kblackbox-18.07.80</a></td>
   <td align="right">395kB</td>
   <td><tt>d82cff870dcdc42bd0488279003688cafa614c07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kblocks-18.07.80.tar.xz">kblocks-18.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6080c9d885bd965428d06d985b2ae03f3db7f973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kblog-18.07.80.tar.xz">kblog-18.07.80</a></td>
   <td align="right">71kB</td>
   <td><tt>05fe507c3f54a1bba63045868ba25d3068a18267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kbounce-18.07.80.tar.xz">kbounce-18.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>c7709c43b52d57fc6e627c893911f58aaa723413</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kbreakout-18.07.80.tar.xz">kbreakout-18.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>df0fc6c69b4f4debd1fbc06ddece03b85082c7a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kbruch-18.07.80.tar.xz">kbruch-18.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>d41fe1b437a9e48ef8bb77e91b79faf83136415a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kcachegrind-18.07.80.tar.xz">kcachegrind-18.07.80</a></td>
   <td align="right">793kB</td>
   <td><tt>cfb803e72ee3edbce88d750ec3ebb8931500c8db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kcalc-18.07.80.tar.xz">kcalc-18.07.80</a></td>
   <td align="right">353kB</td>
   <td><tt>494b6506d6c44826af79c69dcd85e2dcba9ec554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kcalcore-18.07.80.tar.xz">kcalcore-18.07.80</a></td>
   <td align="right">246kB</td>
   <td><tt>1820a0ed71cbf16552587d744b541175538500d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kcalutils-18.07.80.tar.xz">kcalutils-18.07.80</a></td>
   <td align="right">319kB</td>
   <td><tt>51d50008aa51f684c75458d8ff98071e2b4029e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kcharselect-18.07.80.tar.xz">kcharselect-18.07.80</a></td>
   <td align="right">346kB</td>
   <td><tt>ae735ea16c13a4a995d52c0a91c8a154c9d8b6d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kcolorchooser-18.07.80.tar.xz">kcolorchooser-18.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>8710ea2fac7d0447d187123806b6ecc3075815b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kcontacts-18.07.80.tar.xz">kcontacts-18.07.80</a></td>
   <td align="right">203kB</td>
   <td><tt>eaf4878d5c1caaac97ce92152442cabebea6cc40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kcron-18.07.80.tar.xz">kcron-18.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>92d9009be7a782cc82351912e9f93d50883daa63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdav-18.07.80.tar.xz">kdav-18.07.80</a></td>
   <td align="right">48kB</td>
   <td><tt>fda42ef1c490dbfa0d6e3a2f36388273d6674eb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdebugsettings-18.07.80.tar.xz">kdebugsettings-18.07.80</a></td>
   <td align="right">50kB</td>
   <td><tt>f63f8e8af527b4307c1765043728bbcd4c776680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kde-dev-scripts-18.07.80.tar.xz">kde-dev-scripts-18.07.80</a></td>
   <td align="right">368kB</td>
   <td><tt>90713ff38c74b946037ff8d95280c040cc3909ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kde-dev-utils-18.07.80.tar.xz">kde-dev-utils-18.07.80</a></td>
   <td align="right">59kB</td>
   <td><tt>a946dfce6576e663b45e8e6e1816a0c89832a315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdeedu-data-18.07.80.tar.xz">kdeedu-data-18.07.80</a></td>
   <td align="right">319kB</td>
   <td><tt>26ee26188212f64b619243469d424e68353518dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdegraphics-mobipocket-18.07.80.tar.xz">kdegraphics-mobipocket-18.07.80</a></td>
   <td align="right">13kB</td>
   <td><tt>e56c15b3e6c76b196188ddc5eb2faefab4b6d87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdegraphics-thumbnailers-18.07.80.tar.xz">kdegraphics-thumbnailers-18.07.80</a></td>
   <td align="right">40kB</td>
   <td><tt>2790d65e34f296390ed053c307cc132eacbff0b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdenetwork-filesharing-18.07.80.tar.xz">kdenetwork-filesharing-18.07.80</a></td>
   <td align="right">316kB</td>
   <td><tt>ca2fe263884df0d521413a79a5df37525f46f525</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdenlive-18.07.80.tar.xz">kdenlive-18.07.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>743ac6e7a86d197ae638e279ee4231fc378a6d4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdepim-addons-18.07.80.tar.xz">kdepim-addons-18.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>833009aa97fd8048af82047d50b98580776a3d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdepim-apps-libs-18.07.80.tar.xz">kdepim-apps-libs-18.07.80</a></td>
   <td align="right">71kB</td>
   <td><tt>27c849e5913f2d281d109587cd7284f44d0272f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdepim-runtime-18.07.80.tar.xz">kdepim-runtime-18.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>09e7f3e206dc67dce5d000ceeac238c388fad426</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdesdk-kioslaves-18.07.80.tar.xz">kdesdk-kioslaves-18.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>4c329986d367a619abb858fb7ad218718ce86bd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdesdk-thumbnailers-18.07.80.tar.xz">kdesdk-thumbnailers-18.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>7a6c09b1ca5c1790f9d2ccf1abaa3231933691f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdf-18.07.80.tar.xz">kdf-18.07.80</a></td>
   <td align="right">521kB</td>
   <td><tt>d89ce3f10a69cc964c84edd7e46bb2441ce85fc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdialog-18.07.80.tar.xz">kdialog-18.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>ab765fe7988142b72c64796b69dcf6fac6d4dd02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kdiamond-18.07.80.tar.xz">kdiamond-18.07.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>9b650a2a71b930285a94f53921fd761dccc40b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/keditbookmarks-18.07.80.tar.xz">keditbookmarks-18.07.80</a></td>
   <td align="right">179kB</td>
   <td><tt>3f51337e12b5cedfd328c55b5df73c7d2f7293a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kfind-18.07.80.tar.xz">kfind-18.07.80</a></td>
   <td align="right">205kB</td>
   <td><tt>b9d6ea6398c5394fb2ee1c3d88c0f14c0fcc772a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kfloppy-18.07.80.tar.xz">kfloppy-18.07.80</a></td>
   <td align="right">195kB</td>
   <td><tt>7953cd99d8cc6f1790797d6e7f92c778591e67fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kfourinline-18.07.80.tar.xz">kfourinline-18.07.80</a></td>
   <td align="right">560kB</td>
   <td><tt>5e1c8878485059f89d13c8d11d7f5debd8f3dbe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kgeography-18.07.80.tar.xz">kgeography-18.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>e4bee809f5451baeb3e713fd92331ab20dd63016</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kget-18.07.80.tar.xz">kget-18.07.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>4ed833892edfa56997169bc5eacd205785352a44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kgoldrunner-18.07.80.tar.xz">kgoldrunner-18.07.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>580f512d17af098dd46a5a437aee690bf4c6b4ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kgpg-18.07.80.tar.xz">kgpg-18.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>d31a110807c17b658807a485d509e3bc80c29dc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/khangman-18.07.80.tar.xz">khangman-18.07.80</a></td>
   <td align="right">6.9MB</td>
   <td><tt>ae955875ad30e3a6ab6bcd5a1b41a1690232ae59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/khelpcenter-18.07.80.tar.xz">khelpcenter-18.07.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>18441c05fd6f63ca66c8745838ffc1f60aed0b75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kidentitymanagement-18.07.80.tar.xz">kidentitymanagement-18.07.80</a></td>
   <td align="right">144kB</td>
   <td><tt>89ad0a5f4d3d5fcb16418689902c59535cee4fde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kig-18.07.80.tar.xz">kig-18.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>052b9512a61d6789ddb14ce99d207a9a4e9976a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kigo-18.07.80.tar.xz">kigo-18.07.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>8df2aac0fefcb37475b3c8236b43202dc1d02fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/killbots-18.07.80.tar.xz">killbots-18.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>06162ef8c721393943b54ccee0f7706b1d3f284e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kimagemapeditor-18.07.80.tar.xz">kimagemapeditor-18.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>687343afc255aeeaaa5b3986e4a89c4fcf82d10d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kimap-18.07.80.tar.xz">kimap-18.07.80</a></td>
   <td align="right">116kB</td>
   <td><tt>eee0edf5e81b29dda122a473f99a68cab6a5f3dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kio-extras-18.07.80.tar.xz">kio-extras-18.07.80</a></td>
   <td align="right">535kB</td>
   <td><tt>7da2e53fbd2feb404d530c8547a859bc1ade00d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kiriki-18.07.80.tar.xz">kiriki-18.07.80</a></td>
   <td align="right">319kB</td>
   <td><tt>6cb9390c51d91ba6abcf6fe238fcf7099fef8645</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kiten-18.07.80.tar.xz">kiten-18.07.80</a></td>
   <td align="right">11MB</td>
   <td><tt>7b3cf2930d4e62e14070d3c1596f0bab30b01d36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kitinerary-18.07.80.tar.xz">kitinerary-18.07.80</a></td>
   <td align="right">607kB</td>
   <td><tt>edab207cbea268cd52eff2d885e9a86afc2f0b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kjumpingcube-18.07.80.tar.xz">kjumpingcube-18.07.80</a></td>
   <td align="right">287kB</td>
   <td><tt>092198acd07cb271961dc2b83115e45325edf027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kldap-18.07.80.tar.xz">kldap-18.07.80</a></td>
   <td align="right">152kB</td>
   <td><tt>20c875d61b3ad3f6b75b49dd6d363f2540785f08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kleopatra-18.07.80.tar.xz">kleopatra-18.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a3f4358e7fa6b922c6fbd9d1d1c2a98079d5a474</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/klettres-18.07.80.tar.xz">klettres-18.07.80</a></td>
   <td align="right">20MB</td>
   <td><tt>095c5a59741f1c9c2f9541dd55be0acd1f0842f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/klickety-18.07.80.tar.xz">klickety-18.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1c912198cdfbd9be94a077c9ff065aea0d9c4072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/klines-18.07.80.tar.xz">klines-18.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>0589f87e52ea3b8f774b0f2f8cad82cf8de58358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmag-18.07.80.tar.xz">kmag-18.07.80</a></td>
   <td align="right">575kB</td>
   <td><tt>c37d59a19e64cf6b113f9a718c87c201dddf1462</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmahjongg-18.07.80.tar.xz">kmahjongg-18.07.80</a></td>
   <td align="right">3.8MB</td>
   <td><tt>90435483f3773fa752bffcce0db0c7aa0056af84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmail-18.07.80.tar.xz">kmail-18.07.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d437aa00e99a987f8c3430e198ec21970fc74741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmail-account-wizard-18.07.80.tar.xz">kmail-account-wizard-18.07.80</a></td>
   <td align="right">152kB</td>
   <td><tt>b5283155ad0e3781ce43a8c87b0014ffeb43c70c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmailtransport-18.07.80.tar.xz">kmailtransport-18.07.80</a></td>
   <td align="right">162kB</td>
   <td><tt>c5d7a7fab3187f087fbaed9488aa10ddd55d0b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmbox-18.07.80.tar.xz">kmbox-18.07.80</a></td>
   <td align="right">23kB</td>
   <td><tt>bba49c88454f5f56ae26d74e25d239e6a4945fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmime-18.07.80.tar.xz">kmime-18.07.80</a></td>
   <td align="right">143kB</td>
   <td><tt>ef07b20c379dc1609280e88d52dca736d6bd2741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmines-18.07.80.tar.xz">kmines-18.07.80</a></td>
   <td align="right">861kB</td>
   <td><tt>92e4fd96de5af851b8e6666695811c1e59871d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmix-18.07.80.tar.xz">kmix-18.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4d33930090cdcffe90c0c8953e5ae237d6d00fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmousetool-18.07.80.tar.xz">kmousetool-18.07.80</a></td>
   <td align="right">110kB</td>
   <td><tt>6054241a6ec66775c16ddae834607d49af64c95e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmouth-18.07.80.tar.xz">kmouth-18.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>7f795d36e674cf1ee0e69f8df2bb5808d809a073</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kmplot-18.07.80.tar.xz">kmplot-18.07.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>52dc266eee994c32a25cceed64b4874ac656bfc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/knavalbattle-18.07.80.tar.xz">knavalbattle-18.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ecced46fc6f9a1fa404abbe1be5ffe8c598de7d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/knetwalk-18.07.80.tar.xz">knetwalk-18.07.80</a></td>
   <td align="right">958kB</td>
   <td><tt>419950defe858cadabed11aa1e259b98a173a73d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/knotes-18.07.80.tar.xz">knotes-18.07.80</a></td>
   <td align="right">331kB</td>
   <td><tt>fb28cf964fb8b53c13ea8c300381a4fe434f8272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kolf-18.07.80.tar.xz">kolf-18.07.80</a></td>
   <td align="right">903kB</td>
   <td><tt>36066696c3f1e9efd7d209988df8dd819eeb13d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kollision-18.07.80.tar.xz">kollision-18.07.80</a></td>
   <td align="right">266kB</td>
   <td><tt>ff847839c91548772770fff08278965d57c18923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kolourpaint-18.07.80.tar.xz">kolourpaint-18.07.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>f6159816412a1b68dc7385ade273ac3aca4e4120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kompare-18.07.80.tar.xz">kompare-18.07.80</a></td>
   <td align="right">695kB</td>
   <td><tt>e0c2d39c4ba083c6a8cf52a26f411f6416c64e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/konqueror-18.07.80.tar.xz">konqueror-18.07.80</a></td>
   <td align="right">7.3MB</td>
   <td><tt>f2b43d11073c4fc8940c7d2f79b602892e323e3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/konquest-18.07.80.tar.xz">konquest-18.07.80</a></td>
   <td align="right">643kB</td>
   <td><tt>3d687098ec20102ba39d1535aeac1a30dfa1234b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/konsole-18.07.80.tar.xz">konsole-18.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6ef210fc7fe35c26249346315397604cc4a269cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kontact-18.07.80.tar.xz">kontact-18.07.80</a></td>
   <td align="right">848kB</td>
   <td><tt>412d957059b3f6107453bc59a8d1699a70effa90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kontactinterface-18.07.80.tar.xz">kontactinterface-18.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>5afaf6749dbed837bbd6559b0a0bcdc15011891c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kopete-18.07.80.tar.xz">kopete-18.07.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>e8b4894f585c646de9c4b1159550fc2eeedb11f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/korganizer-18.07.80.tar.xz">korganizer-18.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e58bd3a12e4c38f6aad4b2cc1807e543252aca94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kpat-18.07.80.tar.xz">kpat-18.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>f8dbd2f405f5acada6c2eeb599ba9e1a3bbc70ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kpimtextedit-18.07.80.tar.xz">kpimtextedit-18.07.80</a></td>
   <td align="right">139kB</td>
   <td><tt>fbdbf084057af5f5135fbf3d5a2e3b8796297451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kpkpass-18.07.80.tar.xz">kpkpass-18.07.80</a></td>
   <td align="right">22kB</td>
   <td><tt>7945d6238a63ec984a8bcbdd7411d45cfc5ca38a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kqtquickcharts-18.07.80.tar.xz">kqtquickcharts-18.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>7152e07e5e177fb929929e52a43c38d1674b0ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/krdc-18.07.80.tar.xz">krdc-18.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>2442a8eb7d6bd5eb22d360d529c80db1a2d08505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kreversi-18.07.80.tar.xz">kreversi-18.07.80</a></td>
   <td align="right">892kB</td>
   <td><tt>c14f59eb4a39330078de107696dbcad303384c8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/krfb-18.07.80.tar.xz">krfb-18.07.80</a></td>
   <td align="right">972kB</td>
   <td><tt>b69fa92f0e1da0f113c4ff2d4e6ad2a19ec559e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kross-interpreters-18.07.80.tar.xz">kross-interpreters-18.07.80</a></td>
   <td align="right">141kB</td>
   <td><tt>c546aa7779e3f21a10d65714c6e5c35625fd0083</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kruler-18.07.80.tar.xz">kruler-18.07.80</a></td>
   <td align="right">289kB</td>
   <td><tt>3630b62f9a967062d14801a4ee39a13ba577729b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kshisen-18.07.80.tar.xz">kshisen-18.07.80</a></td>
   <td align="right">694kB</td>
   <td><tt>cb84661bec8d95056e955d7efd7f6f970fe3d807</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ksirk-18.07.80.tar.xz">ksirk-18.07.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>db0f3121fe678a69bc78e819b403667eee281dae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ksmtp-18.07.80.tar.xz">ksmtp-18.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>51289fc3df4de69fd4801ff52ff5b81102312e24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ksnakeduel-18.07.80.tar.xz">ksnakeduel-18.07.80</a></td>
   <td align="right">591kB</td>
   <td><tt>285550b0e163787c4be13a39b907cd8f48890e05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kspaceduel-18.07.80.tar.xz">kspaceduel-18.07.80</a></td>
   <td align="right">596kB</td>
   <td><tt>5b3e8c69b0e45b3634d6737a49e6df5ee944ea7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ksquares-18.07.80.tar.xz">ksquares-18.07.80</a></td>
   <td align="right">211kB</td>
   <td><tt>6655d6e25fb6a36fe11f79b46ec1d83fad5a9c32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ksudoku-18.07.80.tar.xz">ksudoku-18.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>539a60fe7d63949a87d93ec7b20ad91414c6f4f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ksystemlog-18.07.80.tar.xz">ksystemlog-18.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>df0189c1d18b22c2a6703e38cc9fa44b01266752</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kteatime-18.07.80.tar.xz">kteatime-18.07.80</a></td>
   <td align="right">290kB</td>
   <td><tt>b852454e7bea7686f765c57cad20803e136db7e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktimer-18.07.80.tar.xz">ktimer-18.07.80</a></td>
   <td align="right">445kB</td>
   <td><tt>bb9948cfd42752aec3debdbafe96286ec43ffed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktnef-18.07.80.tar.xz">ktnef-18.07.80</a></td>
   <td align="right">293kB</td>
   <td><tt>9f0741379166b695ba7ec79152d68afe4e022241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktouch-18.07.80.tar.xz">ktouch-18.07.80</a></td>
   <td align="right">4.8MB</td>
   <td><tt>99b178144cc813440972dc2eb52ce0fe339051ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-accounts-kcm-18.07.80.tar.xz">ktp-accounts-kcm-18.07.80</a></td>
   <td align="right">257kB</td>
   <td><tt>c731bd54fdb9b370a52fa03aa153b603b42c3b9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-approver-18.07.80.tar.xz">ktp-approver-18.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>170fc7873686848aab467d6cee59b82ac9bb3a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-auth-handler-18.07.80.tar.xz">ktp-auth-handler-18.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>1cfc0b3025cd8a3b76a3b7c798433057f4014755</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-call-ui-18.07.80.tar.xz">ktp-call-ui-18.07.80</a></td>
   <td align="right">95kB</td>
   <td><tt>f92ed4530a5fda54016014981cfb52808da0275d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-common-internals-18.07.80.tar.xz">ktp-common-internals-18.07.80</a></td>
   <td align="right">433kB</td>
   <td><tt>9a5c4cfff926646add74c9f0a551ce5dce09c515</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-contact-list-18.07.80.tar.xz">ktp-contact-list-18.07.80</a></td>
   <td align="right">143kB</td>
   <td><tt>f77abede88bae95e86d7b2724836d7fa087981b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-contact-runner-18.07.80.tar.xz">ktp-contact-runner-18.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>b87df2f25048fb5ebad0e58b5698589ee2934933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-desktop-applets-18.07.80.tar.xz">ktp-desktop-applets-18.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>f84e093cf444ef3ff161a4ba5fb9cbe3a9b38c61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-filetransfer-handler-18.07.80.tar.xz">ktp-filetransfer-handler-18.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>dc9ae005c0bb98acb59dbd1905f00ae06a91ec8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-kded-module-18.07.80.tar.xz">ktp-kded-module-18.07.80</a></td>
   <td align="right">92kB</td>
   <td><tt>ec8b48a333ab5042af3b4a4205bfcccec70a5428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-send-file-18.07.80.tar.xz">ktp-send-file-18.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>5344647b6ac1663a21d4e4f32f52d3e56b27a076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktp-text-ui-18.07.80.tar.xz">ktp-text-ui-18.07.80</a></td>
   <td align="right">458kB</td>
   <td><tt>fb4da2f1a8ee543c6bfa17a6efa19bdbc153275d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/ktuberling-18.07.80.tar.xz">ktuberling-18.07.80</a></td>
   <td align="right">31MB</td>
   <td><tt>513ad06a5ddeda3bf29930bbfe13febc65a0316a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kturtle-18.07.80.tar.xz">kturtle-18.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7c774213c9d19b3e5d0228ce6aa8d67694652f6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kubrick-18.07.80.tar.xz">kubrick-18.07.80</a></td>
   <td align="right">301kB</td>
   <td><tt>48ed2dc3f8cff80632363c49e94cfa3fbfe69438</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kwalletmanager-18.07.80.tar.xz">kwalletmanager-18.07.80</a></td>
   <td align="right">762kB</td>
   <td><tt>f3d06a6aba7c17b80e39ebbd4c0c72ccbfb0b939</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kwave-18.07.80.tar.xz">kwave-18.07.80</a></td>
   <td align="right">5.8MB</td>
   <td><tt>82ef8644e287de48b84a3d53ed5c2168ad6624e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/kwordquiz-18.07.80.tar.xz">kwordquiz-18.07.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>fd18b8c023250110c8218d15a2e7e7e796c98013</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libgravatar-18.07.80.tar.xz">libgravatar-18.07.80</a></td>
   <td align="right">29kB</td>
   <td><tt>e05bef26b3af40ca7798a60edae7f7dcae703461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkcddb-18.07.80.tar.xz">libkcddb-18.07.80</a></td>
   <td align="right">416kB</td>
   <td><tt>f2db6b377cc3672d1f3fc50fc9bf0ff6ae517a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkcompactdisc-18.07.80.tar.xz">libkcompactdisc-18.07.80</a></td>
   <td align="right">86kB</td>
   <td><tt>df9013e17b7380036256b7c0b5f300ec520bcaa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkdcraw-18.07.80.tar.xz">libkdcraw-18.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>b2228fb38e4951626d992a3e05e67d84573fc5e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkdegames-18.07.80.tar.xz">libkdegames-18.07.80</a></td>
   <td align="right">5.6MB</td>
   <td><tt>115bb536534e1c27666619d1c575692c34f8c5a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkdepim-18.07.80.tar.xz">libkdepim-18.07.80</a></td>
   <td align="right">333kB</td>
   <td><tt>c3f902112fc9b994a1c662bba0fba30ec4a83ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkeduvocdocument-18.07.80.tar.xz">libkeduvocdocument-18.07.80</a></td>
   <td align="right">205kB</td>
   <td><tt>d4afac03f66406c1019b1a57997a859a95385af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkexiv2-18.07.80.tar.xz">libkexiv2-18.07.80</a></td>
   <td align="right">63kB</td>
   <td><tt>f93da75b7226a4b6ba0851aafd3f4f952a673266</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkgapi-18.07.80.tar.xz">libkgapi-18.07.80</a></td>
   <td align="right">210kB</td>
   <td><tt>12f60fdc7054095becb511c3ddda3adc8774ea19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkgeomap-18.07.80.tar.xz">libkgeomap-18.07.80</a></td>
   <td align="right">146kB</td>
   <td><tt>61e9adac63f428591a359ee88e60dd990f90c3fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkipi-18.07.80.tar.xz">libkipi-18.07.80</a></td>
   <td align="right">101kB</td>
   <td><tt>fbef694dc2e3ed6b27f561dc023bbefd0956d16e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkleo-18.07.80.tar.xz">libkleo-18.07.80</a></td>
   <td align="right">327kB</td>
   <td><tt>08140d07d6ada8dcbca53d12881fe452dc419b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkmahjongg-18.07.80.tar.xz">libkmahjongg-18.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c3b80455eb550fb30d609d165a20de3b80fab533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libkomparediff2-18.07.80.tar.xz">libkomparediff2-18.07.80</a></td>
   <td align="right">172kB</td>
   <td><tt>59d8a0300faa3b78e5233a3c39a093b9f34a8f0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libksane-18.07.80.tar.xz">libksane-18.07.80</a></td>
   <td align="right">134kB</td>
   <td><tt>e1a94ffa46a22e623b6764ce855665061b4fdd1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/libksieve-18.07.80.tar.xz">libksieve-18.07.80</a></td>
   <td align="right">537kB</td>
   <td><tt>0c88172355b46a70fcff71dcdb1fe7b1d1dc7c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/lokalize-18.07.80.tar.xz">lokalize-18.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>25bb672c9aa0c65bd86535199ae1d58b1b764c7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/lskat-18.07.80.tar.xz">lskat-18.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>8bf931b6a900848f9abb02c6f5fd35da8478548d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/mailcommon-18.07.80.tar.xz">mailcommon-18.07.80</a></td>
   <td align="right">676kB</td>
   <td><tt>898e7b5afa26f0ac715429d9c8dab96e76d03529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/mailimporter-18.07.80.tar.xz">mailimporter-18.07.80</a></td>
   <td align="right">528kB</td>
   <td><tt>f44556a04182ce9fff2355accc7f9fb6c6ec890a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/marble-18.07.80.tar.xz">marble-18.07.80</a></td>
   <td align="right">50MB</td>
   <td><tt>f970d10b9bce5aeda3d6ccfb4f1365a5fc77be25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/mbox-importer-18.07.80.tar.xz">mbox-importer-18.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>e641d7aa6fab989ae3273779f0e9584efe882ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/messagelib-18.07.80.tar.xz">messagelib-18.07.80</a></td>
   <td align="right">9.9MB</td>
   <td><tt>6de78ec404882634946b95f4ce6017f104a9cb6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/minuet-18.07.80.tar.xz">minuet-18.07.80</a></td>
   <td align="right">26MB</td>
   <td><tt>4f5a910b8bdc5565256fe2c10a95f8ffd68e935a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/okular-18.07.80.tar.xz">okular-18.07.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>97aa61a4130aae797e312c6086c0cfc08e487355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/palapeli-18.07.80.tar.xz">palapeli-18.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>cf935c8b9a746f92558f07f81f21dd97aa7af5e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/parley-18.07.80.tar.xz">parley-18.07.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>44c884c6d963c98f1c0bda41e045e27976017ea7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/picmi-18.07.80.tar.xz">picmi-18.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>3dbef1dd4c7b349ca2afda3a3eb29d51f7148bf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/pimcommon-18.07.80.tar.xz">pimcommon-18.07.80</a></td>
   <td align="right">288kB</td>
   <td><tt>718f5bf5d3b386e79eb8443ecae8bb01fda16b87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/pim-data-exporter-18.07.80.tar.xz">pim-data-exporter-18.07.80</a></td>
   <td align="right">263kB</td>
   <td><tt>ec828a41c4b536c794917a551384124059379bca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/pim-sieve-editor-18.07.80.tar.xz">pim-sieve-editor-18.07.80</a></td>
   <td align="right">437kB</td>
   <td><tt>9d5453704ddaefb2559c630275d2d72608b4e14c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/poxml-18.07.80.tar.xz">poxml-18.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>296cf5d19de16b0735edf22ac96db6c31470a70f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/print-manager-18.07.80.tar.xz">print-manager-18.07.80</a></td>
   <td align="right">233kB</td>
   <td><tt>c08f2192380f21c11531bbed3933a291dc41aa84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/rocs-18.07.80.tar.xz">rocs-18.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f6422065b9f5a662b67358e8390c88dfacac0e68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/signon-kwallet-extension-18.07.80.tar.xz">signon-kwallet-extension-18.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>96bad8c7d770ecd8dae456db930a1b961b1e3a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/spectacle-18.07.80.tar.xz">spectacle-18.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8116060d0ba8a5ad2027edf1ed7f23e50c096e62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/step-18.07.80.tar.xz">step-18.07.80</a></td>
   <td align="right">842kB</td>
   <td><tt>0ae7330876e0d919e5b77c733098ce7be719b5d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/svgpart-18.07.80.tar.xz">svgpart-18.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>7801628106c1bbe4b6d8369c2b05b7ac837ec7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/sweeper-18.07.80.tar.xz">sweeper-18.07.80</a></td>
   <td align="right">359kB</td>
   <td><tt>2015619560d058b112bfe7e8baeb1a4608897118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/syndication-18.07.80.tar.xz">syndication-18.07.80</a></td>
   <td align="right">155kB</td>
   <td><tt>b96f550102b4a3567f9bc5aaaf5a467cbc4bb072</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/umbrello-18.07.80.tar.xz">umbrello-18.07.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f08abc88df866a75aca24cf88f24d880a93f2932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/18.07.80/src/zeroconf-ioslave-18.07.80.tar.xz">zeroconf-ioslave-18.07.80</a></td>
   <td align="right">38kB</td>
   <td><tt>cd970368ceca9787cf4a67adafd288021532e9d9</tt></td>
</tr>

</table>
