<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadi-19.12.2.tar.xz">akonadi-19.12.2</a></td>
   <td align="right">1545kB</td>
   <td><tt>bbcfa74f55fa6741cefb91ad03cd29ef04bc35ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadi-calendar-19.12.2.tar.xz">akonadi-calendar-19.12.2</a></td>
   <td align="right">324kB</td>
   <td><tt>c49dccd501dfb78dc7bf0c043d7fa4c64f9051d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadi-calendar-tools-19.12.2.tar.xz">akonadi-calendar-tools-19.12.2</a></td>
   <td align="right">218kB</td>
   <td><tt>16c44db14bc16b34d14579f51120518367f3af19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadiconsole-19.12.2.tar.xz">akonadiconsole-19.12.2</a></td>
   <td align="right">189kB</td>
   <td><tt>b6e9597180267c80a220462cae028a9a6a71afd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadi-contacts-19.12.2.tar.xz">akonadi-contacts-19.12.2</a></td>
   <td align="right">383kB</td>
   <td><tt>9c0999d23e79310283adb5c54ee1a2aaf1bf8a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadi-import-wizard-19.12.2.tar.xz">akonadi-import-wizard-19.12.2</a></td>
   <td align="right">428kB</td>
   <td><tt>90bc0c6bd9e3963aec3279d1b6fad8635c9b4b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadi-mime-19.12.2.tar.xz">akonadi-mime-19.12.2</a></td>
   <td align="right">128kB</td>
   <td><tt>ea9a9d5ac82040e1740b82c0e4e2499f7f6b6137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadi-notes-19.12.2.tar.xz">akonadi-notes-19.12.2</a></td>
   <td align="right">23kB</td>
   <td><tt>361d3432c543ddf0a09b9ceeea03a5bff9a8d75a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akonadi-search-19.12.2.tar.xz">akonadi-search-19.12.2</a></td>
   <td align="right">81kB</td>
   <td><tt>f7193fd6eecb82d087f15b5a53f92a4bbf3566ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/akregator-19.12.2.tar.xz">akregator-19.12.2</a></td>
   <td align="right">2141kB</td>
   <td><tt>16dc30a0c2c8e99a27c9e48670063378746faba7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/analitza-19.12.2.tar.xz">analitza-19.12.2</a></td>
   <td align="right">324kB</td>
   <td><tt>23ce3d85eaf03e8a87836951f6e8941a7421a341</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ark-19.12.2.tar.xz">ark-19.12.2</a></td>
   <td align="right">2525kB</td>
   <td><tt>cf4041ff27af7d576e2faae59dae2850f35d7830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/artikulate-19.12.2.tar.xz">artikulate-19.12.2</a></td>
   <td align="right">3908kB</td>
   <td><tt>adb6d275334b062cec35bc7724a96c86f47c44ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/audiocd-kio-19.12.2.tar.xz">audiocd-kio-19.12.2</a></td>
   <td align="right">348kB</td>
   <td><tt>81182d3aaad5428bbca7f00a8865ecb0a16ed35c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/baloo-widgets-19.12.2.tar.xz">baloo-widgets-19.12.2</a></td>
   <td align="right">254kB</td>
   <td><tt>792d98fe8a56ca6c634fc8f4bda1c283d9927889</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/blinken-19.12.2.tar.xz">blinken-19.12.2</a></td>
   <td align="right">2755kB</td>
   <td><tt>267028c03e0ed993f458631b20fc8f080c08df87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/bomber-19.12.2.tar.xz">bomber-19.12.2</a></td>
   <td align="right">802kB</td>
   <td><tt>b7cbff04f36fdb500076444de0b200dccec252ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/bovo-19.12.2.tar.xz">bovo-19.12.2</a></td>
   <td align="right">195kB</td>
   <td><tt>8bdb96a73f1728d5c4b6313e35e42dbbb03b257c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/calendarsupport-19.12.2.tar.xz">calendarsupport-19.12.2</a></td>
   <td align="right">632kB</td>
   <td><tt>95cd8d3cd3d241ebe302906abaff2de1586fd1b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/cantor-19.12.2.tar.xz">cantor-19.12.2</a></td>
   <td align="right">8798kB</td>
   <td><tt>1a3f5c6035283f8183b9b1c3d76071bb869ad6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/cervisia-19.12.2.tar.xz">cervisia-19.12.2</a></td>
   <td align="right">1849kB</td>
   <td><tt>79407b88bc4f27a164bdab41b2c26eefa416ac77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/dolphin-19.12.2.tar.xz">dolphin-19.12.2</a></td>
   <td align="right">4666kB</td>
   <td><tt>9a2ca34f60c7b9294c103819e22f4c26d60e114b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/dolphin-plugins-19.12.2.tar.xz">dolphin-plugins-19.12.2</a></td>
   <td align="right">191kB</td>
   <td><tt>c1d08a2b82b51891cb6ff353ee3f6a91fab9024c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/dragon-19.12.2.tar.xz">dragon-19.12.2</a></td>
   <td align="right">1319kB</td>
   <td><tt>8e80dc277459f3be432521f5d2f9d5e200562f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/elisa-19.12.2.tar.xz">elisa-19.12.2</a></td>
   <td align="right">1353kB</td>
   <td><tt>8617db35fca4636e808d18480d3ab60e21beb25d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/eventviews-19.12.2.tar.xz">eventviews-19.12.2</a></td>
   <td align="right">433kB</td>
   <td><tt>d6f48580bfb07d8bb1e2884f27dafa5bc0d72998</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ffmpegthumbs-19.12.2.tar.xz">ffmpegthumbs-19.12.2</a></td>
   <td align="right">26kB</td>
   <td><tt>93503a3ca12248858d786e193fd58ffa11757d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/filelight-19.12.2.tar.xz">filelight-19.12.2</a></td>
   <td align="right">645kB</td>
   <td><tt>d35aaa88895532a875e20fd7a19b2b2bff376f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/granatier-19.12.2.tar.xz">granatier-19.12.2</a></td>
   <td align="right">1899kB</td>
   <td><tt>d73cbbc695ce2e7b257a0a96ff57d41222328ab0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/grantlee-editor-19.12.2.tar.xz">grantlee-editor-19.12.2</a></td>
   <td align="right">109kB</td>
   <td><tt>f4ae7b1d4a3ecd226cc818f17c0878e1d54e2c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/grantleetheme-19.12.2.tar.xz">grantleetheme-19.12.2</a></td>
   <td align="right">53kB</td>
   <td><tt>908abe6cc908cb086491e9c7cd2038080de67313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/gwenview-19.12.2.tar.xz">gwenview-19.12.2</a></td>
   <td align="right">5602kB</td>
   <td><tt>2f74c47430de876d7d5c71d9c5cf511d26dcbd43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/incidenceeditor-19.12.2.tar.xz">incidenceeditor-19.12.2</a></td>
   <td align="right">535kB</td>
   <td><tt>c0d056d8031f73b9e25a39f458adc1477343ded6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/juk-19.12.2.tar.xz">juk-19.12.2</a></td>
   <td align="right">1821kB</td>
   <td><tt>32ed68fceb8eb4773852bbc524c561aeefad5004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/k3b-19.12.2.tar.xz">k3b-19.12.2</a></td>
   <td align="right">10269kB</td>
   <td><tt>7c88edcccfa501746202962f013101f0eb781501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kaccounts-integration-19.12.2.tar.xz">kaccounts-integration-19.12.2</a></td>
   <td align="right">64kB</td>
   <td><tt>c103a98aed7d708f46abf0f81907aee70ea4deeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kaccounts-providers-19.12.2.tar.xz">kaccounts-providers-19.12.2</a></td>
   <td align="right">31kB</td>
   <td><tt>724b7b4e452841129ad48760a0446f953f990825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kaddressbook-19.12.2.tar.xz">kaddressbook-19.12.2</a></td>
   <td align="right">2362kB</td>
   <td><tt>70dc1987ad753f14ee1080253af2598880c232e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kajongg-19.12.2.tar.xz">kajongg-19.12.2</a></td>
   <td align="right">4360kB</td>
   <td><tt>0f54c64a92b0278a89a716a9a5fc23f3b2993ff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kalarm-19.12.2.tar.xz">kalarm-19.12.2</a></td>
   <td align="right">1792kB</td>
   <td><tt>d1c6f497cdf56f5c24119175131eefc8c8e41e21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kalarmcal-19.12.2.tar.xz">kalarmcal-19.12.2</a></td>
   <td align="right">561kB</td>
   <td><tt>6a384f0c1f444c91deac5ad4cc3ae8680327e7a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kalgebra-19.12.2.tar.xz">kalgebra-19.12.2</a></td>
   <td align="right">1128kB</td>
   <td><tt>b3030a365e21df575b2776d64edd1a846c307882</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kalzium-19.12.2.tar.xz">kalzium-19.12.2</a></td>
   <td align="right">24009kB</td>
   <td><tt>4b7a49bff1941c994fc8d32d2c6920f27eb54a76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kamera-19.12.2.tar.xz">kamera-19.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>350a4098a9a6f48fd835585ab239fbee42b7b826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kamoso-19.12.2.tar.xz">kamoso-19.12.2</a></td>
   <td align="right">197kB</td>
   <td><tt>35945f86a2f9b0e782db443c74731652eab3ebec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kanagram-19.12.2.tar.xz">kanagram-19.12.2</a></td>
   <td align="right">7845kB</td>
   <td><tt>de0cab42dbda3c5f56264ed5eedd91e1654bceb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kapman-19.12.2.tar.xz">kapman-19.12.2</a></td>
   <td align="right">2467kB</td>
   <td><tt>5707f476096017e10311821a21afbe4eee445bc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kapptemplate-19.12.2.tar.xz">kapptemplate-19.12.2</a></td>
   <td align="right">309kB</td>
   <td><tt>1f91789de9ba96e2f1be222be33293a9eeca6830</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kate-19.12.2.tar.xz">kate-19.12.2</a></td>
   <td align="right">5598kB</td>
   <td><tt>53f440099d7a5c6874df3b09d1504eaa2e524fb6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/katomic-19.12.2.tar.xz">katomic-19.12.2</a></td>
   <td align="right">1389kB</td>
   <td><tt>9b978a8a9edd5dc85ff9acc8aea828a861408ca4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kbackup-19.12.2.tar.xz">kbackup-19.12.2</a></td>
   <td align="right">350kB</td>
   <td><tt>45db81af0378fc23fd08882ad77aec00fd9ad570</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kblackbox-19.12.2.tar.xz">kblackbox-19.12.2</a></td>
   <td align="right">436kB</td>
   <td><tt>8d7e6557652fd3c82215855c68d478d22652d932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kblocks-19.12.2.tar.xz">kblocks-19.12.2</a></td>
   <td align="right">1861kB</td>
   <td><tt>cc2dcd9653f50118b29da731053206a67e362dd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kblog-19.12.2.tar.xz">kblog-19.12.2</a></td>
   <td align="right">70kB</td>
   <td><tt>8d715abf0e19d836d79b6f90f3c2c0adf1e7e36c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kbounce-19.12.2.tar.xz">kbounce-19.12.2</a></td>
   <td align="right">3386kB</td>
   <td><tt>44c69401aff0baf7df526cf63103f2fc48c7a0a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kbreakout-19.12.2.tar.xz">kbreakout-19.12.2</a></td>
   <td align="right">2223kB</td>
   <td><tt>d91dac750824d06879527fdc7b7d20c6975484aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kbruch-19.12.2.tar.xz">kbruch-19.12.2</a></td>
   <td align="right">5473kB</td>
   <td><tt>75a030c60c90cfcc99291769d936bf1877dda02b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kcachegrind-19.12.2.tar.xz">kcachegrind-19.12.2</a></td>
   <td align="right">792kB</td>
   <td><tt>cfb0e486be3d1a76001bd4fd2833c0b86e6827af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kcalc-19.12.2.tar.xz">kcalc-19.12.2</a></td>
   <td align="right">365kB</td>
   <td><tt>9e262f82feb8d82b2d97685951b81bd9a33018bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kcalutils-19.12.2.tar.xz">kcalutils-19.12.2</a></td>
   <td align="right">313kB</td>
   <td><tt>149ecbec6ec213067058570ae27a546effdd6505</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kcharselect-19.12.2.tar.xz">kcharselect-19.12.2</a></td>
   <td align="right">327kB</td>
   <td><tt>d48c00de10e4681d428b354bb664e3c11c822c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kcolorchooser-19.12.2.tar.xz">kcolorchooser-19.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>e2b07ed488495724c41511ed33fc580334d0289e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kcron-19.12.2.tar.xz">kcron-19.12.2</a></td>
   <td align="right">870kB</td>
   <td><tt>3dd9b22e0811608bfe753580e59924e20c524862</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdav-19.12.2.tar.xz">kdav-19.12.2</a></td>
   <td align="right">53kB</td>
   <td><tt>0d8610934200871d88922f66a986fae1c4ea7776</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdebugsettings-19.12.2.tar.xz">kdebugsettings-19.12.2</a></td>
   <td align="right">62kB</td>
   <td><tt>08013011fd5b4d248cb0fa3ac8ca89c09fa22737</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kde-dev-scripts-19.12.2.tar.xz">kde-dev-scripts-19.12.2</a></td>
   <td align="right">369kB</td>
   <td><tt>aa68e2060ec96e53fa3017393f242f5d8015159a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kde-dev-utils-19.12.2.tar.xz">kde-dev-utils-19.12.2</a></td>
   <td align="right">62kB</td>
   <td><tt>91ca7e735fa1d0a9982e55982f3b97591070f908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdeedu-data-19.12.2.tar.xz">kdeedu-data-19.12.2</a></td>
   <td align="right">320kB</td>
   <td><tt>bef95bc39f002eafbc52802c2655afa6d11bd6a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdegraphics-mobipocket-19.12.2.tar.xz">kdegraphics-mobipocket-19.12.2</a></td>
   <td align="right">15kB</td>
   <td><tt>92e695d223237e8d6f708de02ab6688685c0caf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdegraphics-thumbnailers-19.12.2.tar.xz">kdegraphics-thumbnailers-19.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>74cd2fab7caec417d60a301f41f84c362406c50c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdenetwork-filesharing-19.12.2.tar.xz">kdenetwork-filesharing-19.12.2</a></td>
   <td align="right">311kB</td>
   <td><tt>f8b65e8c1fbc0c77a7fb9e5e78432fc1ae24bdf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdenlive-19.12.2.tar.xz">kdenlive-19.12.2</a></td>
   <td align="right">11173kB</td>
   <td><tt>9dc6f1db9db4259b07e5a0c9f2d4c0ed4ff3c730</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdepim-addons-19.12.2.tar.xz">kdepim-addons-19.12.2</a></td>
   <td align="right">2061kB</td>
   <td><tt>d28fe797f794823c44836856fca558d39d69cece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdepim-apps-libs-19.12.2.tar.xz">kdepim-apps-libs-19.12.2</a></td>
   <td align="right">81kB</td>
   <td><tt>4641fb760933de4c712a05a0901e3aaee6214bde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdepim-runtime-19.12.2.tar.xz">kdepim-runtime-19.12.2</a></td>
   <td align="right">1696kB</td>
   <td><tt>530fd8636d9ba80702b2cb679b286fd5be1ff1a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdesdk-kioslaves-19.12.2.tar.xz">kdesdk-kioslaves-19.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>9deeddabfb7c1e4e4041151593ed37192c518fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdesdk-thumbnailers-19.12.2.tar.xz">kdesdk-thumbnailers-19.12.2</a></td>
   <td align="right">17kB</td>
   <td><tt>aa3d7d81f016ce8c687e8404b9f2906cd2a4a11e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdf-19.12.2.tar.xz">kdf-19.12.2</a></td>
   <td align="right">451kB</td>
   <td><tt>faa854f6d13982d79ecbd19041a42e844daf3f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdialog-19.12.2.tar.xz">kdialog-19.12.2</a></td>
   <td align="right">101kB</td>
   <td><tt>a9d456aabec2e4d3babba820ed679506361365f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kdiamond-19.12.2.tar.xz">kdiamond-19.12.2</a></td>
   <td align="right">4584kB</td>
   <td><tt>5be12e9b5505b0ece0e3b362f2530c4d16cf7ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/keditbookmarks-19.12.2.tar.xz">keditbookmarks-19.12.2</a></td>
   <td align="right">183kB</td>
   <td><tt>7a4f478fd0843390d77a15a9fd4113686eba78de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kfind-19.12.2.tar.xz">kfind-19.12.2</a></td>
   <td align="right">264kB</td>
   <td><tt>30c1847e92cca844e2ff147f49f2ebdff52faca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kfloppy-19.12.2.tar.xz">kfloppy-19.12.2</a></td>
   <td align="right">194kB</td>
   <td><tt>c4793f1cd689548b6f40f7f7c26378e78df81cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kfourinline-19.12.2.tar.xz">kfourinline-19.12.2</a></td>
   <td align="right">623kB</td>
   <td><tt>375321caceb70f0e2ee480b2e4623a873067a253</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kgeography-19.12.2.tar.xz">kgeography-19.12.2</a></td>
   <td align="right">10601kB</td>
   <td><tt>08a91baa6b09c83455a66d77b4c09fd235ff6fb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kget-19.12.2.tar.xz">kget-19.12.2</a></td>
   <td align="right">5117kB</td>
   <td><tt>a615866baa81de285cbf0f52bd20eb30d257bf1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kgoldrunner-19.12.2.tar.xz">kgoldrunner-19.12.2</a></td>
   <td align="right">4331kB</td>
   <td><tt>bbb0a5fc0d98646c6899fc8b907927ca76a6b595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kgpg-19.12.2.tar.xz">kgpg-19.12.2</a></td>
   <td align="right">2724kB</td>
   <td><tt>ebad7794630ea77d67db81c274d1201fbcb18b20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/khangman-19.12.2.tar.xz">khangman-19.12.2</a></td>
   <td align="right">6955kB</td>
   <td><tt>ee7be5f0264aba54bcce00d138f34e14e8375971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/khelpcenter-19.12.2.tar.xz">khelpcenter-19.12.2</a></td>
   <td align="right">3758kB</td>
   <td><tt>b9dc1d0d1ba0d20e1030de2d21d6e5edcfd6b984</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kidentitymanagement-19.12.2.tar.xz">kidentitymanagement-19.12.2</a></td>
   <td align="right">145kB</td>
   <td><tt>a74272203793ab59c3176dd7a08cd115cb5fd111</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kig-19.12.2.tar.xz">kig-19.12.2</a></td>
   <td align="right">3419kB</td>
   <td><tt>25d0975102ebdad351acd24c370ba86735fced61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kigo-19.12.2.tar.xz">kigo-19.12.2</a></td>
   <td align="right">5106kB</td>
   <td><tt>cf2883c8075a3dd29cbe8e44583da7efcebb86db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/killbots-19.12.2.tar.xz">killbots-19.12.2</a></td>
   <td align="right">1147kB</td>
   <td><tt>4a31a15aa734d989bd1d6a2c3ae82b7085aa3a1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kimagemapeditor-19.12.2.tar.xz">kimagemapeditor-19.12.2</a></td>
   <td align="right">1045kB</td>
   <td><tt>6fd9b7b71de785d79980f2db13734fa34da7394c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kimap-19.12.2.tar.xz">kimap-19.12.2</a></td>
   <td align="right">117kB</td>
   <td><tt>f0f85e613e6b6c922e97fc8a516afdcc6a932b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kio-extras-19.12.2.tar.xz">kio-extras-19.12.2</a></td>
   <td align="right">566kB</td>
   <td><tt>9ac76ac47b5c4bba6faad9ce83e6e24c368fa1f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kipi-plugins-19.12.2.tar.xz">kipi-plugins-19.12.2</a></td>
   <td align="right">1600kB</td>
   <td><tt>3055798f32e1e246b1601f8e7a316dacfb9a7dfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kirigami-gallery-19.12.2.tar.xz">kirigami-gallery-19.12.2</a></td>
   <td align="right">269kB</td>
   <td><tt>e815566b7e19925c7de814bd6a259b5567b54dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kiriki-19.12.2.tar.xz">kiriki-19.12.2</a></td>
   <td align="right">364kB</td>
   <td><tt>2a54b24b876f319b18ba32e2393a40099d9379d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kiten-19.12.2.tar.xz">kiten-19.12.2</a></td>
   <td align="right">11021kB</td>
   <td><tt>477b8e3bf00588ffcf26ae64a88ff8fbbcf37d4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kitinerary-19.12.2.tar.xz">kitinerary-19.12.2</a></td>
   <td align="right">1155kB</td>
   <td><tt>96832eee508e3e1382bfc3bc0a521636ce3d3410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kjumpingcube-19.12.2.tar.xz">kjumpingcube-19.12.2</a></td>
   <td align="right">281kB</td>
   <td><tt>5149d730d5f03d2af9ba404e1a9337c1cae590eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kldap-19.12.2.tar.xz">kldap-19.12.2</a></td>
   <td align="right">151kB</td>
   <td><tt>2a101cdf6d5ee057d72455a86250eb45dcc95c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kleopatra-19.12.2.tar.xz">kleopatra-19.12.2</a></td>
   <td align="right">1881kB</td>
   <td><tt>468629521d0eae6ea2a6bbe5354f3ed7f49e8616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/klettres-19.12.2.tar.xz">klettres-19.12.2</a></td>
   <td align="right">39197kB</td>
   <td><tt>35ab67de1421728af220b62101baafee74e3fb67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/klickety-19.12.2.tar.xz">klickety-19.12.2</a></td>
   <td align="right">1357kB</td>
   <td><tt>ee333ebec5ab7df192f0395c2c6662d68cc01787</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/klines-19.12.2.tar.xz">klines-19.12.2</a></td>
   <td align="right">1739kB</td>
   <td><tt>632915e910f1f9fd917c8063b2c9b7cb966e5e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmag-19.12.2.tar.xz">kmag-19.12.2</a></td>
   <td align="right">658kB</td>
   <td><tt>ae0964be3646c2c00bc2117286184452a9b42c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmahjongg-19.12.2.tar.xz">kmahjongg-19.12.2</a></td>
   <td align="right">3345kB</td>
   <td><tt>b1093ff9512009ea77baba608fc7142002f6ffd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmail-19.12.2.tar.xz">kmail-19.12.2</a></td>
   <td align="right">4597kB</td>
   <td><tt>1546203574f9c2d3116b9e6deed55b0173e87623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmail-account-wizard-19.12.2.tar.xz">kmail-account-wizard-19.12.2</a></td>
   <td align="right">155kB</td>
   <td><tt>f0c8c3c94e4d5e74258d2f1b893fc16b4bfb49e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmailtransport-19.12.2.tar.xz">kmailtransport-19.12.2</a></td>
   <td align="right">163kB</td>
   <td><tt>9c1605f1932819fe8d16d246f21c2ea8c9d37593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmbox-19.12.2.tar.xz">kmbox-19.12.2</a></td>
   <td align="right">24kB</td>
   <td><tt>0ab75a9a50755a9448590bbfa57e96810e3a2fe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmime-19.12.2.tar.xz">kmime-19.12.2</a></td>
   <td align="right">143kB</td>
   <td><tt>7d37e28a4ded0b9a2f46988612feff4cc3c3402b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmines-19.12.2.tar.xz">kmines-19.12.2</a></td>
   <td align="right">877kB</td>
   <td><tt>82d70c5cca02bf65d177085e01c71020058c2ebb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmix-19.12.2.tar.xz">kmix-19.12.2</a></td>
   <td align="right">983kB</td>
   <td><tt>3f1b3ae3b49fb8659821c98d424b913e2ceaf12f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmousetool-19.12.2.tar.xz">kmousetool-19.12.2</a></td>
   <td align="right">111kB</td>
   <td><tt>49d1f49fbca3d01ca637e688674db00889dd22ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmouth-19.12.2.tar.xz">kmouth-19.12.2</a></td>
   <td align="right">1918kB</td>
   <td><tt>2bb5068f45d40514ed71bbe5a3e6ba35e347fc53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kmplot-19.12.2.tar.xz">kmplot-19.12.2</a></td>
   <td align="right">2983kB</td>
   <td><tt>244b6cd8ae1f68d378a7fa0cec018547e8c784d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/knavalbattle-19.12.2.tar.xz">knavalbattle-19.12.2</a></td>
   <td align="right">1251kB</td>
   <td><tt>ac61f7ce056918d28e29e55ed2c0a45ffdf57391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/knetwalk-19.12.2.tar.xz">knetwalk-19.12.2</a></td>
   <td align="right">1016kB</td>
   <td><tt>4c884caa62e2457ad07f5f17e632d5bb503c0d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/knights-19.12.2.tar.xz">knights-19.12.2</a></td>
   <td align="right">3435kB</td>
   <td><tt>04a18f105dffb7eb9cb5fdcb9574af2fb53e0aba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/knotes-19.12.2.tar.xz">knotes-19.12.2</a></td>
   <td align="right">312kB</td>
   <td><tt>fdd9a18f1aca220c4c1ceda0e34807151042fdfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kolf-19.12.2.tar.xz">kolf-19.12.2</a></td>
   <td align="right">1005kB</td>
   <td><tt>d92536688683f567189dea83eccccd7b46c62190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kollision-19.12.2.tar.xz">kollision-19.12.2</a></td>
   <td align="right">274kB</td>
   <td><tt>e1618a5879004ca9c2a16b169b132949a1aee39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kolourpaint-19.12.2.tar.xz">kolourpaint-19.12.2</a></td>
   <td align="right">5520kB</td>
   <td><tt>7d3f888560eaad738d5bee94ebb850ffb20a6546</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kompare-19.12.2.tar.xz">kompare-19.12.2</a></td>
   <td align="right">783kB</td>
   <td><tt>f37d0e3ee2827ec689165c0b033e6fb9a927b972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/konqueror-19.12.2.tar.xz">konqueror-19.12.2</a></td>
   <td align="right">7206kB</td>
   <td><tt>88300c0909c2b69dac4130021a51641b0fa9cd69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/konquest-19.12.2.tar.xz">konquest-19.12.2</a></td>
   <td align="right">643kB</td>
   <td><tt>2111b0b55be107f662fe0ee775d82c227797bf49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/konsole-19.12.2.tar.xz">konsole-19.12.2</a></td>
   <td align="right">1132kB</td>
   <td><tt>e5906e9f431a908f7d5019a2c8f4d4c18c9a4800</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kontact-19.12.2.tar.xz">kontact-19.12.2</a></td>
   <td align="right">772kB</td>
   <td><tt>d58240712a7f1a9c18e046220c64bf3906d7dd52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kontactinterface-19.12.2.tar.xz">kontactinterface-19.12.2</a></td>
   <td align="right">32kB</td>
   <td><tt>e419a750e89da65f4268361a50f8d0e8a7d2ffa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kopete-19.12.2.tar.xz">kopete-19.12.2</a></td>
   <td align="right">9156kB</td>
   <td><tt>43f54f6d3865be2578c25960738a412288cdbb3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/korganizer-19.12.2.tar.xz">korganizer-19.12.2</a></td>
   <td align="right">2173kB</td>
   <td><tt>19c93512d3d396722fa38fc6235c1e2dcc9106a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kpat-19.12.2.tar.xz">kpat-19.12.2</a></td>
   <td align="right">3494kB</td>
   <td><tt>1d25d2d283455c8cbe5df56fb795358daf147eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kpimtextedit-19.12.2.tar.xz">kpimtextedit-19.12.2</a></td>
   <td align="right">163kB</td>
   <td><tt>d273f53b6ba91ea079cf31d18efe81cd87fe1cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kpkpass-19.12.2.tar.xz">kpkpass-19.12.2</a></td>
   <td align="right">22kB</td>
   <td><tt>0dfc1d6abd8fd1f73446c2ef6a7dd358da939e30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kqtquickcharts-19.12.2.tar.xz">kqtquickcharts-19.12.2</a></td>
   <td align="right">25kB</td>
   <td><tt>6fefb7a6f94945b2a3c73eb3ab6a9120c0c7ce86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/krdc-19.12.2.tar.xz">krdc-19.12.2</a></td>
   <td align="right">1391kB</td>
   <td><tt>f36f41d505e5c7ab4e3f9ede02cb400f70069fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kreversi-19.12.2.tar.xz">kreversi-19.12.2</a></td>
   <td align="right">923kB</td>
   <td><tt>a083df6d81c174f4b159fc20b9f3f9d0595b4190</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/krfb-19.12.2.tar.xz">krfb-19.12.2</a></td>
   <td align="right">1246kB</td>
   <td><tt>113983b592cd5c99371c69e9e3a83db844ecf071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kross-interpreters-19.12.2.tar.xz">kross-interpreters-19.12.2</a></td>
   <td align="right">147kB</td>
   <td><tt>765503b8d385d7aea5ac1ad08b76dc17ad853acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kruler-19.12.2.tar.xz">kruler-19.12.2</a></td>
   <td align="right">244kB</td>
   <td><tt>c8c677652fa6af4cdc736244fb6d11fe6a472daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kshisen-19.12.2.tar.xz">kshisen-19.12.2</a></td>
   <td align="right">803kB</td>
   <td><tt>65f320c3d846a287d171d778ddcc1180e180e477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ksirk-19.12.2.tar.xz">ksirk-19.12.2</a></td>
   <td align="right">6831kB</td>
   <td><tt>ee93e3c3e482f8ad73d6485c51317dd177e5bd05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ksmtp-19.12.2.tar.xz">ksmtp-19.12.2</a></td>
   <td align="right">39kB</td>
   <td><tt>049cc1339b6dae4cedfb711a10c08b8a01369680</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ksnakeduel-19.12.2.tar.xz">ksnakeduel-19.12.2</a></td>
   <td align="right">590kB</td>
   <td><tt>eb34109080861456861cadbe44fa350690be15ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kspaceduel-19.12.2.tar.xz">kspaceduel-19.12.2</a></td>
   <td align="right">596kB</td>
   <td><tt>5bd2b1f0ddd6dc72d8e3a6d64b6b421c491bebe5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ksquares-19.12.2.tar.xz">ksquares-19.12.2</a></td>
   <td align="right">254kB</td>
   <td><tt>d7888cbdaac64df281cef5bcd27e67d18a51d54a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ksudoku-19.12.2.tar.xz">ksudoku-19.12.2</a></td>
   <td align="right">1611kB</td>
   <td><tt>c413894909fb41df861f531a8ff24387f9000225</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ksystemlog-19.12.2.tar.xz">ksystemlog-19.12.2</a></td>
   <td align="right">1883kB</td>
   <td><tt>c7c5c1a086300f0755f883791737e3ada9e944a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kteatime-19.12.2.tar.xz">kteatime-19.12.2</a></td>
   <td align="right">280kB</td>
   <td><tt>e051f64e89d9089eeb3b3e872e2cbeb7bb180fc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktimer-19.12.2.tar.xz">ktimer-19.12.2</a></td>
   <td align="right">368kB</td>
   <td><tt>e0ce136f0230202c171407e3f298dd8f8b0872e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktnef-19.12.2.tar.xz">ktnef-19.12.2</a></td>
   <td align="right">292kB</td>
   <td><tt>a4895c3538000bc68f05aef70a1afd398dbb24b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktouch-19.12.2.tar.xz">ktouch-19.12.2</a></td>
   <td align="right">4815kB</td>
   <td><tt>8a9c20714d4bd2fc4f585e58524600973b3b6d5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-accounts-kcm-19.12.2.tar.xz">ktp-accounts-kcm-19.12.2</a></td>
   <td align="right">259kB</td>
   <td><tt>ffe4482e478785dc71520b6f5eef332e62033f7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-approver-19.12.2.tar.xz">ktp-approver-19.12.2</a></td>
   <td align="right">36kB</td>
   <td><tt>f69bcb4d6e4a8d17ac562a6be678cf07f4ae5084</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-auth-handler-19.12.2.tar.xz">ktp-auth-handler-19.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>29b78e036fd424540e6a43f8b5b445109f6d996f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-call-ui-19.12.2.tar.xz">ktp-call-ui-19.12.2</a></td>
   <td align="right">95kB</td>
   <td><tt>8aa5521c225a5b6bf8bd229a2cfa987cfeee3987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-common-internals-19.12.2.tar.xz">ktp-common-internals-19.12.2</a></td>
   <td align="right">435kB</td>
   <td><tt>de3d8ec25825f1f862234401ac94d13127ba4743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-contact-list-19.12.2.tar.xz">ktp-contact-list-19.12.2</a></td>
   <td align="right">145kB</td>
   <td><tt>232a0c3475cd766b998fb4d6b51b9b3ccad3cc8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-contact-runner-19.12.2.tar.xz">ktp-contact-runner-19.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>3d025eee236aa2c9ebf76563a36fc9eb490ed40b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-desktop-applets-19.12.2.tar.xz">ktp-desktop-applets-19.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>996d6b69f6a691b18ae4924cb51ef06439305713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-filetransfer-handler-19.12.2.tar.xz">ktp-filetransfer-handler-19.12.2</a></td>
   <td align="right">45kB</td>
   <td><tt>0f3a73382a9c1c7b464a7cb12937a56cde164829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-kded-module-19.12.2.tar.xz">ktp-kded-module-19.12.2</a></td>
   <td align="right">94kB</td>
   <td><tt>9eb33b7d6036b7f0be513dd72873a9aa1d66e53c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-send-file-19.12.2.tar.xz">ktp-send-file-19.12.2</a></td>
   <td align="right">28kB</td>
   <td><tt>b090975c121854ee4724869936ab817eab584672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktp-text-ui-19.12.2.tar.xz">ktp-text-ui-19.12.2</a></td>
   <td align="right">459kB</td>
   <td><tt>6a5af3c24d67e4be174e89061e53e69f27be07d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/ktuberling-19.12.2.tar.xz">ktuberling-19.12.2</a></td>
   <td align="right">69098kB</td>
   <td><tt>0345048571b7171177d6a41479b8f71c89fb6c5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kturtle-19.12.2.tar.xz">kturtle-19.12.2</a></td>
   <td align="right">1787kB</td>
   <td><tt>df152383cd3419730035343e26eb2dfbb4a6ef17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kubrick-19.12.2.tar.xz">kubrick-19.12.2</a></td>
   <td align="right">310kB</td>
   <td><tt>a027a2b2a474b35695840308837e571d22ebeb7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kwalletmanager-19.12.2.tar.xz">kwalletmanager-19.12.2</a></td>
   <td align="right">770kB</td>
   <td><tt>11a0f25f7a76bb01978c308f35640d561f856816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kwave-19.12.2.tar.xz">kwave-19.12.2</a></td>
   <td align="right">6054kB</td>
   <td><tt>35c3f55dbc25b9756bb41a84d61ff844e4634dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/kwordquiz-19.12.2.tar.xz">kwordquiz-19.12.2</a></td>
   <td align="right">4077kB</td>
   <td><tt>9e2ff204bdf023bf8340f4c770a90b94de2d5985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libgravatar-19.12.2.tar.xz">libgravatar-19.12.2</a></td>
   <td align="right">30kB</td>
   <td><tt>32b3175099ec43896a66be162afe1bd22c778d7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkcddb-19.12.2.tar.xz">libkcddb-19.12.2</a></td>
   <td align="right">413kB</td>
   <td><tt>381f269e493637de4356c212f787e9879e04ce88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkcompactdisc-19.12.2.tar.xz">libkcompactdisc-19.12.2</a></td>
   <td align="right">86kB</td>
   <td><tt>dd039a2be5729c6a91374965a8603244336cfa58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkdcraw-19.12.2.tar.xz">libkdcraw-19.12.2</a></td>
   <td align="right">41kB</td>
   <td><tt>f0ee1fb99a7c68abf62e0e5ccacfcf23b25e169b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkdegames-19.12.2.tar.xz">libkdegames-19.12.2</a></td>
   <td align="right">6232kB</td>
   <td><tt>a702464b9d06d55e3a2cd0d9e0293cbf16ebeb60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkdepim-19.12.2.tar.xz">libkdepim-19.12.2</a></td>
   <td align="right">325kB</td>
   <td><tt>3720eeb5833ce3ba52c6481cc77506b89d517ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkeduvocdocument-19.12.2.tar.xz">libkeduvocdocument-19.12.2</a></td>
   <td align="right">201kB</td>
   <td><tt>35621465c08cdb669319e53e5152c74044aaf71e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkexiv2-19.12.2.tar.xz">libkexiv2-19.12.2</a></td>
   <td align="right">63kB</td>
   <td><tt>4f83eeffc2281deb32d18a52da181ac3f50b0a7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkgapi-19.12.2.tar.xz">libkgapi-19.12.2</a></td>
   <td align="right">232kB</td>
   <td><tt>9bf8c66bc2a9ed10c1a53de6bd4084c4d8416b8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkgeomap-19.12.2.tar.xz">libkgeomap-19.12.2</a></td>
   <td align="right">147kB</td>
   <td><tt>6115a828916991002a2e5671e2726590fc5d753c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkipi-19.12.2.tar.xz">libkipi-19.12.2</a></td>
   <td align="right">100kB</td>
   <td><tt>d9bc435c160f167e1c7eec7daf96baf854b6dace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkleo-19.12.2.tar.xz">libkleo-19.12.2</a></td>
   <td align="right">335kB</td>
   <td><tt>4539324f05173cb4fd7a53ecdc693b7e91fe11f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkmahjongg-19.12.2.tar.xz">libkmahjongg-19.12.2</a></td>
   <td align="right">1643kB</td>
   <td><tt>f664a20a2d9a62974237d31a7929724f0383cfcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libkomparediff2-19.12.2.tar.xz">libkomparediff2-19.12.2</a></td>
   <td align="right">166kB</td>
   <td><tt>153aaabb0889013013cdfdef5f7b82d99d8c7b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libksane-19.12.2.tar.xz">libksane-19.12.2</a></td>
   <td align="right">136kB</td>
   <td><tt>2121555a0599fb94c3a14f2bdeb80a32a1d3eb40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/libksieve-19.12.2.tar.xz">libksieve-19.12.2</a></td>
   <td align="right">540kB</td>
   <td><tt>34e0f99fad1be53f037713a9e70567a7b17889b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/lokalize-19.12.2.tar.xz">lokalize-19.12.2</a></td>
   <td align="right">1660kB</td>
   <td><tt>dcb3fd9e68da32369a98196819e37a1e8ebc0cd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/lskat-19.12.2.tar.xz">lskat-19.12.2</a></td>
   <td align="right">1190kB</td>
   <td><tt>30e1589947948955fa2100aeb73663422690eee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/mailcommon-19.12.2.tar.xz">mailcommon-19.12.2</a></td>
   <td align="right">682kB</td>
   <td><tt>ad83dabb9d2e9d16a8e53e67ab1dbe1723463e96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/mailimporter-19.12.2.tar.xz">mailimporter-19.12.2</a></td>
   <td align="right">528kB</td>
   <td><tt>b08102a05a2d811dc54a492f201647c35073d228</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/marble-19.12.2.tar.xz">marble-19.12.2</a></td>
   <td align="right">50995kB</td>
   <td><tt>be73b7aeb2c035c26257b049522309cc9ee2b6d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/mbox-importer-19.12.2.tar.xz">mbox-importer-19.12.2</a></td>
   <td align="right">32kB</td>
   <td><tt>4a1ec5916addaa681e50f63a0f913a5bffd762b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/messagelib-19.12.2.tar.xz">messagelib-19.12.2</a></td>
   <td align="right">10214kB</td>
   <td><tt>d2195306fb1f8fc05999e63973c9d0d3bf70ea3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/minuet-19.12.2.tar.xz">minuet-19.12.2</a></td>
   <td align="right">26945kB</td>
   <td><tt>195e552680107c425d3858b226a3b458245bf01f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/okular-19.12.2.tar.xz">okular-19.12.2</a></td>
   <td align="right">7034kB</td>
   <td><tt>65587b3a87804b99331a160b46e1212d83991e79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/palapeli-19.12.2.tar.xz">palapeli-19.12.2</a></td>
   <td align="right">2021kB</td>
   <td><tt>d566dcec788c9db2cbf3feb0ecf3a47c5d7544f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/parley-19.12.2.tar.xz">parley-19.12.2</a></td>
   <td align="right">8621kB</td>
   <td><tt>0b69f8a1bbb8a219521ef266470f8e906a3db5a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/picmi-19.12.2.tar.xz">picmi-19.12.2</a></td>
   <td align="right">1325kB</td>
   <td><tt>d0837832a2f78ad78456c2792c59b2d5805b0941</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/pimcommon-19.12.2.tar.xz">pimcommon-19.12.2</a></td>
   <td align="right">286kB</td>
   <td><tt>ff521d063c78dffd0a6dfd07766a01e4c9b3bbbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/pim-data-exporter-19.12.2.tar.xz">pim-data-exporter-19.12.2</a></td>
   <td align="right">200kB</td>
   <td><tt>752002edfffb1014a9884ae4ee52ce41b8fb0e8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/pim-sieve-editor-19.12.2.tar.xz">pim-sieve-editor-19.12.2</a></td>
   <td align="right">440kB</td>
   <td><tt>215b7209991e0f9ded93560290dca866154d5272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/poxml-19.12.2.tar.xz">poxml-19.12.2</a></td>
   <td align="right">42kB</td>
   <td><tt>2b4f72cb424c06f294047022043eacfbe0f9424d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/print-manager-19.12.2.tar.xz">print-manager-19.12.2</a></td>
   <td align="right">245kB</td>
   <td><tt>049fe1f23bdbf80bdab968a69306ea10985c20d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/rocs-19.12.2.tar.xz">rocs-19.12.2</a></td>
   <td align="right">1481kB</td>
   <td><tt>a8860688ec0640b9c7272a2830b37dd28dff84ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/signon-kwallet-extension-19.12.2.tar.xz">signon-kwallet-extension-19.12.2</a></td>
   <td align="right">10kB</td>
   <td><tt>7e7139c3ddfda76fbcfbcb60d5b2dd97756cfa6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/spectacle-19.12.2.tar.xz">spectacle-19.12.2</a></td>
   <td align="right">637kB</td>
   <td><tt>375d7f1b3cd74e3cfb66162ef0a4a8c6341f29ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/step-19.12.2.tar.xz">step-19.12.2</a></td>
   <td align="right">893kB</td>
   <td><tt>92a7d79578d86683bd6813bc480fd3941ca4ea98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/svgpart-19.12.2.tar.xz">svgpart-19.12.2</a></td>
   <td align="right">20kB</td>
   <td><tt>61f69fa0e0def5e23113cd2768fac44b14583e6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/sweeper-19.12.2.tar.xz">sweeper-19.12.2</a></td>
   <td align="right">359kB</td>
   <td><tt>d77d6961b62bd0a53d5c93b9027e35cdff484b92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/umbrello-19.12.2.tar.xz">umbrello-19.12.2</a></td>
   <td align="right">3705kB</td>
   <td><tt>422db6e233b5d603ce1f45a157075be0d6e42d85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/yakuake-19.12.2.tar.xz">yakuake-19.12.2</a></td>
   <td align="right">363kB</td>
   <td><tt>b3c7c77d382d70c575fabfc8783ebef9207a0968</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/19.12.2/src/zeroconf-ioslave-19.12.2.tar.xz">zeroconf-ioslave-19.12.2</a></td>
   <td align="right">41kB</td>
   <td><tt>b9b11a5acc9c4fda4e2c02a2f426e9c9f242e202</tt></td>
</tr>

</table>
